<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tirscan</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,900,300,100'>
    <link rel="stylesheet" type='text/css' href="/assets/css/bootstrap.css">
    <link rel="stylesheet" type='text/css' href="/assets/css/bootstrap.vertical-tabs.min.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.css">
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css" />
    <link rel="stylesheet" type='text/css' href="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.1/jquery.qtip.min.css" />
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.min.css" />
    <link rel="stylesheet" type='text/css' href="/assets/css/style.css" />
    <link rel="stylesheet" type='text/css' href="/assets/css/additionalStyle.css" />
    <!--[if lt IE 9]>
    <script src="http://html5shiv-printshiv.googlecode.com/svn/trunk/html5shiv-printshiv.js"></script>
    <![endif]-->
</head>

<body>

<div class="header">
    <div class="container-fluid top">
        <div class="container center">
            <nav class="navbar navbar-default top">
                <div class="container-fluid">
                    <div class="navbar-header top">
                    </div>
                    <div class="navbar-collapse collapse in" id="bs-example-navbar-collapse-1" aria-expanded="true">
                        <ul class="nav navbar-nav left">
                            <li><a href="#">Опис системи</a></li>
                            <li><a href="#">Публічна оферта </a></li>
                            <li><a href="#">Політика приватності</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="box-flag ukr"></span>Укр <i class="fa fa-angle-down fa-lg"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><span class="box-flag ukr"></span>Action</a></li>
                                    <li><a href="#"><span class="box-flag ukr"></span>Another action</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle divider" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="box-flag ukr"></span>UAH Гривня <i class="fa fa-angle-down fa-lg"></i>
                                </a>
                                <ul class="dropdown-menu currency">
                                    <li><a href="#"><span class="box-flag ukr"></span>Action</a></li>
                                    <li><a href="#"><span class="box-flag ukr"></span>Another action</a></li>
                                </ul>
                            </li>
                            <li class="dropdown logo-user none">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> aleks.rykalsky@gmail.com
                                </a>
                                <ul class="dropdown-menu user">
                                    <li><a href="#">МОЇ ПОВІДОМЛЕННЯ<span>17</span><i class="fa fa-bars fa-lg"></i></a></li>
                                    <li><a href="#">МОЇ ЗАЯВКИ<span>19</span><i class="fa fa-pie-chart fa-lg fa-flip-horizontal"></i></a></li>
                                    <li><a href="#">МІЙ ПРОФІЛЬ<i class="fa fa-cog fa-lg"></i></a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">ВИЙТИ З ПОРТАЛУ<i class="fa fa-sign-out fa-lg"></i></a></li>
                                </ul>
                            </li>
                            <li class="none">
                                <a href="#">
                                    <div class="numb"><sup>36</sup></div>
                                </a>
                            </li>
                            <li><a href="#"><i class="fa fa-sign-out fa-lg"></i>Вхід</a></li>
                            <li class="last"><a href="#"><i class="fa fa-pencil-square-o fa-lg"></i>Реєстрація</a></li>
                            <li class="none"><a href="#"><i class="fa fa-sign-out fa-lg"></i>Вихід</a></li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="container center">
            <nav class="navbar navbar-default bottom">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="#">
                            <div class="logo-top"></div>
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                        <ul class="nav navbar-nav">
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Вантажі</a></li>
                            <li><a href="#">Транспорт</a></li>
                            <li><a href="#">Компанії</a></li>
                            <li><a href="#">Прес-центр</a></li>
                            <li><a href="#">ОГОЛОШЕННЯ</a></li>
                            <li><a href="#">Контакти </a></li>
                            <li>
                                <a href="#">
                                    <form role="search" method="get" id="searchform" action="">
                                        <label for="s">
                                            <i class="fa fa-search"></i>
                                        </label>
                                        <input type="text" placeholder="Пошук" id="s" />
                                    </form>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
    </div>
    <div class="container-fluid bottom breadcrumbs">
        <div class="container center">
            <div class="row hero">
                <div class="col-md-9 hero">
                    <div class="hero-text-block">
                        <span class="border-yellow"></span>
                        <p class="hero-text">
                            ДОДАТИ ТРАНСПОРТ

                        </p>
                        <ol class="breadcrumb page">
                            <li><a href="#">Головна</a></li>
                            <li class="active">Транспорт</li>
                        </ol>
                    </div>
                </div>
                <div class="col-md-3 hero">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content addTransportContent">
<div class="greyFluidContainer">
    <div class="container-fluid ">
        <div class="container center ">
            <div class="formHolder">
                <form>
                    <label for="uploadBeginDate">Завантаження:</label>
                    <div class="form-group uploadDate">
                        <input type="text" class="form-control datepicker" id="uploadBeginDate" placeholder="Дата з">
                        <input type="text" class="form-control datepicker" id="uploadEndDate" placeholder="Дата по">
                    </div>
                </form>
                <form class="row">
                    <div class="form-group uploadPlace col-lg-6 col-md-6">
                        <label >Місце завантаження:</label>
                        <div class="uploadPlaceInputHolder">
                            <input type="text" class="form-control startPointCargo" id="startPointCargo1" placeholder="Пункт (країна) завантаження">
                        </div>
                        <div class="uploadPlaceInputHolder">
                            <input type="text" class="form-control startPointCargo" id="startPointCargo2" placeholder="Пункт (країна) завантаження">
                            <a href="#"><i class="fa fa-times"></i></a>
                        </div>
                        <p><a href="#">Додати місце завантаження</a></p>
                    </div>
                    <div class="form-group uploadPlace col-lg-6 col-md-6">
                        <label >Місце розвантаження:</label>
                        <div class="uploadPlaceInputHolder">
                            <input type="text" class="form-control endPointCargo" id="endPointCargo1" placeholder="Пункт (країна) розвантаження">
                        </div>
                        <div class="uploadPlaceInputHolder">
                            <input type="text" class="form-control endPointCargo" id="endPointCargo2" placeholder="Пункт (країна) розвантаження">
                            <a href="#"><i class="fa fa-times"></i></a>
                        </div>
                        <p><a href="#">Додати місце розвантаження</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="whiteFluidContainer">
    <div class="container-fluid ">
        <div class="container center ">
            <div class="row">
                <div class="col-md-4">
                    <div type="button" class="btn btn-primary addTransportExists gradient-top" data-toggle="modal" data-target="#addExistingTransport"><b>Додати вже існуючий транспорт</b></div>
                </div>
            </div>
            <div class="formHolder">
                <form class="row">
                    <div class="form-group truckType col-lg-6 col-md-6">
                        <h2>Відомості про автомобіль:</h2>
                        <div class="dropdown">
                            <div class="dropdown-toggle filter" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Транспорт
                                <i class="fa fa-angle-down"></i>
                            </div>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu5">
                                <li><a href="#">Реф</a></li>
                                <li><a href="#">Ізотерм</a></li>
                                <li><a href="#">Транспорт</a></li>
                            </ul>
                        </div>
                        <!--<select type="text" id="carType">-->
                        <!--<option selected="selected">Тип транспорту</option>-->
                        <!--<option value="">type 1</option>-->
                        <!--<option value="">type 2</option>-->
                        <!--<option value="">type 3</option>-->
                        <!--</select>-->
                        <div class="radioTruck">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="carTypeRadio1" value="option1" checked>
                                    <span>Вантажівка</span><span class="carIconSm"></span>
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="carTypeRadio2" value="option1">
                                    <span>Напівпричіп</span><span class="carIconMd"></span>
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="carTypeRadio3" value="option1">
                                    <span>З причепом</span><span class="carIconLg"></span>
                                </label>
                            </div>
                        </div>
                        <p class="price">
                            Вартість перевезення: 5000 грн, на картку <a href="#" data-toggle="modal" data-target="#changePriceModal">змінити</a>
                        </p>
                    </div>
                    <div class="form-group truckType col-lg-6 col-md-6">
                        <h2>Характеристики транспортного засобу</h2>
                        <div class="row truckWeight">
                            <label for="maxWeight" class="col-lg-5">Вантажопідйомність</label>
                            <div class="col-lg-7">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="maxWeight">
                                    <div class="input-group-addon">Т</div>
                                </div>
                            </div>
                        </div>
                        <div class="row truckContent">
                            <label for="maxContent" class="col-lg-5">Об'єм</label>
                            <div class="col-lg-7">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="maxContent">
                                    <div class="input-group-addon">М<sup>3</sup></div>
                                </div>
                            </div>
                        </div>
                        <div class="truckMeasures">
                            <label >Габарити транспортного засобу</label>
                            <div class="measuresInput">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="maxLength" placeholder="Довжина">
                                    <div class="input-group-addon">М</div>
                                </div>
                            </div><div class="measuresInput">
                            <div class="input-group">
                                <input type="text" class="form-control" id="maxWidth" placeholder="Ширина">
                                <div class="input-group-addon">М</div>
                            </div>
                        </div><div class="measuresInput">
                            <div class="input-group">
                                <input type="text" class="form-control" id="maxHeight" placeholder="Висота">
                                <div class="input-group-addon">М</div>
                            </div>
                        </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="greyFluidContainer">
    <div class="container-fluid ">
        <div class="container center ">
            <div class="formHolder contactInfoHolder">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <form>
                            <div class="form-group">
                                <label for="companyName">Назва компанії:</label>
                                <input type="text" class="form-control" placeholder="Приватна особа Саша" id="companyName"/>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <form>
                            <div class="form-group">
                                <label for="companyEmail">E-mail:</label>
                                <input type="email" class="form-control" placeholder="info@yandex.ua" id="companyEmail"/>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <form>
                            <div class="form-group">
                                <label for="contactName">Контактна особа:</label>
                                <input type="text" class="form-control" placeholder="Ім'я або ПІБ" id="contactName"/>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <form>
                            <div class="form-group">
                                <label for="companyPhone">Телефон:</label>
                                <input class="form-control phoneCodeNumber" type="text" placeholder="Код"/>
                                <!--<select name="" id="telCode" class="phoneCodeNumber">-->
                                <!--<option value="" selected="selected">+38</option>-->
                                <!--<option value="">+39</option>-->
                                <!--<option value="">+40</option>-->
                                <!--</select>-->
                                <input type="tel" class="form-control pull-right" placeholder="Номер" id="companyPhone"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid registration second bottom">
    <div class="container center">
        <div class="row line">
            <div class="col-md-12">
                <p class="additionalInfoHeading">Додаткова інформація: <span class="additionalInfoResult"></span> <a href="#" data-toggle="modal" data-target="#additionalInfoModal">вказати</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <form>
                    <div class="form-group rulesAccept">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" checked> Я ознайомився і згідний з <a
                                    href="#">правилами</a> подачі заявок на сайті
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <div type="button" class="btn btn-primary"><b>РОЗМІСТИТИ</b></div>
            </div>
        </div>
    </div>
</div>

</div>
<div class="footer">
    <div class="container-fluid footer">
        <div class="container center">
            <div class="row black-bottom">
                <div class="col-md-4">
                    <div class="logo-f">
                        <a href="#">
                            <div class="logo-footer"></div>
                        </a>
                        <p>But i must explain to you how all this mistaken idea pleasure and praising pain was born and i will give you. But i explain to you how all this mistaken idea.</p>
                        <div class="social-block">
                            <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="#"><i class="fa fa-vk fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="nav-title">НАВІГАЦІЯ</div>
                    <ul class="f-ul">
                        <li><a href="#">Додати заявку</a></li>
                        <li><a href="#">Транспорт</a></li>
                        <li><a href="#">Вантаж</a></li>
                        <li><a href="#">Оголошення</a></li>
                        <li><a href="#">Новини компаній</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <div class="nav-title"></div>
                    <ul class="f-ul">
                        <li><a href="#">Наші послуги</a></li>
                        <li><a href="#">Про проект</a></li>
                        <li><a href="#">Опис системи</a></li>
                        <li><a href="#">Публічна оферта</a></li>
                        <li><a href="#">Політика приватності</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="copy">
                        <div class="copyright-top-border"></div>
                        <div class="copyright">
                            <p>Copyright © 2015 Всі права захищені.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Price modal window-->
<div class="modal fade changePriceModal" id="changePriceModal" tabindex="-1" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><a href="#"></a></span></button>
                <h4 class="modal-title"><span class="ttl">Вартість перевезення</span></h4>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 ">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="payFormRequest" checked/>
                                            <span>Вказати вартість перевезення та форму оплати</span>
                                        </label>
                                    </div>
                                    <div class="form-group price">
                                        <input type="text" class="form-control"/>
                                        <div class="dropdown">
                                            <div class="dropdown-toggle filter" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                грн
                                                <i class="fa fa-angle-down"></i>
                                            </div>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu5">
                                                <li><a href="#">грн</a></li>
                                                <li><a href="#">дол</a></li>
                                                <li role="separator" class="divider"></li>
                                                <li><a href="#">євро</a></li>
                                            </ul>
                                        </div>
                                        <!--<select class="form-control">-->
                                        <!--<option value="">грн</option>-->
                                        <!--<option value="">дол</option>-->
                                        <!--<option value="">євро</option>-->
                                        <!--</select>-->
                                    </div>
                                    <div class="row payFormDiv">
                                        <div class="col-lg-3 col-md-4 col-sm-4 payFormDivItem">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="payForm"/>
                                                    <span>б/г</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-4 payFormDivItem">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="payForm"/>
                                                    <span>готівка</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-4 payFormDivItem">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="payForm"/>
                                                    <span>комбінована</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-4 payFormDivItem">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="payForm"/>
                                                    <span>на картку</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row payFormDiv">
                                        <div class="col-lg-3 col-md-7 col-sm-7 payFormDivItem">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> <span>ПДВ</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-5 col-sm-5 payFormDivItem">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> <span>При розвантаженні</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-5 col-md-7 col-sm-7 payFormDivItem">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> <span>При завантаженні</span>
                                                </label>
                                            </div>
                                        </div>
                                        <!--<div class="col-lg-5 col-md-5 col-sm-5 payFormDivItem">-->
                                        <!--<div class="checkbox">-->
                                        <!--<label>-->
                                        <!--<input type="checkbox"> <span>Торг</span>-->
                                        <!--</label>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <div class="col-lg-3 col-md-4 col-sm-4 payFormDivItem">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> <span>Передоплата</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-9 col-md-8 col-sm-8 payFormDivItem">
                                            <div class="input-group prePaid">
                                                <input type="text" class="form-control">
                                                <div class="input-group-addon">%</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-lg-6 col-md-6 ">-->
                        <!--<div class="radio">-->
                        <!--<label>-->
                        <!--<input type="radio" name="payFormRequest"/>-->
                        <!--<span>Не вказувати вартість перевезення (ціна договірна)</span>-->
                        <!--</label>-->
                        <!--</div>-->
                        <!--<div class="checkbox">-->
                        <!--<label>-->
                        <!--<input type="checkbox"> <span>Запит ціни</span>-->
                        <!--</label>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!--end-->

<!--additional info modal window-->
<div class="modal fade additionalInfoModal" id="additionalInfoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><a href="#"></a></span></button>
                <h4 class="modal-title"><span class="ttl">Додаткова інформація</span></h4>
            </div>
            <div class="modal-body">
                <h2>Відмітьте необхідні поля</h2>
                <form>
                    <div class="additionalInfoItem">
                        <h3>Документи</h3>
                        <div class="row">
                            <div class="checkbox col-md-2 col-sm-3 checkboxOnly">
                                <label>
                                    <input type="checkbox">TIR
                                </label>
                            </div>
                            <div class="checkbox col-md-2 col-sm-3 checkboxOnly">
                                <label>
                                    <input type="checkbox">CMR
                                </label>
                            </div>
                            <div class="checkbox col-md-2 col-sm-3 checkboxOnly">
                                <label>
                                    <input type="checkbox">T1
                                </label>
                            </div>
                            <div class="checkbox col-md-2 col-sm-3 checkboxOnly">
                                <label>
                                    <input type="checkbox">Санпаспорт
                                </label>
                            </div>
                            <div class="checkbox col-md-2 col-sm-3 checkboxOnly">
                                <label>
                                    <input type="checkbox">Санкнижка
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="additionalInfoItem">
                        <h3>Завантаження</h3>
                        <div class="row">
                            <div class="checkbox col-md-2 col-sm-3 checkboxOnly">
                                <label>
                                    <input type="checkbox">Збоку
                                </label>
                            </div>
                            <div class="checkbox col-md-2 col-sm-3 checkboxOnly">
                                <label>
                                    <input type="checkbox">Зверху
                                </label>
                            </div>
                            <div class="checkbox col-md-2 col-sm-3 checkboxOnly">
                                <label>
                                    <input type="checkbox">Ззаду
                                </label>
                            </div>
                            <div class="checkbox col-md-2 col-sm-3 checkboxOnly">
                                <label>
                                    <input type="checkbox">Розтентування
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="additionalInfoItem">
                        <h3>Умови</h3>
                        <div class="row">
                            <div class="checkbox col-md-2 col-sm-3 checkboxOnly">
                                <label>
                                    <input type="checkbox">Пломба
                                </label>
                            </div>
                            <div class="checkbox col-md-2 col-sm-3 checkboxOnly">
                                <label>
                                    <input type="checkbox">Довантаження
                                </label>
                            </div>
                            <div class="checkbox col-md-2 col-sm-3 checkboxOnly">
                                <label>
                                    <input type="checkbox">Ремені
                                </label>
                            </div>
                            <div class="checkbox col-md-2 col-sm-3 checkboxOnly">
                                <label>
                                    <input type="checkbox">З'ємні стійки
                                </label>
                            </div>
                            <div class="checkbox col-md-2 col-sm-6 checkboxOnly">
                                <label>
                                    <input type="checkbox">Жорсткий борт
                                </label>
                            </div>
                            <div class="checkbox col-md-2 col-sm-6 checkboxOnly">
                                <label>
                                    <input type="checkbox">Збірний вантаж
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="checkbox col-md-2 col-sm-3 checkboxWithInput">
                                <label>
                                    <input type="checkbox">t&#176;
                                    <input type="text" class="form-control additionalTextInfo"/>
                                </label>
                            </div>
                            <div class="checkbox col-md-2 col-sm-3 checkboxWithInput">
                                <label>
                                    <input type="checkbox">Палети
                                    <input type="text" class="form-control additionalTextInfo"/>
                                </label>
                            </div>
                            <div class="checkbox col-md-2 col-sm-3 checkboxWithInput">
                                <label>
                                    <input type="checkbox">ADR
                                    <input type="text" class="form-control additionalTextInfo"/>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Примітка</h3>
                            <textarea class="form-control" placeholder="" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <button class="btn btn-primary pull-right additionalInfoButton" type="button">Зберегти</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!--end-->

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.css3finalize.min.js"></script>
<script type="text/javascript" src="/assets/js/retina.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.1/jquery.qtip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.min.js"></script>
<script>
    $('#myTabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>
<script>
    $('.q').each(function () { // Notice the .each() loop, discussed below
        $(this).qtip({
            content: {
                text: $('#hidden') // Use the "div" element next to this for the content
            },
            show: {
                event: 'click'
            },
            hide: {
                event: 'mouseover'
            }
        });
    });
</script>
<script>
    $('.dropdown-toggle').dropdown()
</script>
<!--additional modal window script-->
<script>
    $(function(){

        $('.additionalInfoButton').on('click', function(e){

//                e.preventDefault(); // обриваємо попередньо навішені event-и

            var checked = [];

            $('.modal .checkbox').each(function(i, el){

                console.log($(el).find('input[type="checkbox"]:checked').length);

                if( $(el).find('input[type="checkbox"]:checked').length ){

                    if( $(el).hasClass('checkboxOnly') ){

                        checked.push( $(el).text().trim() )

                    }else if( $(el).hasClass('checkboxWithInput') ){

                        checked.push( $(el).text().trim() + ': ' + $(el).find('.additionalTextInfo').val() )

                    }

                }

            });

            var textarea = $('.modal textarea').val().trim();

            if(textarea.length)
                checked.push('Примітка: ' + textarea);

            $('.additionalInfoResult').text( checked.join(', ') );
            $(this).parents('.modal').modal('hide');


        });
    });

</script>
<script>
    $(function() {
        $( ".datepicker" ).datepicker();
    });
</script>
</body>

</html>