.userInfo {
  padding: 10px 20px;
  background: #fff;
  margin: 10px 0; }
  .userInfo .imgHolder {
    position: relative;
    float: left; }
    .userInfo .imgHolder .img {
      background-repeat: no-repeat;
      background-size: cover;
      width: 65px;
      height: 65px;
      border-radius: 50%; }
    .userInfo .imgHolder .status {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      position: absolute;
      border: 3px solid #fff;
      top: 0;
      left: 0; }
      .userInfo .imgHolder .status.online {
        background: #15a333; }
    .userInfo .imgHolder .messagesQnt {
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      background: #df4f37;
      position: absolute;
      top: -3px;
      right: 0;
      border-radius: 50%;
      color: #fff;
      font-size: 10px;
      font-weight: bold;
      vertical-align: middle;
      display: block; }
      .userInfo .imgHolder .messagesQnt:hover {
        text-decoration: none; }
  .userInfo .caption {
    width: calc(100% - 65px);
    float: left;
    padding: 0 20px; }
    .userInfo .caption .userName {
      font-size: 21px;
      color: #27324b;
      margin-bottom: 5px; }
    .userInfo .caption .userOptions {
      font-size: 14px; }
      .userInfo .caption .userOptions a, .userInfo .caption .userOptions .fa {
        color: #006eb6; }
      .userInfo .caption .userOptions span + span {
        margin-left: 25px; }
  .userInfo .buttonHolder ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 65px; }
    .userInfo .buttonHolder ul li {
      display: inline-block; }
  .userInfo .buttonHolder li + li {
    margin-left: 10px; }

.btn-blue {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  background: #006eb6;
  border-radius: 0;
  padding: 10px 15px; }
  .btn-blue:hover, .btn-blue:active, .btn-blue:focus {
    background: #0068ac;
    color: #fff; }

.cabinetTabs {
  margin-bottom: 10px; }
  .cabinetTabs .navTabs {
    display: table;
    width: 100%; }
    .cabinetTabs .navTabs ul {
      list-style: none;
      display: table-row; }
      .cabinetTabs .navTabs ul li {
        display: table-cell;
        text-align: center;
        background: #27324b;
        position: relative; }
        .cabinetTabs .navTabs ul li .messagesQnt {
          width: 20px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          background: #df4f37;
          position: absolute;
          top: 10px;
          right: 20px;
          border-radius: 50%;
          color: #fff;
          font-size: 10px;
          font-weight: bold;
          vertical-align: middle;
          display: block;
          padding: 0; }
          .cabinetTabs .navTabs ul li .messagesQnt:hover {
            text-decoration: none; }
        .cabinetTabs .navTabs ul li a {
          color: #fff;
          display: block;
          padding: 20px 5px;
          text-transform: uppercase;
          font-size: 12px; }
          .cabinetTabs .navTabs ul li a:hover {
            text-decoration: none;
            background: #006eb6; }
        .cabinetTabs .navTabs ul li.active a {
          background: #006eb6; }
          .cabinetTabs .navTabs ul li.active a:after {
            font: normal normal normal 16px/1 FontAwesome;
            content: "\f107";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%); }
  .cabinetTabs .innerTabsNav ul li .messagesQnt {
    background: #df4f37 !important;
    top: 0;
    right: 5px;
    color: #fff !important; }
  .cabinetTabs .innerTabsNav ul li a {
    background: #006eb6;
    padding: 10px 5px;
    font-weight: bold; }
  .cabinetTabs .innerTabsNav ul li.active a {
    color: #fac400; }
    .cabinetTabs .innerTabsNav ul li.active a:after {
      content: ""; }
  .cabinetTabs .innerTabsContent .tab-pane {
    padding: 20px 30px;
    background: #fff; }
    .cabinetTabs .innerTabsContent .tab-pane .heading {
      margin-bottom: 20px; }
    .cabinetTabs .innerTabsContent .tab-pane h2 {
      font-size: 17px;
      color: #27324b;
      line-height: 39px; }
    .cabinetTabs .innerTabsContent .tab-pane .selectGroup {
      margin-left: 10px; }
    .cabinetTabs .innerTabsContent .tab-pane .btn + .btn {
      margin-left: 10px; }
  .cabinetTabs .innerTabsContent .tableHolder table {
    width: 100%; }
    .cabinetTabs .innerTabsContent .tableHolder table tr:nth-child(odd) td {
      background: #fff; }
    .cabinetTabs .innerTabsContent .tableHolder table tr:nth-child(even) td {
      background: #f9f9f9; }
    .cabinetTabs .innerTabsContent .tableHolder table th, .cabinetTabs .innerTabsContent .tableHolder table td {
      padding: 10px;
      text-align: center;
      border: 1px solid #dfdfdf;
      font-size: 13px; }
      .cabinetTabs .innerTabsContent .tableHolder table th a, .cabinetTabs .innerTabsContent .tableHolder table td a {
        color: #006eb6; }
      .cabinetTabs .innerTabsContent .tableHolder table th:first-child, .cabinetTabs .innerTabsContent .tableHolder table td:first-child {
        border-left: none; }
      .cabinetTabs .innerTabsContent .tableHolder table th:last-child, .cabinetTabs .innerTabsContent .tableHolder table td:last-child {
        border-right: none; }
    .cabinetTabs .innerTabsContent .tableHolder table thead th {
      background: #f9f9f9; }
    .cabinetTabs .innerTabsContent .tableHolder table .icoList {
      text-align: left; }
      .cabinetTabs .innerTabsContent .tableHolder table .icoList .fa {
        font-size: 15px;
        vertical-align: middle; }
      .cabinetTabs .innerTabsContent .tableHolder table .icoList a {
        display: inline-block; }
      .cabinetTabs .innerTabsContent .tableHolder table .icoList a + a {
        margin-left: 3px; }
      .cabinetTabs .innerTabsContent .tableHolder table .icoList .stop {
        font-size: 11px;
        text-transform: uppercase;
        color: #df4f37;
        font-weight: bold;
        margin-left: 3px; }
      .cabinetTabs .innerTabsContent .tableHolder table .icoList .delete i.fa.fa-times {
        color: #df4f37 !important; }
    .cabinetTabs .innerTabsContent .tableHolder table .status {
      text-align: left; }
      .cabinetTabs .innerTabsContent .tableHolder table .status .additionalInfo {
        color: #df4f37; }
    .cabinetTabs .innerTabsContent .tableHolder table .working {
      color: #df4f37; }
    .cabinetTabs .innerTabsContent .tableHolder table .ended {
      color: #006eb6; }
    .cabinetTabs .innerTabsContent .tableHolder table .new {
      color: #15a333; }

.selectGroup {
  display: inline-block;
  position: relative; }
  .selectGroup .form-control {
    display: inline-block;
    width: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .selectGroup select {
    min-width: 150px; }
  .selectGroup .fa {
    position: absolute;
    top: 50%;
    right: 5px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  .selectGroup label {
    font-size: 13px;
    color: #27324b;
    font-weight: normal; }
