.sticky-header .main-content, .wrapper, .panel, .panel-body, .adv-table, .dataTables_wrapper
{
    display: table;

}

.panel, .panel-body, .adv-table, .dataTables_wrapper
{
    width: 100%;
}

table.dataTable.row-border th, table.dataTable.row-border td, table.dataTable.display  th, table.dataTable.display  td{
    font-size: 14px;
}
.table.dataTable td
{
    vertical-align: middle;
}
.dataTables_wrapper .dataTables_length
{
    float: left !important;
}
.sticky-header .left-side {
    top: 0px !important;
}
#reload_file
{
    margin-right: 8px;
    margin-left: 0;
}
.table_data th, .table_data td
{
    font-size: 11px !important;
    padding: 10px !important;
}

.table_data th:first-child
{
    border-right: none;
    border-left: none;
}

.table_data tfoot tr:last-child th:first-child
{
    border-top: 1px solid #DDDDDD;
}

.badge
{
    margin: 0 1px;
    font-size: 80%;
}
.badge-success
{
    background-color: #5cb85c !important;
}
.label
{
    margin: 5px 0 !important;
    padding: 5px !important;
    width: auto !important;
    font-size: 80%;
    display: inline-block;
}

.rating_object
{
    font-size: 150%;
}
.progress-bar
{
    text-align: center !important;
    padding-right: 0 !important;
}
.form_checkbox
{
    margin: 5px;
}

.file_tab_header
{
    height: 57px;
}

table.dataTable.display tbody tr td
{
    font-size: 12px;
}

.dataTables_wrapper input[type="text"] {
    padding: 0 !important;
    text-align: center !important;
    height: 20px !important;
    font-size: 10px !important;
}
.avatar-img
{
    width: 30px;
    height: 30px;
    margin-top: 5px;
    border-radius: 25px;
}
.user-name
{
    margin-top: 5px;
}
.date_range
{
    margin-right: 5px;
}
.btn-submit-form
{
    float: left;
    margin-left: 10px !important;
}
.menu-right img
{
    border-radius: 25px !important;
}
.abton-form-checkbox
{
    float: left;
    width: 50px;
    position: relative;
    top: 2px;
    left: -5px;
}
.abton-form-checkbox-title
{
    float: left;
    padding-right: 0;
}
.dataTables_wrapper input
{
    min-width: 40px;
}

.dataTables_wrapper select
{
   height: 20px;
   font-size: 10px;
   min-width: 112px;

}
.close_span
{
    color: red;
    position: relative;
    font-size: 15px;
    margin-left: 5px;
    cursor: pointer;
    display: inline-block;
}
.close_span:hover
{
    text-decoration: underline;
}

.widget_label
{
    font-style: italic;
}
.btn_select_widget
{
    margin-right: 10px;
}

@media( max-width: 1000px)
{
    .btn_select_widget
    {
        display: table;
    }
}



.table_data tr:first-child th
{
    /*border-bottom: none !important;*/
    border-right: none !important;
}

.required_optional_span
{
    color: blue;
}

.required_span
{
    color: red;
}

.module_desc_div
{
    margin-left: 15px;
    margin-bottom: 15px;
    font-size: 11px;
}
#new_user_block
{
    display: none;
}
#add_user_btn
{
    margin-right: 10px;
    float: left;
}
.label_one_row
{
    position: relative;
    top: 5px;
}
.dynamic_place_inputs
{
    margin-top: 5px;
}
.delete_place
{
    position: absolute;
    right: 14px;
    margin-top: -34px;
}

@media (max-width: 768px){
    .delete_place
    {
        right: 15px;
    }

    .cargo_size_inputs_block
    {
        padding: 0 !important;
    }
}
table a{
    /*color: #7a7676 !important;*/
    /*text-decoration: underline !important;*/
}

table span a{
    color: white !important;
    text-decoration: none !important;
}

table .btn
{
    color: white !important;
    text-decoration: none !important;
}
.status_pending
{
    color: blue;
}
.status_accepted
{
    color: green;
}
.status_rejected
{
    color: red;
}
.see_requests
{
    margin-top: 5px;
}
table.dataTable.no-footer {
    border-bottom: 1px solid #ddd !important;
}
.datepicker
{
    background-color: rgb(101, 206, 167) !important;
}
.label_left
{
    text-align: left !important;
}
.datepicker-days table, .datepicker-months table, .datepicker-years table {
    background-color: #65cea7 !important;
}
.btn-link
{
    text-decoration: underline;
    padding-left: 0;
}
.padding-5
{
    padding-right: 0 !important;
}
@media (max-width: 870px){
    .is_price_block{
        padding-left: 25px;
    }
    .fix-margin-left
    {
        padding-left: 10px !important;
    }
    .fix-pay-procent
    {
        padding-left: 20px;
        padding-right: 20px;
    }

}

@media (max-width: 1160px){
    #add_price_btn
    {
        padding-left: 10px;
    }
    #add_info_btn
    {
        padding-left: 10px;
    }
}
.modal-body .panel-body
{
    padding-bottom: 0;
    padding-top: 0;
}
.dataTables_length
{
    display: none;
}
.link_name
{
    text-decoration: underline !important;
    color: #000000 !important;
}
.main_search_input {
    float: right;
    width: 300px;
    margin-right: 10px;
}
.main_search_btn {
    float: right;
    width: 100px;
}
.filter-block
{
    font-size: 10px !important;
}

.filter-block .btn
{
    font-size: 10px !important;
}
.filter-block .form-control
{
    font-size: 10px !important;
    height: 25px !important;
}
.filter-block .panel-body
{
    padding: 0 15px !important;
}
.filter-block .form-horizontal.adminex-form .form-group
{
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
}
.form-horizontal .control-label
{
    text-align: left;
}
.filter-block .form-group div, .filter-block .form-group label
{
    padding-left: 0 !important;
}
.well
{
    display: inline-block;
    margin-bottom: 0;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.reg_related_info
{
    font-size: 12px;
}

.form-checkbox-block
{
    position: relative;
    top: 10px;
    left: 10px;
    display: inline-block;
}
.link-standart
{
    text-decoration: none !important;
    color: #428bca !important;
    font-size: 12px;
}
.text-mess
{
    font-size: 14px !important;
    color: #7a7676 !important;
}