.userInfo {
  padding: 10px 20px;
  background: #fff;
  margin: 10px 0; }
  .userInfo .imgHolder {
    position: relative;
    float: left; }
    .userInfo .imgHolder .img {
      background-repeat: no-repeat;
      background-size: cover;
      width: 65px;
      height: 65px;
      border-radius: 50%; }
    .userInfo .imgHolder .status {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      position: absolute;
      border: 3px solid #fff;
      top: 0;
      left: 0; }
      .userInfo .imgHolder .status.online {
        background: #15a333; }
    .userInfo .imgHolder .messagesQnt {
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      background: #df4f37 !important;
      position: absolute;
      top: -3px;
      right: 0;
      border-radius: 50%;
      color: #fff;
      font-size: 10px;
      font-weight: bold;
      vertical-align: middle;
      display: block; }
      .userInfo .imgHolder .messagesQnt:hover {
        text-decoration: none; }
  .userInfo .caption {
    width: calc(100% - 65px);
    float: left;
    padding: 0 20px; }
    .userInfo .caption .userName {
      font-size: 21px;
      color: #27324b;
      margin-bottom: 5px; }
    .userInfo .caption .userOptions {
      font-size: 14px; }
      .userInfo .caption .userOptions a, .userInfo .caption .userOptions .fa {
        color: #006eb6; }
      .userInfo .caption .userOptions span + span {
        margin-left: 25px; }
  .userInfo .buttonHolder ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 65px; }
    .userInfo .buttonHolder ul li {
      display: inline-block; }
  .userInfo .buttonHolder li + li {
    margin-left: 10px; }

.btn-blue {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  background: #006eb6;
  border-radius: 0;
  padding: 10px 15px; }
  .btn-blue:hover, .btn-blue:active, .btn-blue:focus {
    background: #0068ac;
    color: #fff; }

.cabinetTabs {
  margin-bottom: 10px; }
  .cabinetTabs .btn-blue.active {
    background: #df4f37;
    box-shadow: none;
    position: relative; }
    .cabinetTabs .btn-blue.active:after {
      content: "";
      display: block;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border: 1px solid;
      border-width: 10px 10px 7px 10px;
      border-color: #df4f37 transparent transparent transparent; }
  .cabinetTabs .heading {
    margin-bottom: 20px; }
    .cabinetTabs .heading .backLink {
      font-size: 13px;
      color: #27324b;
      font-weight: bold;
      margin-left: 10px; }
  .cabinetTabs h2 {
    font-size: 17px;
    color: #27324b;
    line-height: 39px; }
  .cabinetTabs .selectGroup {
    margin-left: 10px; }
  .cabinetTabs .btn + .btn {
    margin-left: 10px; }
  .cabinetTabs .navTabs {
    display: table;
    width: 100%; }
    .cabinetTabs .navTabs ul {
      list-style: none;
      display: table-row; }
      .cabinetTabs .navTabs ul li {
        display: table-cell;
        text-align: center;
        background: #27324b;
        position: relative; }
        .cabinetTabs .navTabs ul li .messagesQnt {
          width: 20px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          background: #df4f37 !important;
          position: absolute;
          top: 10px;
          right: 20px;
          border-radius: 50%;
          color: #fff;
          font-size: 10px;
          font-weight: bold;
          vertical-align: middle;
          display: block;
          padding: 0; }
          .cabinetTabs .navTabs ul li .messagesQnt:hover {
            text-decoration: none; }
          .cabinetTabs .navTabs ul li .messagesQnt:after {
            display: none; }
        .cabinetTabs .navTabs ul li a {
          color: #fff;
          display: block;
          padding: 20px 5px;
          text-transform: uppercase;
          font-size: 12px; }
          .cabinetTabs .navTabs ul li a:hover {
            text-decoration: none;
            background: #006eb6; }
        .cabinetTabs .navTabs ul li.active a {
          background: #006eb6; }
          .cabinetTabs .navTabs ul li.active a:after {
            font: normal normal normal 16px/1 FontAwesome;
            content: "\f107";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%); }
  .cabinetTabs .innerTabsNav ul li .messagesQnt {
    background: #df4f37 !important;
    top: 0;
    right: 5px;
    color: #fff !important; }
  .cabinetTabs .innerTabsNav ul li a {
    background: #006eb6;
    padding: 10px 5px; }
  .cabinetTabs .innerTabsNav ul li.active a {
    color: #fac400; }
    .cabinetTabs .innerTabsNav ul li.active a:after {
      content: ""; }
  .cabinetTabs .innerTabsContent .tab-pane {
    padding: 20px 30px;
    background: #fff; }
  .cabinetTabs .innerTabsContent .tableHolder {
    margin-bottom: 10px; }
    .cabinetTabs .innerTabsContent .tableHolder table {
      width: 100%; }
      .cabinetTabs .innerTabsContent .tableHolder table tr:nth-child(odd) td {
        background: #fff; }
      .cabinetTabs .innerTabsContent .tableHolder table tr:nth-child(even) td {
        background: #f9f9f9; }
      .cabinetTabs .innerTabsContent .tableHolder table th, .cabinetTabs .innerTabsContent .tableHolder table td {
        padding: 10px;
        text-align: center;
        border: 1px solid #dfdfdf;
        font-size: 12px; }
        .cabinetTabs .innerTabsContent .tableHolder table th a, .cabinetTabs .innerTabsContent .tableHolder table td a {
          color: #006eb6; }
        .cabinetTabs .innerTabsContent .tableHolder table th:first-child, .cabinetTabs .innerTabsContent .tableHolder table td:first-child {
          border-left: none; }
        .cabinetTabs .innerTabsContent .tableHolder table th:last-child, .cabinetTabs .innerTabsContent .tableHolder table td:last-child {
          border-right: none; }
      .cabinetTabs .innerTabsContent .tableHolder table thead th {
        background: #f9f9f9; }
      .cabinetTabs .innerTabsContent .tableHolder table .icoList {
        text-align: right; }
        .cabinetTabs .innerTabsContent .tableHolder table .icoList .fa {
          font-size: 15px;
          vertical-align: middle; }
        .cabinetTabs .innerTabsContent .tableHolder table .icoList a {
          display: inline-block; }
        .cabinetTabs .innerTabsContent .tableHolder table .icoList a + a {
          margin-left: 3px; }
        .cabinetTabs .innerTabsContent .tableHolder table .icoList .stop {
          font-size: 11px;
          text-transform: uppercase;
          color: #df4f37;
          font-weight: bold;
          margin-left: 3px; }
        .cabinetTabs .innerTabsContent .tableHolder table .icoList .delete i.fa.fa-times {
          color: #df4f37 !important; }
        .cabinetTabs .innerTabsContent .tableHolder table .icoList .check {
          color: #15a333; }
      .cabinetTabs .innerTabsContent .tableHolder table .status {
        text-align: left; }
        .cabinetTabs .innerTabsContent .tableHolder table .status .additionalInfo {
          color: #df4f37; }
        .cabinetTabs .innerTabsContent .tableHolder table .status .stop {
          color: #000;
          text-transform: uppercase; }
      .cabinetTabs .innerTabsContent .tableHolder table .red {
        color: #df4f37; }
      .cabinetTabs .innerTabsContent .tableHolder table .blue {
        color: #006eb6; }
      .cabinetTabs .innerTabsContent .tableHolder table .green {
        color: #15a333; }
      .cabinetTabs .innerTabsContent .tableHolder table .yellow {
        color: #fac400; }
  .cabinetTabs .myStatistics {
    padding: 20px 30px;
    background-color: #fff; }
    .cabinetTabs .myStatistics .datePickerHolder {
      position: relative; }
      .cabinetTabs .myStatistics .datePickerHolder .fa {
        position: absolute;
        top: 10px;
        right: 10px; }
      .cabinetTabs .myStatistics .datePickerHolder .form-control {
        padding-right: 44px; }
    .cabinetTabs .myStatistics .formRow {
      margin-bottom: 20px; }
      .cabinetTabs .myStatistics .formRow .btn-blue {
        padding: 10px 40px; }
    .cabinetTabs .myStatistics .statFigure {
      border: 1px solid #dcdcdc; }
      .cabinetTabs .myStatistics .statFigure .figHeading {
        font-size: 13px;
        font-weight: bolder;
        background-color: #f5f5f5;
        padding: 10px;
        border-bottom: 1px solid #dcdcdc; }
      .cabinetTabs .myStatistics .statFigure .statImg {
        padding: 10px;
        text-align: center; }

.selectGroup {
  display: inline-block;
  position: relative; }
  .selectGroup .form-control {
    display: inline-block;
    width: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .selectGroup select {
    min-width: 150px; }
  .selectGroup .fa {
    position: absolute;
    top: 50%;
    right: 5px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  .selectGroup label {
    font-size: 13px;
    color: #27324b;
    font-weight: normal; }

.orderInfoTable {
  width: 100%; }
  .orderInfoTable tr:nth-child(even) td {
    background: #fff; }
  .orderInfoTable tr:nth-child(odd) td {
    background: #f9f9f9; }
  .orderInfoTable td {
    padding: 10px;
    border: 1px solid #dfdfdf;
    font-size: 12px; }
    .orderInfoTable td a {
      color: #006eb6; }
    .orderInfoTable td:first-child {
      border-left: none; }
    .orderInfoTable td:last-child {
      border-right: none; }
    .orderInfoTable td .check {
      color: #15a333;
      font-size: 14px; }
  .orderInfoTable tr td:first-child {
    text-align: left; }
  .orderInfoTable tr td:nth-child(2) {
    text-align: right; }

.myCabinetHolder .oneOrderHolder {
  padding: 10px 20px;
  background: #fff;
  margin: 10px 0; }
  .myCabinetHolder .oneOrderHolder .heading {
    margin-bottom: 20px; }
    .myCabinetHolder .oneOrderHolder .heading .btn + .btn {
      margin-left: 10px; }
    .myCabinetHolder .oneOrderHolder .heading .backLink {
      font-size: 13px;
      color: #27324b;
      font-weight: bold;
      margin-left: 10px; }
  .myCabinetHolder .oneOrderHolder h2 {
    font-size: 17px;
    color: #27324b;
    line-height: 39px; }

.myCabinetHolder .tableHolder {
  margin-bottom: 20px; }
  .myCabinetHolder .tableHolder table {
    width: 100%; }
    .myCabinetHolder .tableHolder table tr:nth-child(odd) td {
      background: #fff; }
    .myCabinetHolder .tableHolder table tr:nth-child(even) td {
      background: #f9f9f9; }
    .myCabinetHolder .tableHolder table th, .myCabinetHolder .tableHolder table td {
      padding: 10px;
      text-align: center;
      border: 1px solid #dfdfdf;
      font-size: 12px; }
      .myCabinetHolder .tableHolder table th a, .myCabinetHolder .tableHolder table td a {
        color: #006eb6; }
      .myCabinetHolder .tableHolder table th:first-child, .myCabinetHolder .tableHolder table td:first-child {
        border-left: none; }
      .myCabinetHolder .tableHolder table th:last-child, .myCabinetHolder .tableHolder table td:last-child {
        border-right: none; }
    .myCabinetHolder .tableHolder table thead th {
      background: #f9f9f9; }
    .myCabinetHolder .tableHolder table .icoList {
      text-align: right; }
      .myCabinetHolder .tableHolder table .icoList .fa {
        font-size: 15px;
        vertical-align: middle; }
      .myCabinetHolder .tableHolder table .icoList a {
        display: inline-block; }
      .myCabinetHolder .tableHolder table .icoList a + a {
        margin-left: 3px; }
      .myCabinetHolder .tableHolder table .icoList .stop {
        font-size: 11px;
        text-transform: uppercase;
        color: #df4f37;
        font-weight: bold;
        margin-left: 3px; }
      .myCabinetHolder .tableHolder table .icoList .delete i.fa.fa-times {
        color: #df4f37 !important; }
      .myCabinetHolder .tableHolder table .icoList .check {
        color: #15a333; }
    .myCabinetHolder .tableHolder table .status {
      text-align: left; }
      .myCabinetHolder .tableHolder table .status .additionalInfo {
        color: #df4f37; }
      .myCabinetHolder .tableHolder table .status .stop {
        color: #000;
        text-transform: uppercase; }
    .myCabinetHolder .tableHolder table .red {
      color: #df4f37; }
    .myCabinetHolder .tableHolder table .blue {
      color: #006eb6; }
    .myCabinetHolder .tableHolder table .green {
      color: #15a333; }
    .myCabinetHolder .tableHolder table .yellow {
      color: #fac400; }

.orderSteps {
  margin-bottom: 20px; }
  .orderSteps td {
    padding: 10px;
    border: 1px solid #beced9;
    font-size: 12px; }
  .orderSteps ul {
    list-style: none;
    padding: 0; }
    .orderSteps ul li a {
      font-weight: bold;
      text-decoration: underline;
      color: #006eb6; }
  .orderSteps tr.stepEnded:nth-child(odd) {
    background: #d9e9f4; }
  .orderSteps tr.stepEnded:nth-child(even) {
    background: #d4e4ef; }
  .orderSteps td:first-child {
    border-left: none; }
  .orderSteps td:last-child {
    border-right: none; }
  .orderSteps .stepInProcess {
    background: #fde799; }
  .orderSteps .newStep {
    background: #f2f2f3; }
  .orderSteps .stepSuccess a {
    color: #15a333; }
  .orderSteps .stepNotStarted a {
    color: #aaaaaa; }
  .orderSteps .fa-exclamation-triangle {
    color: #df4f37;
    margin-left: 5px; }

.orderInfoTablesHolder .stopIco {
  float: right;
  margin-left: 5px;
  margin-bottom: 5px; }

.orderInfoTablesHolder .stopCaption {
  margin-bottom: 20px; }
  .orderInfoTablesHolder .stopCaption p {
    color: #27324b;
    font-size: 13px; }

.orderInfoTablesHolder .stepsDescription .step {
  width: 45px;
  height: 25px;
  margin-bottom: 10px; }
  .orderInfoTablesHolder .stepsDescription .step.stepEnded {
    background: #d4e4ef; }
  .orderInfoTablesHolder .stepsDescription .step.stepInProcess {
    background: #fde799; }
  .orderInfoTablesHolder .stepsDescription .step.newStep {
    background: #f2f2f3; }

.orderInfoTablesHolder .stepsDescription p {
  color: #2c3956;
  font-size: 12px; }

.orderInfoTablesHolder .docFigure {
  padding-left: 15px; }
  .orderInfoTablesHolder .docFigure .icoHolder {
    width: 25px;
    float: left; }
  .orderInfoTablesHolder .docFigure .captionHolder {
    width: calc(100% - 25px);
    float: left;
    padding-left: 5px; }
    .orderInfoTablesHolder .docFigure .captionHolder p a {
      color: #006eb6;
      font-size: 10px; }

.stopIco {
  width: 50px;
  height: 42px;
  background: url("../img/stopButton.png") no-repeat;
  background-size: contain;
  display: block; }

.docIco {
  width: 19px;
  height: 34px;
  background: url("../img/docIco.png") no-repeat;
  background-size: contain;
  background-position: center; }

.cabinetTabs .delete i.fa.fa-times {
  color: #df4f37 !important; }

.cabinetTabs .myContactsHolder label,
.cabinetTabs .companyInformationHolder label {
  color: #2c3956;
  display: block;
  font-weight: 400;
  line-height: 40px; }

.cabinetTabs .myContactsHolder .company-phone-code,
.cabinetTabs .companyInformationHolder .company-phone-code {
  float: left;
  margin-right: 12px;
  width: 100px; }

.cabinetTabs .myContactsHolder .company-phone-number,
.cabinetTabs .companyInformationHolder .company-phone-number {
  float: left;
  width: calc(100% - 113px); }

.cabinetTabs .myContactsHolder .buttonHolder,
.cabinetTabs .companyInformationHolder .buttonHolder {
  text-align: right;
  padding: 15px 0 0; }

.cabinetTabs .changePasswordHolder label {
  color: #2c3956;
  display: block;
  font-weight: 400;
  line-height: 40px; }

.cabinetTabs .changePasswordHolder .buttonHolder {
  text-align: right;
  padding: 15px 0 0; }

.cabinetTabs .userInfoSmall {
  display: table-cell;
  vertical-align: middle;
  width: 250px; }
  .cabinetTabs .userInfoSmall .imgHolder {
    position: relative;
    float: left; }
  .cabinetTabs .userInfoSmall .img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 45px;
    height: 45px;
    border-radius: 50%; }
  .cabinetTabs .userInfoSmall .status {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    border: 3px solid #fff;
    top: 0;
    left: 0; }
    .cabinetTabs .userInfoSmall .status.online {
      background: #15a333; }
    .cabinetTabs .userInfoSmall .status.offline {
      background: #c5c5c5; }
  .cabinetTabs .userInfoSmall .messagesQnt {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #df4f37 !important;
    position: absolute;
    top: -3px;
    right: -10px;
    border-radius: 50%;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    vertical-align: middle;
    display: block; }
  .cabinetTabs .userInfoSmall .caption {
    width: calc(100% - 45px);
    float: left;
    padding: 0 20px; }
    .cabinetTabs .userInfoSmall .caption .userName {
      font-size: 14px;
      margin-top: 5px; }
    .cabinetTabs .userInfoSmall .caption .date {
      font-size: 12px;
      color: #acacac; }

.cabinetTabs .myDocumentsHolder .doc-block-title {
  font-size: 19px;
  margin-bottom: 15px; }

.cabinetTabs .myDocumentsHolder .fixed-btn {
  color: #006eb6;
  font-size: 16px; }
  .cabinetTabs .myDocumentsHolder .fixed-btn .fa {
    font-size: 18px; }

.cabinetTabs .myDocumentsHolder .doc-block {
  background: url(../img/doc.png) no-repeat;
  background-position: 0 center;
  background-size: contain;
  padding-left: 42px;
  margin-bottom: 30px; }

.cabinetTabs .myDocumentsHolder .doc-title {
  color: #006eb6;
  font-size: 14px;
  font-weight: 400; }

.cabinetTabs .myDocumentsHolder .btn-download {
  color: #006eb6;
  font-size: 13px;
  font-weight: 400; }
  .cabinetTabs .myDocumentsHolder .btn-download .fa {
    font-size: 15px; }

.cabinetTabs .walletHolder .wallet-balance {
  color: #282828;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px; }
  .cabinetTabs .walletHolder .wallet-balance span {
    color: #006eb6;
    font-size: 18px; }

.cabinetTabs .walletHolder .form-control {
  max-width: 470px;
  display: inline-block;
  margin: 0 10px 10px 0; }

.cabinetTabs .walletHolder .btn-blue {
  padding: 8px 15px;
  margin-left: 10px; }

.cabinetTabs .walletHolder .min-contribution {
  font-size: 13px; }
  .cabinetTabs .walletHolder .min-contribution span {
    color: #006eb6; }

.cabinetTabs .favCompaniesHolder {
  padding: 35px;
  background-color: #fff; }

.cabinetTabs .innerTabsContent table {
  width: 100%; }
  .cabinetTabs .innerTabsContent table th,
  .cabinetTabs .innerTabsContent table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #dfdfdf;
    font-size: 12px;
    vertical-align: middle; }
  .cabinetTabs .innerTabsContent table thead th {
    background: #f9f9f9; }
  .cabinetTabs .innerTabsContent table th:first-child, .cabinetTabs .innerTabsContent table td:first-child {
    border-left: none; }
  .cabinetTabs .innerTabsContent table th:last-child, .cabinetTabs .innerTabsContent table td:last-child {
    border-right: none; }
  .cabinetTabs .innerTabsContent table tr:nth-child(even) td {
    background: #f9f9f9; }
  .cabinetTabs .innerTabsContent table .delete i.fa.fa-times {
    color: #df4f37 !important; }
  .cabinetTabs .innerTabsContent table .icoList .fa {
    font-size: 15px;
    vertical-align: middle; }

.cabinetTabs .innerTabsContent .orderWatchInfo {
  margin-top: 10px; }
  .cabinetTabs .innerTabsContent .orderWatchInfo table {
    width: auto; }
    .cabinetTabs .innerTabsContent .orderWatchInfo table td {
      border: 0;
      background: #fff !important;
      padding: 5px 10px; }
    .cabinetTabs .innerTabsContent .orderWatchInfo table td:first-child {
      text-align: left; }
    .cabinetTabs .innerTabsContent .orderWatchInfo table td:last-child {
      text-align: right;
      padding-left: 30px;
      font-weight: bold; }
    .cabinetTabs .innerTabsContent .orderWatchInfo table .watch a {
      color: #df4f37; }
    .cabinetTabs .innerTabsContent .orderWatchInfo table .proposition a {
      color: #31ae4c; }

.cabinetTabs .innerTabsContent .myAutoTableHolder {
  margin-bottom: 10px; }
  .cabinetTabs .innerTabsContent .myAutoTableHolder .photo {
    max-width: 100px; }

.cabinetTabs .innerTabsContent .myCompanyNewsHolder .newsItem {
  border-bottom: 1px solid #dedede;
  margin-bottom: 20px;
  padding-bottom: 20px; }
  .cabinetTabs .innerTabsContent .myCompanyNewsHolder .newsItem .imgHolder {
    float: left;
    height: 140px;
    margin-right: 20px;
    width: 150px; }
    .cabinetTabs .innerTabsContent .myCompanyNewsHolder .newsItem .imgHolder .img {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 140px;
      width: 150px; }
  .cabinetTabs .innerTabsContent .myCompanyNewsHolder .newsItem .captionHolder {
    float: left;
    width: calc(100% - 170px); }
    .cabinetTabs .innerTabsContent .myCompanyNewsHolder .newsItem .captionHolder h3 {
      color: #27324b;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 5px; }
    .cabinetTabs .innerTabsContent .myCompanyNewsHolder .newsItem .captionHolder .date {
      color: #b2b2b2;
      font-size: 12px;
      margin-bottom: 5px; }
    .cabinetTabs .innerTabsContent .myCompanyNewsHolder .newsItem .captionHolder .text {
      font-size: 13px;
      color: #282828;
      font-weight: 300;
      margin-bottom: 10px; }
    .cabinetTabs .innerTabsContent .myCompanyNewsHolder .newsItem .captionHolder .buttonHolder {
      text-align: right; }

.cabinetTabs .receivedPropositionsHolder .userInfoSmall {
  width: auto;
  min-width: 150px; }
  .cabinetTabs .receivedPropositionsHolder .userInfoSmall .caption {
    text-align: left; }
    .cabinetTabs .receivedPropositionsHolder .userInfoSmall .caption .date {
      white-space: nowrap; }
    .cabinetTabs .receivedPropositionsHolder .userInfoSmall .caption .userName {
      margin-top: 3px; }

.cabinetTabs .receivedPropositionsHolder table tr:nth-child(odd) td {
  background: #f9f9f9; }

.cabinetTabs .receivedPropositionsHolder table tr:nth-child(even) td {
  background: #fff; }

.cabinetTabs .receivedPropositionsHolder table td {
  border: 0; }
  .cabinetTabs .receivedPropositionsHolder table td a {
    color: #006eb6; }

.cabinetTabs .receivedPropositionsHolder table .propositionText {
  text-align: left; }

.cabinetTabs .receivedPropositionsHolder table .answer,
.cabinetTabs .receivedPropositionsHolder table .ico {
  font-size: 15px;
  text-transform: uppercase; }

.cabinetTabs .receivedPropositionsHolder table .yes a {
  color: #31ae4c; }

.cabinetTabs .receivedPropositionsHolder table .no a {
  color: #df4f37; }

.myMessagesHolder {
  padding: 35px;
  background-color: #fff; }
  .myMessagesHolder .heading {
    margin-bottom: 30px; }
  .myMessagesHolder h2 {
    font-size: 17px;
    color: #27324b;
    line-height: 39px; }
  .myMessagesHolder .messageHolder {
    display: table;
    padding: 15px 20px;
    cursor: pointer; }
    .myMessagesHolder .messageHolder:nth-child(even) {
      background: #f8f8f8; }
    .myMessagesHolder .messageHolder:hover {
      background: #fef6d9; }
      .myMessagesHolder .messageHolder:hover .messagePreview .deleteButton {
        display: block; }
    .myMessagesHolder .messageHolder .messageFigure {
      display: table-row; }
    .myMessagesHolder .messageHolder .messagePreview {
      display: table-cell;
      padding: 0 60px 0 20px;
      position: relative; }
      .myMessagesHolder .messageHolder .messagePreview .theme {
        font-size: 12px;
        color: #212121;
        margin-bottom: 5px; }
      .myMessagesHolder .messageHolder .messagePreview .text {
        font-size: 12px;
        color: #464646; }
      .myMessagesHolder .messageHolder .messagePreview .deleteButton {
        font-size: 20px;
        color: #e87f65;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        display: none; }
        .myMessagesHolder .messageHolder .messagePreview .deleteButton:hover {
          color: #df4f37; }
          .myMessagesHolder .messageHolder .messagePreview .deleteButton:hover .fa {
            color: #df4f37; }
        .myMessagesHolder .messageHolder .messagePreview .deleteButton .fa {
          color: #e87f65;
          margin: 0; }

.dialogueHolder {
  padding: 35px;
  background-color: #fff; }
  .dialogueHolder .heading {
    margin-bottom: 30px; }
  .dialogueHolder h2 {
    font-size: 17px;
    color: #27324b;
    line-height: 39px; }
  .dialogueHolder .backLink {
    font-size: 13px;
    color: #27324b;
    font-weight: bold;
    margin-left: 10px;
    display: inline-block;
    line-height: 39px; }
  .dialogueHolder .textInputHolder {
    padding: 20px;
    background: #f3f3f3;
    border: 1px solid #e6e6e6;
    margin-bottom: 35px; }
  .dialogueHolder .userInfo .imgHolder {
    float: none; }
  .dialogueHolder .userInfo {
    float: left;
    background: none;
    margin: 0;
    margin-right: 20px; }
  .dialogueHolder .textareaHolder {
    width: calc(100% - 125px);
    float: left; }
    .dialogueHolder .textareaHolder .form-control {
      height: auto !important;
      border-color: #e6e6e6; }
  .dialogueHolder .buttonHolder {
    padding: 20px 0 0;
    text-align: right; }
    .dialogueHolder .buttonHolder .btn-primary {
      width: auto;
      text-align: center;
      padding: 6px 25px; }
  .dialogueHolder .dialogueHistoryHolder .dialogueHistoryItem + .dialogueHistoryItem {
    margin-top: 25px; }
  .dialogueHolder .dialogueHistoryHolder .dialogueHistoryItem {
    position: relative; }
    .dialogueHolder .dialogueHistoryHolder .dialogueHistoryItem.myMessage .userInfo {
      float: right;
      margin: 0;
      padding-right: 0; }
    .dialogueHolder .dialogueHistoryHolder .dialogueHistoryItem.myMessage .message {
      float: right; }
      .dialogueHolder .dialogueHistoryHolder .dialogueHistoryItem.myMessage .message:after {
        top: 35px;
        right: -20px;
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border: 1px solid;
        border-width: 7px 10px 7px 10px;
        border-color: transparent transparent transparent #e6e6e6; }
    .dialogueHolder .dialogueHistoryHolder .dialogueHistoryItem.guestMessage .userInfo {
      float: left;
      margin: 0;
      padding-left: 0; }
    .dialogueHolder .dialogueHistoryHolder .dialogueHistoryItem.guestMessage .message {
      float: left; }
      .dialogueHolder .dialogueHistoryHolder .dialogueHistoryItem.guestMessage .message:after {
        top: 35px;
        left: -20px;
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border: 1px solid;
        border-width: 7px 10px 7px 10px;
        border-color: transparent #e6e6e6 transparent transparent; }
    .dialogueHolder .dialogueHistoryHolder .dialogueHistoryItem .message {
      background: #fbfbfb;
      width: calc(100% - 85px);
      padding: 10px 20px;
      border: 1px solid #e6e6e6;
      border-radius: 7px;
      position: relative; }
      .dialogueHolder .dialogueHistoryHolder .dialogueHistoryItem .message .name a {
        color: #006eb6;
        font-size: 16px; }
      .dialogueHolder .dialogueHistoryHolder .dialogueHistoryItem .message .date {
        font-size: 14px;
        color: #acacac;
        margin-bottom: 5px; }
      .dialogueHolder .dialogueHistoryHolder .dialogueHistoryItem .message .text {
        font-size: 15px;
        color: #464646; }
