.form-control.input-sm {
  height: 30px !important;
  cursor: pointer; }

body {
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* apps-mobile */
.modal-tr {
  text-decoration: none !important; }

.orderInProcessModalWindow .center-inner-block p {
  font-size: 13px; }

.dropdown-toggle.filter.grey {
  border: 1px solid #ccc; }

.radio-online.active.pull-right.apps {
  top: 2px; }

.thumb-block {
  border: 2px solid #d7d7d7;
  margin-bottom: 5px;
  margin-top: 0px; }

.thumb-inner-box {
  border: 1px solid #fff; }

.inner-box {
  padding: 5px;
  height: inherit;
  display: block;
  background-color: #f7f7f7;
  text-align: center;
  height: 67px; }

.inner-box span {
  line-height: 15px; }

.gray-top {
  display: block;
  font-size: 12px;
  color: #868686;
  font-weight: 200;
  margin-top: 0px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.gray-middle {
  display: block;
  font-size: 18px;
  color: #585858;
  font-weight: 800;
  margin-bottom: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.gray-bottom {
  display: block;
  font-size: 16px;
  color: #7e7e7e;
  font-weight: 500;
  margin-bottom: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.box-border {
  background-color: #fff;
  border-right: 5px solid #D7D7D7;
  margin-right: -20px;
  margin-left: -30px; }

.center-inner-block {
  padding-left: 10px;
  padding-right: 0px;
  display: block;
  height: 33px;
  border-bottom: 1px solid #d7d7d7;
  margin-right: 25px; }

.center-inner-block.bottom {
  margin-right: 25px;
  display: block;
  height: 34px;
  border-bottom: 1px solid #fff; }

.center-inner-block.bottom p {
  font-weight: 600;
  color: #3d3d3d;
  line-height: 34px; }

.center-inner-block p {
  font-size: 13px;
  line-height: 33px;
  font-weight: 300;
  float: left;
  width: 50%;
  display: block;
  padding-right: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.inner-box.green {
  background-color: #0BA92D;
  color: #fff !important; }

.inner-box.green span {
  color: #fff !important; }

.inner-box.gray {
  background-color: #A7A7A7; }

.inner-box.gray span {
  color: #fff; }

.inner-box.yellow {
  background-color: #E9B408; }

.inner-box.yellow span {
  color: #fff; }

.abs {
  position: absolute;
  top: 20px;
  font-size: 25px;
  right: 3px;
  color: #006eb6; }

.in-p {
  font-size: 17px;
  position: absolute;
  left: 42%;
  top: 8px; }

.thumb-inner-box .right-inner .yellow-span {
  display: inline-block;
  width: 15%;
  height: 2px;
  background-color: #e9b408;
  position: absolute;
  top: 0px; }

.thumb-inner-box {
  background-color: #fff; }

.thumb-inner-box .right-inner .descr-tr {
  padding-right: 30px;
  margin-top: 1px;
  display: block; }

.descr-tr .top-inner {
  font-weight: 400;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #006eb6; }

.descr-tr .middle-inner {
  margin-top: 0px;
  font-weight: 100;
  font-size: 12px;
  color: #828282;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.descr-tr .bottom-inner {
  font-weight: 400;
  font-size: 12px;
  color: #828282;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.right-inner-last {
  position: relative;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 5px;
  background-color: #f7f7f7;
  height: inherit;
  display: block; }

.p-title.last {
  line-height: 15px;
  font-size: 12px;
  color: #575757;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.p-title.last .radio {
  position: absolute;
  right: 35px;
  top: 12px; }

.p-title.last .fa {
  position: absolute;
  right: -8px;
  top: 2px;
  font-size: 15px; }

.p-top.last {
  line-height: 15px;
  font-weight: 300;
  font-size: 12px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.p-middle.last {
  line-height: 15px;
  font-size: 12px;
  margin-bottom: 0px;
  font-weight: 500;
  height: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.p-bottom.last {
  position: relative;
  top: -3px;
  line-height: 10px !important;
  color: #006eb6;
  font-size: 10px !important;
  text-decoration: none !important;
  margin-bottom: 0px;
  font-weight: 400; }

.p-bottom.last a {
  cursor: auto;
  line-height: 15px;
  color: #006eb6;
  font-size: 10px !important;
  text-decoration: none !important;
  margin-bottom: 0px;
  font-weight: 400; }

.p-rating.last {
  line-height: 20px;
  font-size: 11px; }

.fa.fa-asterisk.client-abs {
  font-size: 11px;
  color: #006eb6;
  position: absolute !important;
  top: 56%;
  right: 3px;
  font-size: 13px; }

/* apps-mobile */
#lazy {
  opacity: 0.4; }

/* modal t*/
.imgDoc.number {
  margin-top: 0px;
  background: none;
  overflow: hidden;
  height: 30px;
  display: block;
  text-align: left; }

.imgDoc.number img {
  display: inline-block;
  background-size: contain;
  height: 33px;
  position: relative;
  left: -2.5px; }

.thumb.transport-m {
  height: inherit;
  min-height: 100px; }

.companyDocsHolder.tr {
  margin-bottom: 20px; }

.thumb.transport-m .tr-bottom {
  margin-top: 40px; }

.modal-content.transport .modal-body {
  padding: 15px 30px 20px; }

.modal-content.transport h3 {
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 30px;
  color: #575757; }

.modal-content.transport .title {
  font-size: 13px;
  margin-bottom: 6px; }

.modal-content.transport .title a {
  margin-left: 30px;
  text-decoration: underline;
  position: relative; }

.modal-content.transport .title a i {
  top: 2px;
  margin-left: -15px;
  position: absolute; }

.remove-doc {
  font-size: 10px;
  color: #d60b0b !important; }

.remove-doc i {
  position: relative;
  top: -2px;
  color: #d60b0b !important; }

/* template */
.template-fixed-box {
  display: block;
  position: fixed;
  bottom: 5px;
  right: 5px;
  width: 200px; }

.items-numb {
  display: inline-block;
  height: 15px;
  min-width: 15px;
  max-width: 30px;
  border-radius: 20px;
  background-color: #df4f37;
  position: absolute;
  top: 4px;
  left: 10px;
  font-size: 9px;
  vertical-align: middle;
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: normal;
  color: #fff; }

.template-fixed-box .head {
  background-color: #27324B;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px; }

.template-fixed-box .head a {
  color: #fff;
  line-height: 30px;
  font-weight: 500;
  font-size: 12px;
  text-decoration: none !important; }

.template-fixed-box .head h3 {
  font-size: 12px;
  line-height: 30px;
  font-weight: 500; }
  .template-fixed-box .head h3 i {
    font-size: 10px; }

.inner-holder {
  background: #fff;
  padding: 5px;
  min-height: 100px;
  max-height: 200px;
  overflow-y: scroll; }

.template-item {
  position: relative;
  margin-bottom: 3px;
  padding: 2px;
  max-height: 28px;
  background-color: #f4f4f4; }

.template-item.active {
  padding: 3px;
  background-color: #006eb6;
  color: #fff; }

.template-item.active.input {
  max-height: 41px; }

.template-item.active i {
  color: #fff; }

.template-fixed-box .first-holder {
  display: inline-block;
  width: 50px;
  border-right: 10px solid #fff; }

.template-fixed-box .center-holder {
  display: inline-block;
  width: 110px;
  padding-left: 5px;
  padding-right: 5px;
  border-left: 2px solid #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.template-fixed-box .center-holder a {
  color: #000 !important;
  text-decoration: none !important; }

.template-fixed-box .last-holder {
  display: inline-block;
  width: 80px; }

.template-fixed-box .template-item.active .center-holder a {
  color: #fff !important; }

.modal-body .template-fixed-box {
  display: block;
  position: relative;
  bottom: 0px;
  right: 0px;
  width: 100%; }

.modal-body .template-fixed-box .first-holder {
  width: 15%; }

.modal-body .template-fixed-box .center-holder {
  width: 65%;
  text-align: left;
  padding-left: 10px;
  border-right: 2px solid #fff;
  border-left: 2px solid #fff; }

.modal-body .template-fixed-box .center-holder .form-control {
  border: #666;
  margin-bottom: 1px; }

.modal-body .template-fixed-box .last-holder {
  width: 18%;
  vertical-align: top; }

.modal-body.template {
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 0px; }

.template-footer {
  border-top: 2px solid #f4f4f4;
  padding: 0px 0px 20px 0px; }

/* */
/* chat */
.chat-box {
  opacity: 1;
  z-index: 1000; }

.container-chat {
  bottom: 1%;
  position: fixed;
  width: 80px;
  right: 10px;
  z-index: 1000; }

#chat2 {
  display: none; }

#chat {
  display: none; }

.container-chat.second {
  bottom: 1%;
  position: fixed;
  width: 300px;
  right: 105px;
  background-color: #fff;
  box-shadow: -2px 2px 4px rgba(68, 66, 66, 0.1); }

.container-chat.third {
  bottom: 1%;
  position: fixed;
  width: 300px;
  right: 105px;
  background-color: #fff;
  box-shadow: -2px 2px 4px rgba(68, 66, 66, 0.1); }

.container-chat .chat-title {
  padding: 10px 15px;
  text-align: center;
  color: #27324b;
  font-size: 18px;
  font-weight: 700; }

.container-chat.second .chat-title {
  padding: 15px 15px;
  text-align: left;
  color: #fff;
  background-color: #27324b;
  font-size: 18px;
  font-weight: 300; }

.container-chat.third .chat-title {
  padding: 15px 15px;
  text-align: left;
  color: #fff;
  background-color: #27324b;
  font-size: 18px;
  font-weight: 300; }

.close-chat {
  position: absolute;
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  display: inline-block;
  height: 20px;
  width: 20px;
  right: 25px;
  top: 18px;
  background: url("http://www.garymiskimmons.com/wp-content/themes/Gary-Portfolio-2/images/close.png") no-repeat;
  background-size: 20px; }

.container-chat .chat-inner {
  padding: 5px 5px;
  background-color: #fff; }

.container-chat .chat-inner.first {
  padding: 5px 5px;
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(68, 66, 66, 0.1); }

.container-chat .chat-inner.second {
  padding: 0px 0px;
  background-color: #fff; }

.chat-inner-top {
  text-align: center; }

.chat-inner-top.second {
  text-align: center;
  height: 264px;
  overflow-y: scroll; }

.chat-inner-top .item {
  border-bottom: 2px solid #d6d6d6;
  padding: 10px 0px 5px 0px;
  margin: 0px 10px;
  text-align: center; }

.chat-inner-top.second .item {
  border-bottom: 0px solid transparent;
  padding: 10px 15px 5px 15px;
  margin: 0px 0px;
  text-align: left;
  -webkit-transition: all .3s;
  transition: all .3s; }

.chat-inner-top.second .item:hover {
  margin: 0px 0px;
  background-color: #d9e9f4;
  -webkit-transition: all .3s;
  transition: all .3s; }

.chat-inner-top.second .item.active {
  margin: 0px 0px;
  background-color: #d9e9f4;
  -webkit-transition: all .3s;
  transition: all .3s; }

.chat-inner-top .item .profile-f-img.message {
  cursor: pointer;
  margin: 0px;
  display: inline-block;
  box-shadow: 2px 2px 4px rgba(68, 66, 66, 0.1);
  -webkit-transition: all .3s;
  transition: all .3s; }

.chat-inner-top .item .profile-f-img.message:hover {
  box-shadow: 2px 2px 4px rgba(68, 66, 66, 0.2);
  -webkit-transition: all .3s;
  transition: all .3s; }

.chat-inner-bottom {
  text-align: center;
  padding: 10px 10px;
  font-size: 14px;
  color: #27324b; }

.chat-inner-bottom a {
  position: relative;
  top: 5px; }

.chat-inner-bottom.second {
  position: relative;
  text-align: left !important;
  padding: 10px;
  font-size: 14px;
  color: #27324b;
  border-top: 2px solid #d6d6d6; }

.chat-inner-bottom.second i {
  top: 13px;
  left: 15px;
  font-size: 18px;
  position: absolute;
  color: #c7c7c7 !important; }

.chat-inner-bottom.second input {
  padding-left: 30px;
  line-height: 25px;
  width: 90%;
  text-align: left !important;
  font-size: 14px !important;
  color: #c7c7c7 !important;
  border: 0px solid transparent;
  outline-offset: 0;
  outline: none !important;
  font-weight: 300; }

.chat-inner-bottom a {
  color: #27324b;
  text-decoration: none; }

.chat-inner-bottom i {
  position: relative;
  top: -2px;
  font-size: 14px; }

.chat-name {
  padding-left: 5px;
  line-height: 45px;
  font-size: 14px;
  display: inline-block; }

.chat-name a {
  padding-left: 5px;
  line-height: 45px;
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  color: #27324b !important; }

.chat-online {
  padding-left: 8px;
  line-height: 45px;
  font-size: 16px;
  display: inline-block; }

.chat-online.active {
  display: inline-block; }

.chat-online span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #009e2c;
  border-radius: 100%;
  box-shadow: 2px 2px 4px rgba(68, 66, 66, 0.1); }

.item.active .chat-online.active span {
  right: 12px;
  position: absolute;
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-radius: 0;
  box-shadow: 2px 2px 4px rgba(68, 66, 66, 0);
  background: url(/assets/img/comment.png) no-repeat;
  background-size: 15px; }

.chat-inner-bottom.second .triangle {
  position: absolute;
  right: -10px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 15px 0 15px 20px;
  border-color: transparent transparent transparent #fff; }

.chat-inner-bottom.second.third .triangle {
  z-index: -1;
  position: absolute;
  bottom: 135px;
  right: -10px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 15px 0 15px 20px;
  border-color: transparent transparent transparent #fff; }

.chat-inner-top.second .profile-f-img.message.active::before {
  content: '';
  display: none;
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #15a333;
  border-radius: 100%;
  border: 2px solid #fff;
  box-shadow: 1px 1px 2px rgba(68, 66, 66, 0.1); }

.chat-inner-top.second .profile-f-img.message::before {
  content: '';
  display: none;
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #c7c7c7;
  border-radius: 100%;
  border: 2px solid #fff;
  box-shadow: 1px 1px 2px rgba(68, 66, 66, 0.1); }

.chat-inner.third .chat-inner-top.second .profile-f-img.message.active::before {
  content: '';
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #15a333;
  border-radius: 100%;
  border: 2px solid #fff;
  box-shadow: 1px 1px 2px rgba(68, 66, 66, 0.1); }

.chat-inner.third .chat-inner-top.second .profile-f-img.message::before {
  content: '';
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #c7c7c7;
  border-radius: 100%;
  border: 2px solid #fff;
  box-shadow: 1px 1px 2px rgba(68, 66, 66, 0.1); }

.chat-dialog {
  display: block;
  padding: 10px 10px;
  border: 1px solid #f4f4f4;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(68, 66, 66, 0.1); }

.chat-dialog.user {
  background-color: #d9e9f4;
  border-color: #d9e9f4; }

.chat-dialog a {
  color: #006eb6 !important;
  font-size: 12px !important;
  margin-bottom: 5px;
  display: block;
  text-decoration: none;
  font-weight: 500; }

.chat-dialog p {
  word-break: break-all;
  display: block;
  width: 100%;
  font-size: 13px;
  color: #282828; }

.chat-inner.third {
  padding: 0px; }

.chat-inner.third input {
  color: #282828 !important; }

.chat-inner.third .chat-inner-top.second .item:hover {
  margin: 0px 0px;
  background-color: transparent;
  -webkit-transition: all .3s;
  transition: all .3s; }

.chat-dialog .triangle-r {
  position: absolute;
  left: 1px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 15px 10px 0;
  border-color: transparent #d9e9f4 transparent transparent; }

.chat-dialog .triangle-l {
  position: absolute;
  right: 1px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #f4f4f4; }

.chat-inner-bottom .abs i {
  color: #27324b !important;
  position: absolute;
  top: -6px;
  left: 6px; }

.chat-inner-bottom .fa.fa-paperclip {
  color: #27324b !important; }

/* */
.profile-f.reviews .stars {
  font-size: 12px;
  margin-left: 5px; }

.pull-right.green.reviews {
  margin-top: 10px;
  line-height: 20px; }

.pull-right.red.reviews {
  margin-top: 10px;
  line-height: 20px;
  color: #df4f37; }

.form-control {
  border-radius: 1px !important; }

.tr-margin-right.reviews {
  margin-right: -15px; }

.reviews-p {
  word-break: break-all;
  font-size: 12px !important;
  color: #333333 !important;
  margin-bottom: 20px !important; }

.info-profile .row.inner-tab.reviews {
  margin-left: -15px !important; }

.info-profile.reviews .profile-f.reviews {
  margin-left: -10px !important; }

.reviews-box {
  margin-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  margin-left: 0px; }

.reviews-box:last-child {
  margin-bottom: 10px;
  border-bottom: 1px solid transparent;
  margin-left: 0px; }

.center-st {
  margin-top: 0px;
  display: block;
  text-align: center !important;
  margin-bottom: 0px;
  width: 100% !important; }

a.canvasjs-chart-credit {
  display: none !important; }

#chartContainer {
  display: block !important;
  width: 100% !important;
  opacity: 0.8;
  height: 330px;
  vertical-align: top !important;
  text-align: center !important;
  position: relative !important; }

.canvasjs-chart-container {
  cursor: auto;
  text-align: center !important;
  position: relative !important; }

canvas.canvasjs-chart-canvas {
  display: inline-block !important;
  text-align: center;
  position: relative !important; }

audio, canvas, progress, video {
  display: inline-block !important;
  vertical-align: top !important; }

.padding {
  padding-right: 5px; }

.sorting-b {
  display: inline-block;
  line-height: 24px;
  font-size: 15px;
  position: relative;
  float: right;
  padding: 5px 0px; }

.top-profile .col-sm-3 {
  padding-left: 5px; }

.mt-app {
  line-height: 30px; }

.row.inner-tab .col-xs-3.no-padding {
  padding-left: 0px;
  padding-right: 0px; }

.btn-group.message {
  position: relative;
  top: 1px; }

/* news-profile */
.tab-box .newsItem.row {
  margin-left: -30px;
  margin-right: -15px; }

.tab-box .anons {
  line-height: 20px;
  font-size: 13px !important;
  color: #282828; }

.tab-box .anons {
  line-height: 20px;
  font-size: 13px !important;
  color: #282828; }

.add-news b {
  font-weight: 400 !important; }

.padding-t {
  margin-top: 5px; }

.news-a {
  padding: 10px 35px 0px 20px !important; }

.padding-text {
  background-color: #f4f4f4; }

.padding-text p {
  padding: 15px;
  background-color: #f4f4f4; }

.padding-text span {
  color: #27324b !important;
  font-style: italic; }

.padding-text a {
  text-decoration: underline; }

.add-news {
  margin-top: 0px;
  margin-bottom: 20px; }

.public {
  float: right;
  width: 200px; }

.mce-panel {
  border-radius: 1px !important;
  border: 0 solid #cacaca;
  border: 0 solid rgba(0, 0, 0, 0.2);
  background-color: #fff !important; }

.mce-btn {
  border: 1px solid #fff !important;
  border-color: transparent transparent transparent transparent;
  position: relative;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  display: inline-block;
  background-color: #fff !important; }

.mce-container, .mce-container-body {
  display: block;
  border-radius: 1px !important; }

/*app*/
.application-row {
  margin-top: 5px;
  margin-right: 0px;
  margin-left: 0px; }

.application-row .carIconSm {
  background: url(../img/truckSm.png) no-repeat left;
  position: absolute;
  width: 100px;
  height: 30px;
  left: 120px;
  top: -5px;
  background-size: contain; }

.application-row .carIconMd {
  background: url(../img/truck.png) no-repeat center;
  position: absolute;
  width: 80px;
  height: 30px;
  left: 120px;
  top: -5px;
  background-size: contain; }

.application-row .carIconLg {
  background: url(../img/truckBg.png) no-repeat center;
  position: absolute;
  width: 100px;
  height: 30px;
  left: 120px;
  top: -5px;
  background-size: contain; }

.application-row .radio-app {
  margin-top: 30px;
  margin-bottom: 25px;
  display: block;
  font-weight: 300 !important; }

.application-row .radio-app label {
  font-weight: 300 !important;
  font-size: 12px !important; }

.application-row .radio-app input {
  font-weight: 300 !important;
  font-size: 12px !important;
  position: relative;
  margin-right: 5px; }

.application-row .truckMeasures .measuresInput, .application-row .cargoMeasures .measuresInput {
  display: inline-block;
  width: 32%;
  margin-right: 0.8%; }

.application-row .truckMeasures .measuresInput:last-child, .application-row .cargoMeasures .measuresInput:last-child {
  margin-right: 0; }

.application-row .input-group-addon {
  padding: 6px 6px 6px 6px;
  font-size: 11px !important;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: right;
  background-color: #e4e4e4;
  border: 1px solid transparent;
  border-radius: 1px 1px 1px 1px; }

.application-row .truckMeasures .input-group-addon, .application-row .cargoMeasures .input-group-addon, .application-row .truckType .input-group-addon, .application-row .cargoType .input-group-addon {
  width: 35px !important;
  text-align: center;
  font-size: 13px;
  font-weight: 500; }

.addTransportContent .whiteFluidContainer label, .addTransportContent .greyFluidContainer label {
  color: #27324b;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 0px;
  position: static; }

.app-link {
  text-decoration: none !important; }

.form-control.app {
  border-radius: 1px 1px 1px 1px !important;
  font-size: 11px !important; }

.application-row .truckMeasures {
  margin-top: 25px; }

.application-row .form-group h2 {
  margin-bottom: 20px;
  display: block; }

.application-row .truckWeight {
  margin-bottom: 20px; }

.row.line-profile.transparent.app {
  padding-bottom: 0px; }

.apps {
  margin-top: 5px;
  font-size: 14px;
  color: #006eb6; }

.apps a {
  text-decoration: none; }

.thumb-inner.application .gray-t {
  padding: 0px 0px 0px 0px;
  font-size: 11px;
  color: #868686;
  font-weight: 200;
  margin-top: 10px; }

.thumb-inner.application .gray-bb {
  padding: 0px 0px 0px 0px;
  font-size: 18px;
  color: #585858;
  font-weight: 800; }

.thumb-inner.application .gray-b {
  padding: 0px 0px 0px 0px;
  font-size: 16px;
  color: #7e7e7e;
  font-weight: 500; }

.thumb-inner.application .center-inner.w {
  background-color: #ffffff;
  border-bottom: 2px solid #dddddd;
  min-height: 60px;
  display: block; }

.thumb-inner.application .center-inner.w .col-md-4 {
  padding-left: 0px; }

.thumb-inner.application .center-inner.w p {
  color: #3d3d3d;
  font-size: 12px;
  display: block;
  padding: 0;
  line-height: 38px;
  font-weight: 300;
  margin-top: 10px; }

.thumb-inner.application .center-inner.w span {
  text-decoration: none;
  margin-top: 14px;
  font-size: 13px; }

.thumb-inner.application .center-inner.w a {
  text-decoration: none;
  margin-top: 10px;
  font-size: 13px; }

.thumb-inner.application .center-inner.w a:hover {
  text-decoration: none;
  margin-top: 10px;
  font-size: 14px;
  color: #006eb6; }

.thumb-inner.application .center-inner.w.second {
  background-color: #ffffff;
  border-bottom: 1px solid transparent;
  font-size: 13px; }

.thumb-inner.application .center-inner.w.second i {
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 17px; }

.thumb-inner.application .center-inner.w.second a {
  text-decoration: underline;
  font-weight: 400; }

.thumb-inner.application .center-inner.w.second .inner {
  font-weight: 500; }

.thumb-inner.application .fa.fa-map-marker.fa-2x {
  position: absolute;
  right: 5px; }

.thumb-inner.application .center-inner.w .row.inner .inner {
  display: block !important; }

.thumb-inner.application .center-inner.w .fa.fa-angle-right {
  color: #707e8c;
  font-weight: 100;
  position: relative;
  top: 3px;
  margin-left: 30px;
  margin-right: 20px; }

.center-inner.w .row.inner {
  padding-left: 5px;
  padding-right: 5px; }

.thumb-inner.application .border-r {
  border-right: 5px solid #cdcdcd; }

.thumb-inner.application .col-md-12 {
  padding-left: 0px;
  padding-right: 0px; }

.thumb-inner.application .col-md-4 {
  padding-left: 0px;
  padding-right: 0px; }

.thumb-inner.application .center-inner-second .top-inner {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #0069be;
  padding-right: 90px;
  line-height: 18px; }

.thumb-inner.application .tr-bottom {
  margin-top: 10px; }

.thumb-inner.application .row.second {
  padding-left: 15px; }

/* transport */
.up-arrow {
  position: absolute;
  left: 15px;
  top: 30px;
  width: 20px;
  height: 20px;
  background: url(/assets/img/arrowup.png) no-repeat center; }

.vip-ico {
  position: absolute;
  left: 15px;
  top: 55px;
  width: 20px;
  height: 20px;
  background: url(/assets/img/vip.png) no-repeat center; }

.edit-ico {
  position: absolute;
  left: 14px;
  top: 80px;
  width: 20px;
  height: 20px;
  background: url(/assets/img/edit.png) no-repeat center; }

.info-profile.transport .thumb.transport {
  margin-left: 0px;
  margin-bottom: 0px;
  height: inherit;
  border: 2px solid #d7d7d7;
  box-shadow: 2px 2px 4px rgba(68, 66, 66, 0.1);
  -webkit-transition: all .3s;
  transition: all .3s; }

.info-profile.transport .thumb.transport:hover {
  margin-left: 0px;
  margin-bottom: 0px;
  height: inherit;
  border: 2px solid #e9b408;
  box-shadow: 2px 2px 4px rgba(68, 66, 66, 0.1);
  -webkit-transition: all .3s;
  transition: all .3s; }

.thumb-inner.application .center-inner.w a:hover {
  text-decoration: none;
  margin-top: 0px;
  font-size: inherit !important;
  color: #006eb6; }

.info-profile.transport .thumb.transport .col-md-12 {
  padding-left: 0px;
  padding-right: 0px; }

.thumb.transport:hover {
  border-color: 2px solid #e9b408 !important; }

.q .fa-gavel {
  color: #006eb6;
  position: relative;
  top: 4px; }

.q a {
  color: #006eb6;
  line-height: 30px; }

.q span {
  line-height: 30px; }

.top-profile {
  border-bottom: 1px solid #f0f0f0;
  padding: 55px 30px 29px 30px;
  margin-right: 15px;
  height: 155px; }

.profile-img-box {
  height: 155px; }

/* transport-profile */
.gr.title {
  margin-left: 20px;
  font-size: 12px;
  font-weight: normal; }

.label--checkbox.inline.message.tr {
  display: block;
  margin-top: 2px; }

.btn.btn-primary.transparent {
  position: relative;
  right: -20px;
  color: #006EB6;
  background-color: transparent !important;
  border: 0px !important;
  box-shadow: 0px !important;
  box-shadow: 0px 0px 2px 1px transparent !important; }

.info-profile.transport .label--checkbox.inline {
  position: absolute;
  top: -5px; }

.info-profile.transport .thumb.transport .thumb-inner .radio {
  position: relative;
  top: 7px;
  right: -10px; }

.info-profile.transport {
  margin-bottom: 10px; }

.info-profile.transport .thumb.transport {
  margin-left: 0px;
  margin-bottom: 10px;
  border: 2px solid #d7d7d7;
  box-shadow: 2px 2px 4px rgba(68, 66, 66, 0.1); }

.info-profile.transport .thumb.transport:hover {
  margin-bottom: 10px; }

.center-inner-second {
  height: inherit;
  padding-left: 0px;
  display: block;
  background-color: #ffffff; }

.center-inner-second .top-inner {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #0069be;
  padding-right: 80px;
  line-height: 18px;
  margin-top: 5px; }

.center-inner-second .middle-inner {
  margin-top: 15px;
  font-size: 13px;
  font-weight: 200;
  color: #828282; }

.center-inner-second .bottom-inner {
  font-size: 13px;
  font-weight: 400;
  color: #9f9f9f; }

.info-profile.transport .thumb.transport .thumb-inner.transport {
  overflow: hidden;
  display: block;
  height: 100%;
  border: 1px solid #ffffff; }

.info-profile.transport .thumb.transport .thumb-inner.transport .row {
  margin-left: 0px;
  margin-right: 0px; }

.info-profile.transport .thumb.transport .thumb-inner.transport .row .col-md-4 {
  padding-left: 0px;
  padding-right: 0px; }

.info-profile.transport .thumb.transport .thumb-inner.transport .row .col-md-8 {
  padding-left: 5px;
  padding-right: 5px; }

.thumb-inner.transport .center-inner.img {
  border-right: 4px solid #e9b408;
  overflow: hidden !important;
  min-height: 85px;
  max-height: 105px;
  display: block;
  text-align: center !important; }

.thumb-inner.transport .center-inner.img img {
  height: inherit;
  width: 115px;
  text-align: center;
  display: inline-block;
  position: relative; }

.info-profile.transport .thumb.transport .center-inner-second p {
  margin-bottom: 0px; }

.tr-bottom {
  margin-top: 20px;
  display: block; }

.tr-center {
  margin-top: 10px;
  margin-bottom: 5px;
  display: block; }

.tr-center p {
  margin-top: 0px !important;
  margin-bottom: 0px !important; }

.tr-margin-right {
  margin-right: -5px; }

#transport .editing-block {
  display: block;
  position: absolute;
  right: -5px;
  top: 35px; }

.editing-block {
  display: block;
  position: absolute;
  right: -5px;
  top: 42px; }

.editing-block a {
  position: relative;
  display: block;
  font-size: 14px; }

.editing-block .fa.fa-times.red {
  color: #df5038; }

.back-img.bag {
  background: url(../img/dropbox-logo.png) no-repeat right;
  position: absolute;
  width: 50px;
  height: 15px;
  right: -10px;
  display: inline-block;
  top: 3px;
  background-size: contain; }

.back-img {
  background: url(../img/truck.png) no-repeat right;
  position: absolute;
  width: 50px;
  height: 15px;
  right: 5px;
  display: inline-block;
  top: 3px;
  background-size: contain; }

.back-img2 {
  background: url(../img/truckSm.png) no-repeat right;
  position: absolute;
  width: 50px;
  height: 15px;
  right: -10px;
  display: inline-block;
  top: 3px;
  background-size: contain; }

.back-img3 {
  background: url(../img/truckBg.png) no-repeat right;
  position: absolute;
  width: 50px;
  height: 15px;
  right: -10px;
  display: inline-block;
  top: 3px;
  background-size: contain; }

@media (max-width: 992px) {
  .row.top {
    border-bottom: 2px solid #DDDDDD; }
  .thumb-inner.transport .center-inner.img {
    border-right: 0px solid #e9b408; }
  .apps {
    margin-top: 12px;
    font-size: 14px;
    color: #006eb6; }
  .apps a {
    text-decoration: none; }
  .thumb-inner.application .center-inner.g {
    width: 100% !important;
    border-right: 2px solid #cdcdcd; }
  .thumb-inner.application .gray-t {
    padding: 0px 0px 0px 0px;
    font-size: 11px;
    color: #868686;
    font-weight: 200;
    margin-top: 10px; }
  .thumb-inner.application .gray-bb {
    padding: 0px 0px 0px 0px;
    font-size: 18px;
    color: #585858;
    font-weight: 800; }
  .thumb-inner.application .gray-b {
    padding: 0px 0px 0px 0px;
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 500; }
  .thumb-inner.application .center-inner.w {
    background-color: #ffffff;
    border-bottom: 2px solid #dddddd;
    display: inline-block; }
  .thumb-inner.application .center-inner.w .col-md-4 {
    padding-left: 0px; }
  .thumb-inner.application .center-inner.w p {
    color: #3d3d3d;
    font-size: 12px;
    display: block;
    padding: 0;
    line-height: 38px !important;
    font-weight: 300;
    margin-top: 10px; }
  .thumb-inner.application .center-inner.w span {
    text-decoration: none;
    margin-top: 14px;
    font-size: 13px; }
  .thumb-inner.application .center-inner.w a {
    text-decoration: none;
    margin-top: 10px;
    font-size: 13px; }
  .thumb-inner.application .center-inner.w a:hover {
    text-decoration: none;
    margin-top: 10px;
    font-size: 14px;
    color: #006eb6; }
  .thumb-inner.application .center-inner.w.second {
    background-color: #ffffff;
    border-bottom: 1px solid transparent;
    min-height: 60px;
    font-size: 13px; }
  .thumb-inner.application .center-inner.w.second i {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 17px; }
  .thumb-inner.application .center-inner.w.second a {
    text-decoration: underline;
    font-weight: 400; }
  .thumb-inner.application .center-inner.w.second .inner {
    font-weight: 500; }
  .thumb-inner.application .fa.fa-map-marker.fa-2x {
    position: absolute;
    right: 5px; }
  .thumb-inner.application .center-inner.w .row.inner .inner {
    display: inline-block; }
  .thumb-inner.application .center-inner.w .fa.fa-angle-right {
    color: #707e8c;
    font-weight: 100;
    position: relative;
    top: 3px;
    margin-left: 0px;
    margin-right: 0px; }
  .center-inner.w .row.inner {
    padding-left: 5px;
    padding-right: 5px; }
  .thumb-inner.application .border-r {
    border-right: 0px solid #cdcdcd; }
  .thumb-inner.application .col-md-12 {
    padding-left: 0px;
    padding-right: 0px; }
  .thumb-inner.application .col-md-4 {
    padding-left: 0px;
    padding-right: 0px; }
  .thumb-inner.application .center-inner-second .top-inner {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #0069be;
    padding-right: 70px;
    line-height: 18px; }
  .thumb-inner.application .tr-bottom {
    margin-top: 15px; }
  .thumb-inner.application .row.second {
    padding-left: 0px;
    margin-left: 0px; }
  .thumb-inner.application .center-inner-second {
    padding: 5px; }
  .thumb-inner.application .center-inner.last {
    padding: 5px; }
  .thumb-inner.application .center-inner.last .pull-right.radio {
    top: 7px !important;
    right: -15px; }
  .thumb-inner.application .center-inner.last .fa.fa-envelope {
    top: 0px !important;
    right: -10px; }
  .thumb-inner.application .center-inner.w {
    background-color: #ffffff;
    border-bottom: 2px solid #dddddd;
    height: inherit;
    display: block; }
  .thumb-inner.application .center-inner.w.second {
    background-color: #ffffff;
    border-bottom: 1px solid transparent;
    font-size: 13px;
    height: inherit;
    display: block; }
  .thumb-inner.application .center-inner.w.second i {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 10px; }
  .thumb-inner.application .inner p {
    text-align: left;
    width: 100%;
    line-height: 20px !important; }
  .thumb-inner.application .center-inner.w .fa.fa-angle-right {
    position: relative;
    top: 3px;
    right: 0px;
    color: #707e8c;
    font-weight: 100;
    margin-left: 5px;
    margin-right: 5px; }
  /* apps-mobile */
  .border-bottom-mobile {
    border-bottom: 0px solid #d7d7d7; }
  .thumb-block {
    border: 2px solid #d7d7d7;
    margin-bottom: 10px;
    margin-top: 5px; }
  .thumb-inner-box {
    border: 1px solid #fff; }
  .inner-box {
    padding: 5px;
    height: inherit;
    display: block;
    background-color: #f7f7f7;
    text-align: center; }
  .inner-box span {
    line-height: 20px; }
  .gray-top {
    display: block;
    font-size: 12px;
    color: #868686;
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 5px; }
  .gray-middle {
    display: block;
    font-size: 20px;
    color: #585858;
    font-weight: 800;
    margin-bottom: 5px; }
  .gray-bottom {
    display: block;
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 500;
    margin-bottom: 0px !important; }
  .center-inner-block {
    padding-left: 5px;
    padding-right: 0px;
    display: block;
    height: 50px;
    position: relative;
    border-bottom: 1px solid #d7d7d7; }
  .center-inner-block.bottom {
    display: block;
    height: 50px;
    border-bottom: 1px solid transparent; }
  .center-inner-block.bottom p {
    font-weight: 600;
    color: #3d3d3d; }
  .center-inner-block p {
    font-size: 12px;
    line-height: 40px !important;
    float: left;
    width: 50%;
    display: block; }
  .abs {
    position: absolute;
    top: 35px;
    right: 3px;
    color: #006eb6; }
  .in-p {
    position: relative;
    left: 3px;
    top: 3px; }
  .thumb-bottom {
    margin-right: 0px;
    margin-left: 0px; }
  .thumb-bottom .col-xs-6 {
    padding-left: 0px;
    padding-right: 0px; }
  .thumb-inner-box .right-inner {
    padding-left: 5px; }
  .thumb-inner-box .right-inner .yellow-span {
    display: inline-block;
    width: 15%;
    height: 2px;
    background-color: #e9b408;
    position: absolute;
    top: 0px; }
  .thumb-inner-box .right-inner .descr-tr {
    padding-right: 0px;
    margin-top: 5px;
    display: block; }
  .descr-tr .top-inner {
    font-weight: 400;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #006eb6; }
  .descr-tr .middle-inner {
    margin-top: 0px;
    font-weight: 100;
    font-size: 13px;
    color: #828282; }
  .descr-tr .bottom-inner {
    font-weight: 400;
    font-size: 13px;
    color: #828282; }
  .right-inner-last {
    position: relative;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 5px;
    background-color: #f7f7f7;
    height: inherit;
    display: block; }
  .p-title.last {
    line-height: 15px;
    font-size: 13px;
    color: #575757;
    margin-bottom: 25px; }
  .p-title.last .radio {
    position: absolute;
    right: 35px;
    top: 12px; }
  .p-title.last .fa {
    position: absolute;
    right: -8px;
    top: 2px;
    font-size: 15px; }
  .p-top.last {
    line-height: 15px;
    font-weight: 300;
    font-size: 13px;
    margin-bottom: 5px; }
  .p-middle.last {
    line-height: 15px;
    font-size: 13px;
    margin-bottom: 5px;
    font-weight: 500; }
  .p-bottom.last {
    line-height: 15px;
    color: #006eb6;
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: 400; }
  .p-rating.last {
    margin-top: 0px;
    line-height: 15px;
    font-size: 11px; }
  .fa.fa-asterisk.client-abs {
    display: block;
    font-size: 14px;
    color: #006eb6;
    position: absolute !important;
    right: 10px; }
  /* apps-mobile */ }

@media (max-width: 768px) {
  .row.top {
    border-bottom: 2px solid #DDDDDD; }
  .thumb-inner.transport .center-inner.img {
    border-right: 0px solid #e9b408; }
  .apps {
    margin-top: 12px;
    font-size: 14px;
    color: #006eb6; }
  .apps a {
    text-decoration: none; }
  .thumb-inner.application .center-inner.g {
    width: 100% !important;
    border-bottom: 2px solid #DDDDDD; }
  .thumb-inner.application .gray-t {
    padding: 0px 0px 0px 0px;
    font-size: 11px;
    color: #868686;
    font-weight: 200;
    margin-top: 10px; }
  .thumb-inner.application .gray-bb {
    padding: 0px 0px 0px 0px;
    font-size: 18px;
    color: #585858;
    font-weight: 800; }
  .thumb-inner.application .gray-b {
    padding: 0px 0px 0px 0px;
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 500; }
  .thumb-inner.application .center-inner.w {
    background-color: #ffffff;
    border-bottom: 2px solid #dddddd;
    display: inline-block; }
  .thumb-inner.application .center-inner.w .col-md-4 {
    padding-left: 0px; }
  .thumb-inner.application .center-inner.w p {
    color: #3d3d3d;
    font-size: 12px;
    display: inline-block;
    padding: 0;
    line-height: 40px;
    font-weight: 300;
    margin-top: 10px; }
  .thumb-inner.application .center-inner.w span {
    text-decoration: none;
    margin-top: 14px;
    font-size: 13px; }
  .thumb-inner.application .center-inner.w a {
    text-decoration: none;
    margin-top: 10px;
    font-size: 13px; }
  .thumb-inner.application .center-inner.w a:hover {
    text-decoration: none;
    margin-top: 10px;
    font-size: 14px;
    color: #006eb6; }
  .thumb-inner.application .center-inner.w.second {
    background-color: #ffffff;
    border-bottom: 1px solid transparent;
    min-height: 60px;
    font-size: 13px; }
  .thumb-inner.application .center-inner.w.second i {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 17px; }
  .thumb-inner.application .center-inner.w.second a {
    text-decoration: underline;
    font-weight: 400; }
  .thumb-inner.application .center-inner.w.second .inner {
    font-weight: 500; }
  .thumb-inner.application .fa.fa-map-marker.fa-2x {
    position: absolute;
    right: 5px; }
  .thumb-inner.application .center-inner.w .row.inner .inner {
    display: inline-block; }
  .thumb-inner.application .center-inner.w .fa.fa-angle-right {
    color: #707e8c;
    font-weight: 100;
    position: relative;
    top: 3px;
    margin-left: 0px;
    margin-right: 0px; }
  .center-inner.w .row.inner {
    padding-left: 5px;
    padding-right: 5px; }
  .thumb-inner.application .border-r {
    border-right: 0px solid #cdcdcd; }
  .thumb-inner.application .col-md-12 {
    padding-left: 0px;
    padding-right: 0px; }
  .thumb-inner.application .col-md-4 {
    padding-left: 0px;
    padding-right: 0px; }
  .thumb-inner.application .center-inner-second .top-inner {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #0069be;
    padding-right: 70px;
    line-height: 18px; }
  .thumb-inner.application .tr-bottom {
    margin-top: 15px; }
  .thumb-inner.application .row.second {
    padding-left: 0px;
    margin-left: 0px; }
  .thumb-inner.application .center-inner-second {
    padding: 5px; }
  .thumb-inner.application .center-inner.last {
    padding: 5px; }
  .thumb-inner.application .center-inner.last .pull-right.radio {
    top: 7px !important;
    right: -15px; }
  .thumb-inner.application .center-inner.last .fa.fa-envelope {
    top: 0px !important;
    right: -10px; }
  .thumb-inner.application .center-inner.w {
    background-color: #ffffff;
    border-bottom: 2px solid #dddddd;
    height: inherit;
    display: block; }
  .thumb-inner.application .center-inner.w.second {
    background-color: #ffffff;
    border-bottom: 1px solid transparent;
    font-size: 13px;
    height: inherit;
    display: block; }
  .thumb-inner.application .center-inner.w.second i {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 10px; }
  .thumb-inner.application .inner p {
    text-align: left;
    width: 100%;
    line-height: 20px !important; }
  .thumb-inner.application .center-inner.w .fa.fa-angle-right {
    position: relative;
    top: 3px;
    right: 0px;
    color: #707e8c;
    font-weight: 100;
    margin-left: 5px;
    margin-right: 5px; }
  /* apps-mobile */
  .border-bottom-mobile {
    border-bottom: 2px solid #d7d7d7; }
  .thumb-block {
    border: 2px solid #d7d7d7;
    margin-bottom: 10px;
    margin-top: 5px; }
  .thumb-inner-box {
    border: 1px solid #fff; }
  .inner-box {
    padding: 5px;
    height: inherit;
    display: block;
    background-color: #f7f7f7;
    text-align: center; }
  .inner-box span {
    line-height: 20px; }
  .gray-top {
    display: block;
    font-size: 12px;
    color: #868686;
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 5px; }
  .gray-middle {
    display: block;
    font-size: 20px;
    color: #585858;
    font-weight: 800;
    margin-bottom: 5px; }
  .gray-bottom {
    display: block;
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 500;
    margin-bottom: 0px !important; }
  .box-border {
    border-right: 0px solid #D7D7D7;
    margin-right: -0px;
    margin-left: -30px; }
  .center-inner-block {
    padding-left: 5px;
    padding-right: 0px;
    display: block;
    height: 50px;
    border-bottom: 1px solid #d7d7d7;
    margin-right: 0px; }
  .center-inner-block.bottom {
    margin-right: 0px;
    display: block;
    height: 50px;
    border-bottom: 1px solid transparent; }
  .center-inner-block.bottom p {
    font-weight: 600;
    color: #3d3d3d; }
  .center-inner-block p {
    font-size: 12px;
    line-height: 50px;
    float: left;
    width: 50%;
    display: block; }
  .abs {
    display: none;
    position: absolute;
    top: 45px;
    right: 3px;
    color: #006eb6; }
  .in-p {
    position: relative;
    left: 3px;
    top: 3px; }
  .thumb-bottom {
    margin-right: 0px;
    margin-left: 0px; }
  .thumb-bottom .col-xs-6 {
    padding-left: 0px;
    padding-right: 0px; }
  .thumb-inner-box .right-inner {
    padding-left: 5px; }
  .thumb-inner-box .right-inner .back-img.appl {
    position: absolute;
    right: -5px;
    display: none; }
  .thumb-inner-box .right-inner .yellow-span {
    display: inline-block;
    width: 15%;
    height: 3px;
    background-color: #e9b408;
    position: absolute;
    top: 1px; }
  .thumb-inner-box .right-inner .descr-tr {
    padding-right: 0px;
    margin-top: 5px;
    display: block; }
  .descr-tr .top-inner {
    padding-right: 20px;
    font-size: 14px;
    color: #006eb6;
    margin-bottom: 5px; }
  .descr-tr .middle-inner {
    margin-top: 0px;
    font-weight: 100;
    font-size: 13px;
    color: #828282; }
  .descr-tr .bottom-inner {
    font-weight: 400;
    font-size: 13px;
    color: #828282; }
  .right-inner-last {
    position: relative;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 5px;
    background-color: #f7f7f7;
    height: inherit;
    display: block; }
  .right-inner-last p {
    line-height: 20px; }
  .p-title.last {
    line-height: 20px;
    font-size: 13px;
    color: #575757;
    margin-bottom: 0px; }
  .p-title.last .radio {
    display: none;
    position: absolute;
    right: 35px;
    top: 12px; }
  .p-title.last .fa {
    display: none;
    position: absolute;
    right: 0px; }
  .p-top.last {
    line-height: 20px;
    font-weight: 300;
    font-size: 13px;
    margin-bottom: 0px; }
  .p-middle.last {
    line-height: 20px;
    font-size: 13px;
    margin-bottom: 0px;
    font-weight: 500; }
  .p-bottom.last {
    line-height: 22px;
    color: #006eb6;
    font-size: 12px;
    margin-bottom: 0px;
    font-weight: 400; }
  .p-rating.last {
    display: none;
    line-height: 20px;
    font-size: 11px; }
  /* apps-mobile */ }

@media (min-width: 480px) and (max-width: 768px) {
  .thumb-inner.transport .center-inner.img {
    border-right: 0px solid #e9b408; }
  .apps {
    margin-top: 12px;
    font-size: 14px;
    color: #006eb6; }
  .apps a {
    text-decoration: none; }
  .thumb-inner.application .center-inner.g {
    width: 100% !important; }
  .thumb-inner.application .gray-t {
    padding: 0px 0px 0px 0px;
    font-size: 11px;
    color: #868686;
    font-weight: 200;
    margin-top: 10px; }
  .thumb-inner.application .gray-bb {
    padding: 0px 0px 0px 0px;
    font-size: 18px;
    color: #585858;
    font-weight: 800; }
  .thumb-inner.application .gray-b {
    padding: 0px 0px 0px 0px;
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 500; }
  .thumb-inner.application .center-inner.w {
    background-color: #ffffff;
    border-bottom: 2px solid #dddddd;
    display: inline-block; }
  .thumb-inner.application .center-inner.w .col-md-4 {
    padding-left: 0px; }
  .thumb-inner.application .center-inner.w p {
    color: #3d3d3d;
    font-size: 12px;
    display: inline-block;
    padding: 0;
    line-height: 40px;
    font-weight: 300;
    margin-top: 10px; }
  .thumb-inner.application .center-inner.w span {
    text-decoration: none;
    margin-top: 14px;
    font-size: 13px; }
  .thumb-inner.application .center-inner.w a {
    text-decoration: none;
    margin-top: 10px;
    font-size: 13px; }
  .thumb-inner.application .center-inner.w a:hover {
    text-decoration: none;
    margin-top: 10px;
    font-size: 14px;
    color: #006eb6; }
  .thumb-inner.application .center-inner.w.second {
    background-color: #ffffff;
    border-bottom: 1px solid transparent;
    min-height: 60px;
    font-size: 13px; }
  .thumb-inner.application .center-inner.w.second i {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 17px; }
  .thumb-inner.application .center-inner.w.second a {
    text-decoration: underline;
    font-weight: 400; }
  .thumb-inner.application .center-inner.w.second .inner {
    font-weight: 500; }
  .thumb-inner.application .fa.fa-map-marker.fa-2x {
    position: absolute;
    right: 5px; }
  .thumb-inner.application .center-inner.w .row.inner .inner {
    display: inline-block; }
  .thumb-inner.application .center-inner.w .fa.fa-angle-right {
    color: #707e8c;
    font-weight: 100;
    position: relative;
    top: 3px;
    margin-left: 0px;
    margin-right: 0px; }
  .center-inner.w .row.inner {
    padding-left: 5px;
    padding-right: 5px; }
  .thumb-inner.application .border-r {
    border-right: 0px solid #cdcdcd; }
  .thumb-inner.application .col-md-12 {
    padding-left: 0px;
    padding-right: 0px; }
  .thumb-inner.application .col-md-4 {
    padding-left: 0px;
    padding-right: 0px; }
  .thumb-inner.application .center-inner-second .top-inner {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #0069be;
    padding-right: 70px;
    line-height: 18px; }
  .thumb-inner.application .tr-bottom {
    margin-top: 15px; }
  .thumb-inner.application .row.second {
    padding-left: 0px;
    margin-left: 0px; }
  .thumb-inner.application .center-inner-second {
    padding: 5px; }
  .thumb-inner.application .center-inner.last {
    padding: 5px; }
  .thumb-inner.application .center-inner.last .pull-right.radio {
    top: 7px !important;
    right: -15px; }
  .thumb-inner.application .center-inner.last .fa.fa-envelope {
    top: 0px !important;
    right: -10px; }
  .thumb-inner.application .center-inner.w {
    display: block;
    background-color: #ffffff;
    border-bottom: 2px solid #dddddd;
    height: inherit; }
  .thumb-inner.application .center-inner.w.second {
    background-color: #ffffff;
    border-bottom: 1px solid transparent;
    font-size: 13px;
    height: inherit;
    display: block; }
  .thumb-inner.application .center-inner.w.second i {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 10px; }
  .thumb-inner.application .inner p {
    text-align: left;
    width: 100%;
    line-height: 20px !important; }
  .thumb-inner.application .center-inner.w .fa.fa-angle-right {
    position: relative;
    top: 3px;
    right: 0px;
    color: #707e8c;
    font-weight: 100;
    margin-left: 5px;
    margin-right: 5px; }
  .thumb-inner.application .center-inner-second .top-inner span {
    background-size: 50px; }
  /* apps-mobile */
  .border-bottom-mobile {
    border-bottom: 2px solid #d7d7d7; }
  .thumb-block {
    border: 2px solid #d7d7d7;
    margin-bottom: 10px;
    margin-top: 5px; }
  .thumb-inner-box {
    border: 1px solid #fff; }
  .inner-box {
    padding: 5px;
    height: inherit;
    display: block;
    background-color: #f7f7f7;
    text-align: center; }
  .inner-box span {
    line-height: 20px; }
  .gray-top {
    display: block;
    font-size: 12px;
    color: #868686;
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 5px; }
  .gray-middle {
    display: block;
    font-size: 20px;
    color: #585858;
    font-weight: 800;
    margin-bottom: 5px; }
  .gray-bottom {
    display: block;
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 500;
    margin-bottom: 0px; }
  .box-border {
    border-right: 0px solid #D7D7D7;
    margin-right: -0px;
    margin-left: -30px; }
  .center-inner-block {
    padding-left: 5px;
    padding-right: 0px;
    display: block;
    height: 50px;
    border-bottom: 1px solid #d7d7d7;
    margin-right: 0px; }
  .center-inner-block.bottom {
    margin-right: 0px;
    display: block;
    height: 50px;
    border-bottom: 1px solid transparent; }
  .center-inner-block.bottom p {
    font-weight: 600;
    color: #3d3d3d; }
  .center-inner-block p {
    font-size: 12px;
    line-height: 50px;
    float: left;
    width: 50%;
    display: block; }
  .abs {
    display: none;
    position: absolute;
    top: 45px;
    right: 3px;
    color: #006eb6; }
  .in-p {
    position: relative;
    left: 3px;
    top: 3px; }
  .thumb-bottom {
    margin-right: 0px;
    margin-left: 0px; }
  .thumb-bottom .col-xs-6 {
    padding-left: 0px;
    padding-right: 0px; }
  .thumb-inner-box .right-inner {
    padding-left: 5px; }
  .thumb-inner-box .right-inner .back-img.appl {
    position: absolute;
    right: -5px;
    display: none; }
  .thumb-inner-box .right-inner .yellow-span {
    display: inline-block;
    width: 15%;
    height: 3px;
    background-color: #e9b408;
    position: absolute;
    top: 1px; }
  .thumb-inner-box .right-inner .descr-tr {
    padding-right: 0px;
    margin-top: 5px;
    display: block; }
  .descr-tr .top-inner {
    padding-right: 20px;
    font-size: 14px;
    color: #006eb6;
    margin-bottom: 5px; }
  .descr-tr .middle-inner {
    margin-top: 0px;
    font-weight: 100;
    font-size: 13px;
    color: #828282; }
  .descr-tr .bottom-inner {
    font-weight: 400;
    font-size: 13px;
    color: #828282; }
  .right-inner-last {
    position: relative;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 5px;
    background-color: #f7f7f7;
    height: inherit;
    display: block; }
  .right-inner-last p {
    line-height: 20px; }
  .p-title.last {
    line-height: 20px;
    font-size: 13px;
    color: #575757;
    margin-bottom: 0px; }
  .p-title.last .radio {
    display: none;
    position: absolute;
    right: 35px;
    top: 12px; }
  .p-title.last .fa {
    display: none;
    position: absolute;
    right: 0px; }
  .p-top.last {
    line-height: 20px;
    font-weight: 300;
    font-size: 13px;
    margin-bottom: 0px; }
  .p-middle.last {
    line-height: 20px;
    font-size: 13px;
    margin-bottom: 0px;
    font-weight: 500;
    padding-bottom: 5px; }
  .p-bottom.last {
    line-height: 22px;
    color: #006eb6;
    font-size: 12px;
    margin-bottom: 0px;
    font-weight: 400; }
  .p-rating.last {
    display: none;
    line-height: 20px;
    font-size: 11px; }
  .fa.fa-asterisk.client-abs {
    display: block;
    font-size: 14px;
    color: #006eb6;
    position: absolute !important;
    top: 8%;
    right: 5px; }
  .apps-red {
    margin: -15px; }
  /* apps-mobile */ }

@media (min-width: 320px) and (max-width: 480px) {
  .thumb-inner.transport .center-inner.img {
    border-right: 0px solid #e9b408; }
  .apps {
    margin-top: 0px;
    font-size: 14px;
    color: #006eb6; }
  .apps a {
    text-decoration: none; }
  .thumb-inner.application .center-inner.g {
    width: 100% !important; }
  .thumb-inner.application .gray-t {
    padding: 0px 0px 0px 0px;
    font-size: 11px;
    color: #868686;
    font-weight: 200;
    margin-top: 5px; }
  .thumb-inner.application .gray-bb {
    padding: 0px 0px 0px 0px;
    font-size: 18px;
    color: #585858;
    font-weight: 800; }
  .thumb-inner.application .gray-b {
    padding: 0px 0px 0px 0px;
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 500; }
  .thumb-inner.application .center-inner.w {
    background-color: #ffffff;
    border-bottom: 2px solid #dddddd;
    display: inline-block; }
  .thumb-inner.application .center-inner.w .col-md-4 {
    padding-left: 0px; }
  .thumb-inner.application .center-inner.w p {
    color: #3d3d3d;
    font-size: 12px;
    display: inline-block;
    padding: 0;
    line-height: 40px;
    font-weight: 300;
    margin-top: 10px; }
  .thumb-inner.application .center-inner.w span {
    text-decoration: none;
    margin-top: 14px;
    font-size: 13px; }
  .thumb-inner.application .center-inner.w a {
    text-decoration: none;
    margin-top: 10px;
    font-size: 13px; }
  .thumb-inner.application .center-inner.w a:hover {
    text-decoration: none;
    margin-top: 10px;
    font-size: 14px;
    color: #006eb6; }
  .thumb-inner.application .center-inner.w.second {
    background-color: #ffffff;
    border-bottom: 1px solid transparent;
    min-height: 60px;
    font-size: 13px; }
  .thumb-inner.application .center-inner.w.second i {
    display: none !important;
    position: absolute;
    right: 5px;
    top: 17px; }
  .thumb-inner.application .center-inner.w.second a {
    text-decoration: underline;
    font-weight: 400; }
  .thumb-inner.application .center-inner.w.second .inner {
    font-weight: 500; }
  .thumb-inner.application .fa.fa-map-marker.fa-2x {
    position: absolute;
    right: 5px; }
  .thumb-inner.application .center-inner.w .row.inner .inner {
    display: inline-block; }
  .thumb-inner.application .center-inner.w .fa.fa-angle-right {
    color: #707e8c;
    font-weight: 100;
    position: relative;
    top: 3px;
    margin-left: 0px;
    margin-right: 0px; }
  .center-inner.w .row.inner {
    padding-left: 5px;
    padding-right: 5px; }
  .thumb-inner.application .border-r {
    border-right: 0px solid #cdcdcd; }
  .thumb-inner.application .col-md-12 {
    padding-left: 0px;
    padding-right: 0px; }
  .thumb-inner.application .col-md-4 {
    padding-left: 0px;
    padding-right: 0px; }
  .thumb-inner.application .center-inner-second .top-inner {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #0069be;
    padding-right: 0px;
    line-height: 15px; }
  .thumb-inner.application .center-inner-second .top-inner span {
    background-size: 50px;
    display: none; }
  .thumb-inner.application .tr-bottom {
    margin-top: -10px; }
  .thumb-inner.application .row.second {
    padding-left: 0px;
    margin-left: 0px; }
  .thumb-inner.application .center-inner-second {
    padding: 5px; }
  .thumb-inner.application .center-inner.last {
    padding: 5px; }
  .thumb-inner.application .center-inner.last .pull-right.radio {
    top: 7px !important;
    right: -10px; }
  .thumb-inner.application .center-inner.last .fa.fa-envelope {
    top: 0px !important;
    right: -10px;
    display: none; }
  .thumb-inner.application .center-inner.w {
    background-color: #ffffff;
    border-bottom: 2px solid #dddddd;
    display: block; }
  .thumb-inner.application .center-inner.w.second {
    background-color: #ffffff;
    border-bottom: 1px solid transparent;
    font-size: 13px;
    height: inherit;
    display: block; }
  .thumb-inner.application .center-inner.w.second i {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 10px; }
  .thumb-inner.application .inner p {
    text-align: left;
    width: 100%;
    line-height: 10px; }
  .thumb-inner.application .center-inner.w .fa.fa-angle-right {
    position: relative;
    top: 3px;
    right: 0px;
    color: #707e8c;
    font-weight: 100;
    margin-left: 5px;
    margin-right: 5px; }
  .sorting-b {
    display: inline-block;
    line-height: 24px;
    font-size: 15px;
    position: relative;
    float: left;
    padding: 5px 0px; }
  .apps {
    margin-top: 0px !important;
    font-size: 11px;
    color: #006eb6; }
  .apps a {
    text-decoration: none; }
  .thumb-inner.application .center-inner.g {
    height: 70px;
    text-align: left !important;
    padding: 0px; }
  .thumb-inner.application .center-inner.g span {
    display: block;
    height: 18px;
    text-align: left !important;
    padding: 0px;
    padding-left: 5px;
    margin-top: 1px !important; }
  .thumb-inner.application .gray-t {
    margin-top: 2px !important;
    height: 12px !important;
    padding: 0px 0px 0px 0px;
    font-size: 11px;
    color: #868686;
    font-weight: 200; }
  .thumb-inner.application .gray-bb {
    padding: 0px 0px 0px 0px;
    font-size: 14px;
    color: #585858;
    font-weight: 800; }
  .thumb-inner.application .gray-b {
    padding: 0px 0px 0px 0px;
    font-size: 12px;
    color: #7e7e7e;
    font-weight: 500; }
  .thumb-inner.application .center-inner.w {
    background-color: #ffffff;
    border-bottom: 2px solid #dddddd;
    min-height: 60px;
    display: block; }
  .row.border-r .np {
    height: 50px; }
  .thumb-inner.application .center-inner.w {
    min-height: 50px !important; }
  .thumb-inner.application .center-inner.w p {
    color: #3d3d3d;
    font-size: 14px;
    display: block;
    padding: 0;
    line-height: 50px !important;
    font-weight: 300;
    margin-top: 0px; }
  .thumb-inner.application .center-inner.w span {
    text-decoration: none;
    margin-top: 14px;
    font-size: 13px; }
  .thumb-inner.application .center-inner.w a {
    text-decoration: none;
    margin-top: 0px;
    font-size: 13px; }
  .thumb-inner.application .center-inner.w a:hover {
    text-decoration: none;
    margin-top: 10px;
    font-size: 14px;
    color: #006eb6; }
  .thumb-inner.application .center-inner.w.second {
    background-color: #ffffff;
    border-bottom: 1px solid transparent;
    font-size: 13px; }
  .thumb-inner.application .center-inner.w.second i {
    display: none;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 17px; }
  .thumb-inner.application .center-inner.w.second a {
    text-decoration: underline;
    font-weight: 400; }
  .thumb-inner.application .center-inner.w.second .inner {
    font-weight: 500; }
  .thumb-inner.application .fa.fa-map-marker.fa-2x {
    position: absolute;
    right: 5px; }
  .thumb-inner.application .center-inner.w .row.inner .inner {
    display: block !important; }
  .thumb-inner.application .center-inner.w .fa.fa-angle-right {
    color: #707e8c;
    font-weight: 100;
    position: relative;
    top: 3px;
    margin-left: 0px;
    margin-right: 0px; }
  .center-inner.w .row.inner {
    padding-left: 5px;
    padding-right: 5px; }
  .thumb-inner.application .col-md-12 {
    padding-left: 0px;
    padding-right: 0px; }
  .thumb-inner.application .col-md-4 {
    padding-left: 0px;
    padding-right: 0px; }
  .thumb-inner.application .tr-bottom {
    margin-top: -10px !important; }
  .thumb-inner.application .center-inner.last {
    padding-left: 5px;
    padding-top: 2px;
    background-color: #f7f7f7;
    height: 55px; }
  .thumb-inner.application .p-title {
    font-size: 14px;
    color: #575757;
    font-weight: 400;
    /*     margin-bottom: 5px; */ }
  .thumb-inner.application .p-top {
    font-size: 11px;
    color: #727272;
    font-weight: 300;
    line-height: 14px;
    margin-top: -20px !important; }
  .thumb-inner.application .p-middle {
    font-size: 13px;
    color: #454545;
    font-weight: 400; }
  .thumb-inner.application .p-bottom {
    font-size: 12px;
    color: #727272;
    font-weight: 400;
    margin-bottom: 2px; }
  .thumb-inner.application .fa.fa-envelope.fa-2x {
    position: relative;
    margin-right: 10px;
    color: #fac400;
    height: 15px; }
  .thumb-inner.application .p-title .pull-right.radio {
    position: relative;
    top: 5px; }
  .thumb-inner.application .p-rating {
    font-size: 14px;
    display: none; }
  .thumb-inner.application .ratings {
    display: inline-block !important;
    width: 30px !important;
    margin-right: 10px;
    color: #0069be;
    font-size: 12px; }
  .thumb-inner.application .stars {
    cursor: pointer;
    display: inline-block;
    color: #cec7bb; }
  .thumb-inner.application .fa.fa-star.active {
    cursor: pointer;
    display: inline-block;
    color: #0069be; }
  .thumb-inner.application .comments {
    cursor: pointer;
    display: inline-block;
    color: #0069be;
    font-size: 12px; }
  /* apps-mobile */
  .border-bottom-mobile {
    border-bottom: 2px solid #d7d7d7; }
  .thumb-block {
    border: 2px solid #d7d7d7;
    margin-bottom: 10px;
    margin-top: 5px; }
  .thumb-inner-box {
    border: 1px solid #fff; }
  .inner-box {
    padding: 5px;
    height: inherit;
    display: block;
    background-color: #f7f7f7;
    text-align: center; }
  .inner-box span {
    line-height: 20px; }
  .gray-top {
    display: block;
    font-size: 12px;
    color: #868686;
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 5px; }
  .gray-middle {
    display: block;
    font-size: 20px;
    color: #585858;
    font-weight: 800;
    margin-bottom: 5px; }
  .gray-bottom {
    display: block;
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 500;
    margin-bottom: 0px; }
  .box-border {
    border-right: 0px solid #D7D7D7;
    margin-right: -0px;
    margin-left: -30px; }
  .center-inner-block {
    padding-left: 5px;
    padding-right: 0px;
    display: block;
    height: 50px;
    border-bottom: 1px solid #d7d7d7;
    margin-right: 0px; }
  .center-inner-block.bottom {
    margin-right: 0px;
    display: block;
    height: 50px;
    border-bottom: 1px solid transparent; }
  .center-inner-block.bottom p {
    font-weight: 600;
    color: #3d3d3d; }
  .center-inner-block p {
    font-size: 12px;
    line-height: 50px;
    float: left;
    width: 50%;
    display: block; }
  .abs {
    display: none;
    position: absolute;
    top: 45px;
    right: 3px;
    color: #006eb6; }
  .in-p {
    position: relative;
    left: 3px;
    top: 3px; }
  .thumb-bottom {
    margin-right: 0px;
    margin-left: 0px; }
  .thumb-bottom .col-xs-6 {
    padding-left: 0px;
    padding-right: 0px; }
  .thumb-inner-box .right-inner {
    padding-left: 5px; }
  .thumb-inner-box .right-inner .back-img.appl {
    position: absolute;
    right: -5px;
    display: none; }
  .thumb-inner-box .right-inner .yellow-span {
    display: inline-block;
    width: 15%;
    height: 3px;
    background-color: #e9b408;
    position: absolute;
    top: 1px; }
  .thumb-inner-box .right-inner .descr-tr {
    padding-right: 0px;
    margin-top: 0px;
    display: block; }
  .descr-tr .top-inner {
    padding-right: 20px;
    font-size: 14px;
    color: #006eb6;
    margin-bottom: 5px; }
  .descr-tr .middle-inner {
    margin-top: 0px;
    font-weight: 100;
    font-size: 13px;
    color: #828282; }
  .descr-tr .bottom-inner {
    font-weight: 400;
    font-size: 13px;
    color: #828282; }
  .right-inner-last {
    position: relative;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 5px;
    background-color: #f7f7f7;
    height: inherit;
    display: block; }
  .p-title.last {
    line-height: 21px;
    font-size: 13px;
    color: #575757;
    margin-bottom: 10px; }
  .p-title.last .radio {
    display: none;
    position: absolute;
    right: 35px;
    top: 12px; }
  .p-title.last .fa {
    display: none;
    position: absolute;
    right: 0px; }
  .p-top.last {
    line-height: 2px;
    font-weight: 300;
    font-size: 13px;
    margin-bottom: 10px; }
  .p-middle.last {
    line-height: 21px;
    font-size: 13px;
    margin-bottom: 0px;
    font-weight: 500;
    padding-bottom: 21px; }
  .p-bottom.last {
    line-height: 23px !important;
    color: #006eb6;
    font-size: 12px;
    margin-bottom: 0px;
    font-weight: 400; }
  .p-rating.last {
    display: none;
    line-height: 20px;
    font-size: 11px; }
  .fa.fa-asterisk.client-abs {
    display: block;
    font-size: 14px;
    color: #006eb6;
    position: absolute !important;
    top: 8%;
    right: 5px; }
  .apps-red {
    margin: -15px; }
  /*  */
  .thumb-block.tender .in-p {
    position: absolute;
    right: 2px;
    top: 15px; }
  .thumb-block.tender .abs {
    position: absolute;
    top: 34px;
    right: 3px;
    color: #006eb6; }
  .thumb-block.tender .center-inner-block {
    padding-left: 10px;
    padding-right: 0px;
    display: block;
    height: 50px;
    border-bottom: 1px solid #d7d7d7;
    margin-right: 25px; }
  .thumb-block.tender .center-inner-block.bottom {
    margin-right: 25px;
    display: block;
    height: 51px;
    border-bottom: 1px solid #fff; }
  .thumb-block.tender .center-inner-block p {
    font-size: 15px;
    line-height: 50px;
    font-weight: 300;
    float: left;
    width: 50%;
    display: block;
    overflow: hidden;
    position: relative;
    max-height: 50px; }
  /* apps-mobile */ }

/* new transport_page */
.primary-section .radio, .primary-section .checkbox {
  position: relative;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px; }

.primary-section .input-group-addon {
  padding: 8px 10px;
  font-size: 14px;
  width: 35px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 1px;
  position: relative; }

.primary-section .input-group-addon sup {
  position: absolute;
  top: 7px;
  font-size: 11px; }

.tr-helper {
  color: transparent !important; }

.primary-section .row.in-line {
  line-height: 10px; }

.additonal-btn, .additonal-btn:hover {
  font-weight: 500;
  font-size: 14px;
  line-height: 34px;
  color: #27324B;
  cursor: pointer;
  position: relative; }

.additonal-btn i {
  font-size: 11px;
  position: absolute;
  top: 3px;
  right: -15px; }

.additional-section .checkbox h2 label {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
  color: #000;
  font-weight: 500; }

.additional-section h2 {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: -10px;
  margin-top: 0px;
  border-bottom: 2px solid #d7d7d7; }

.additional-section h3 {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 15px; }

.addition-section-box {
  min-height: 20px;
  padding: 10px 20px;
  margin-top: 15px;
  margin-bottom: 5px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px transparent; }

.primary-section .well {
  min-height: 20px;
  padding: 0px;
  margin-bottom: 0px;
  background-color: #dddddd;
  border: 0px solid #e3e3e3;
  border-radius: 0px;
  box-shadow: inset 0 1px 1px transparent; }

.well .row.in-line {
  margin-bottom: 10px; }

.primary-section label {
  display: inline-block;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px; }

.filter-section {
  padding-top: 5px; }
  .filter-section .btn-info {
    color: #fff;
    background-color: #27324B;
    border: 0px solid #fff !important;
    border-color: #fff;
    color: #fff;
    display: inline-block;
    padding: 2px 12px;
    margin-bottom: 0;
    font-size: 11px;
    font-weight: 500;
    line-height: 1.6em;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 15px; }
    .filter-section .btn-info:focus, .filter-section .btn-info.active {
      background-color: #fac400; }
  .filter-section .additional-section h2 {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: -10px;
    margin-top: 0px;
    border-bottom: 1px solid #999; }
  .filter-section .form-control {
    border-radius: 1px !important;
    height: 30px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .filter-section .primary-section .input-group-addon {
    padding: 6px 10px;
    font-size: 14px;
    width: 30px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 1px;
    position: relative; }
  .filter-section .dropdown .dropdown-toggle.filter {
    line-height: 30px !important;
    height: 30px !important; }
  .filter-section .dropdown .dropdown-toggle.filter .fa.fa-angle-down {
    top: 9px; }

.filter-section .nav-tabs {
  border-bottom: 0px solid #e6e6e6; }

.filter-section .nav-tabs > li {
  float: right;
  margin-bottom: 0px;
  margin-top: 0px; }

.filter-section .nav-tabs > li > a {
  margin-right: 0px;
  margin-left: 2px;
  line-height: 1;
  height: 35px;
  border: 1px solid #ddd;
  border-radius: 0px 0px 0 0;
  border-bottom-color: transparent; }

.filter-line {
  margin-top: 5px;
  margin-bottom: 5px; }

.one-line {
  margin-top: 10px;
  margin-bottom: 5px; }

.filter-section .nav-tabs > li > a, .filter-section .nav-tabs > li > a:hover, .filter-section .nav-tabs > li > a:focus {
  margin-left: 20px;
  color: #006eb6;
  cursor: pointer;
  background-color: #ddd;
  border: 0px solid #ddd;
  padding-left: 0px;
  padding-right: 0px;
  border-bottom: 2px solid transparent; }

.filter-section .nav-tabs > li.active > a, .filter-section .nav-tabs > li.active > a:hover, .filter-section .nav-tabs > li.active > a:focus {
  color: #27324B;
  cursor: default;
  background-color: #ddd;
  border: 0px solid #ddd;
  padding-left: 0px;
  padding-right: 0px;
  border-bottom: 2px solid #000; }

.checks-box .checkboxWithInput label input.additionalTextInfo {
  display: block;
  float: right;
  width: 135px; }

.gradient-top.fix {
  height: 35px !important;
  line-height: 21px !important;
  background: #fac400 !important; }

.filter-section .btn.btn-primary.gradient-top:active {
  border-top: 2px solid #ffffff !important; }

.filter-section .btn.btn-primary.gradient-top {
  border-top: 2px solid #ffffff !important;
  font-size: 11px !important;
  height: 25px;
  line-height: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative; }

.filter-section .btn.btn-primary.gradient-top i {
  position: relative;
  top: 0px; }

.filter-section .btn.btn-primary.gradient-top.disable {
  border-top: 2px solid #ffffff !important;
  color: #fff;
  background: #666 !important;
  font-size: 11px !important;
  height: 25px; }

.filter-section .btn.btn-primary.gradient-top .numb {
  height: 20px;
  width: 20px;
  display: block;
  border-radius: 50%;
  padding: 4px 0px 3px 0px;
  background-color: #df4f37;
  margin-top: -5px;
  text-align: center;
  position: absolute;
  top: 7px;
  right: 5px;
  overflow: hidden;
  display: none; }

.filter-section .btn.btn-primary.gradient-top .numb sup {
  margin-top: -2px;
  position: relative;
  top: -1px; }

.selected-area {
  padding: 15px 0px 0px 0px; }

.selected-area span {
  font-size: 12px !important; }

.selected-area .btn-primary {
  background-color: #FAC400 !important;
  border: 0px !important;
  box-shadow: 0px 0px 2px 1px transparent !important; }

.container-fluid.middle .filter-page {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #dddddd;
  padding-bottom: 15px;
  border-radius: 4px; }

.filter-section .tab-content select.form-control {
  border-radius: 1px !important;
  height: 30px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.tender-table tbody tr td:nth-child(2), .tender-table tbody tr td:nth-child(3) {
  min-width: 100px;
  max-width: 100px; }

/* table section */
.table-section {
  background: #f4f4f4; }

.tr-margin-right.fix {
  padding-top: 10px;
  padding-bottom: 10px; }

.table-section-holder .table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  margin-top: 10px; }
  .table-section-holder .table thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    font-size: 13px; }
  .table-section-holder .table tbody > tr > td {
    padding: 4px 8px;
    font-size: 12px;
    line-height: 1.3;
    vertical-align: middle;
    border-top: 1px solid #ddd; }
  .table-section-holder .table.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fff; }
  .table-section-holder .table.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #f9f9f9; }
  .table-section-holder .table tbody tr:hover {
    background: #d9edf7 !important;
    color: #0069b4;
    cursor: pointer; }
  .table-section-holder .table tbody tr td {
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
    .table-section-holder .table tbody tr td:nth-child(1) {
      /*max-width: 100px;*/
      /*min-width: 150px;*/
      }
    .table-section-holder .table tbody tr td:nth-child(2), .table-section-holder .table tbody tr td:nth-child(3) {
      /*min-width: 150px;*/
      /*max-width: 150px;*/
      font-weight: 500;
    }
    .table-section-holder .table tbody tr td:nth-child(4), .table-section-holder .table tbody tr td:nth-child(5), .table-section-holder .table tbody tr td:nth-child(6), .table-section-holder .table tbody tr td:nth-child(7) {
      /*max-width: 60px;*/
      /*min-width: 60px; */
    }
    .table-section-holder .table tbody tr td:nth-child(8) {
      /*min-width: 100px;*/
      /*max-width: 100px;*/
      padding-right: 25px;
    }
    .table-section-holder .table tbody tr td .deals {
      text-decoration: none !important;
      position: absolute;
      right: 0px;
      border-radius: 20px;
      background-color: red;
      color: #fff;
      padding: 3px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      line-height: 10px;
      height: 15px;
      font-size: 8px;
      min-width: 15px;
      max-width: 20px;
      display: inline-block;
      text-align: center; }
    .table-section-holder .table tbody tr td .table-ico {
      color: #fac400;
      position: absolute;
      top: 1em;
      right: 0.5em; }

.table-section-holder.profile .table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  margin-top: 0px; }
  .table-section-holder.profile .table tbody tr td:nth-child(1) {
    /*max-width: 120px;*/
    /*min-width: 120px; */
  }
  .table-section-holder.profile .table tbody tr td:nth-child(2), .table-section-holder.profile .table tbody tr td:nth-child(3) {
    /*min-width: 80px;*/
    /*max-width: 80px;*/
    font-weight: 500;
  }
  .table-section-holder.profile .table tbody tr td:nth-child(4), .table-section-holder.profile .table tbody tr td:nth-child(5), .table-section-holder.profile .table tbody tr td:nth-child(6), .table-section-holder.profile .table tbody tr td:nth-child(7) {
    /*max-width: 60px;*/
    /*min-width: 60px; */
  }
  .table-section-holder.profile .table tbody tr td:nth-child(8) {
    /*min-width: 100px;*/
    /*max-width: 100px; */
  }
  .table-section-holder.profile .table tbody tr td .watch {
    text-decoration: none !important; }

.modal-body.template {
  background: #f4f4f4;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px; }
  .modal-body.template .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    margin-top: 0px; }
    .modal-body.template .table thead th:nth-child(4) {
      text-align: right; }
    .modal-body.template .table tbody tr td:nth-child(1) {
      max-width: 40px;
      min-width: 40px;
      text-align: center; }
    .modal-body.template .table tbody tr td:nth-child(2), .modal-body.template .table tbody tr td:nth-child(3) {
      min-width: 150px;
      max-width: 150px;
      font-weight: 500; }
    .modal-body.template .table tbody tr td:nth-child(4) {
      max-width: 40px;
      min-width: 40px;
      text-align: right;
      padding-right: 10px; }
    .modal-body.template .table tbody tr td .form-control.input-sm {
      height: 15px !important;
      font-size: 10px !important;
      padding-left: 5px; }
    .modal-body.template .table tbody tr td a {
      color: #555; }
      .modal-body.template .table tbody tr td a i {
        margin-left: 2px;
        width: 11px; }

.inner-holder .table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  margin-top: 0px; }
  .inner-holder .table thead th:nth-child(4) {
    text-align: right; }
  .inner-holder .table tbody tr td:nth-child(1) {
    max-width: 40px;
    min-width: 40px;
    text-align: center; }
  .inner-holder .table tbody tr td:nth-child(2), .inner-holder .table tbody tr td:nth-child(3) {
    min-width: 50px;
    max-width: 50px;
    font-weight: 500; }
  .inner-holder .table tbody tr td:nth-child(4) {
    max-width: 40px;
    min-width: 40px;
    text-align: right;
    padding-right: 10px; }
  .inner-holder .table tbody tr td .form-control.input-sm {
    height: 15px !important;
    font-size: 10px !important;
    padding-left: 5px; }
  .inner-holder .table tbody tr td a {
    color: #555; }
    .inner-holder .table tbody tr td a i {
      margin-left: 2px;
      width: 11px; }

.rating-modal textarea {
  margin-bottom: 20px; }

/* new transport_page test */
/* hotfix */
.gr.black {
  color: #000000 !important;
  top: -1px; }

.navbar.navbar-default.bottom {
  margin-bottom: 10px; }

.modal-footer .social-block a {
  display: inline-block;
  margin-left: 5px;
  width: 40px;
  height: 40px;
  color: #ffffff;
  background-color: #006eb6;
  padding: 12px 10px 10px 10px;
  box-shadow: 1px 1px 2px rgba(68, 66, 66, 0.3);
  -webkit-transition: all .3s;
  transition: all .3s;
  border-radius: 2px; }

.modal-footer .social-block a .fa-lg {
  font-size: 1.33333333em;
  line-height: 18px;
  vertical-align: 10%;
  position: relative; }

.modal-footer .social-block a i.fa.fa-vk.fa-lg {
  left: -1px; }

.container-fluid.registration.first .form-group label, .container-fluid.registration.second .form-group label {
  font-weight: normal !important; }

.container-fluid.registration.first .form-group .rules, .container-fluid.registration.second .form-group .rules {
  margin-bottom: 20px; }

.tender-box .modal-content {
  box-shadow: 0 3px 9px transparent; }

.tender-box .thumb {
  margin-bottom: 0px;
  box-shadow: 2px 2px 4px rgba(68, 66, 66, 0); }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #27324b;
  box-shadow: 1px 1px 2px rgba(68, 66, 66, 0); }

.navbar-toggle {
  padding: 8px;
  margin-right: 0px;
  margin-bottom: 8px; }

span.flag {
  margin-right: 5px; }

.companyInputHolder {
  margin-top: 20px; }

.navbar-toggle {
  padding: 7px 7px !important;
  margin-right: 0px !important; }

.form-control.gm-err-autocomplete {
  background-position: 99% 48%; }

.ui-widget-content {
  z-index: 100; }

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-bottom-right-radius: 0px !important; }

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  border-bottom-left-radius: 0px !important; }

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-top-right-radius: 0px !important; }

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-top-left-radius: 0px !important; }

.ui-widget-content {
  border: 1px solid #ddd;
  background: #f4f4f4;
  color: #333; }

.ui-widget-header {
  border: 1px solid #fac400 !important;
  background: #fac400 !important;
  color: #fff;
  font-weight: bold; }

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
  background: #fac400 !important;
  cursor: pointer; }

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  color: #fff !important; }

.addTransportContent .whiteFluidContainer input, .addTransportContent .whiteFluidContainer select, .addTransportContent .whiteFluidContainer textarea, .companies .whiteFluidContainer input, .companies .whiteFluidContainer select, .companies .whiteFluidContainer textarea, .form-control.phoneCodeNumber {
  border: 1px solid #bbb;
  border-radius: 0; }

.logo-top {
  height: 43px;
  width: 213px;
  background: url(../img/logo@2x.png) no-repeat center center;
  background-size: 213px; }

.table-section-holder .table-responsive {
  border: 0px solid #ddd !important; }

.table-responsive {
  width: 100%;
  margin-bottom: 15px;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 0px solid #ddd !important; }

.profile-content.tab-content {
  padding: 20px 20px 20px 5px; }

ul.nav.nav-tabs.profile {
  margin-bottom: 10px; }

.tr-margin-right {
  margin-right: 0px; }

.profile-content label {
  font-weight: 400;
  line-height: 20px;
  font-size: 14px; }

.profile-content select {
  -webkit-appearance: inherit;
  -moz-appearance: inherit;
  appearance: inherit;
  cursor: pointer; }

select.input-sm {
  line-height: 20px; }

.panel {
  border-radius: 1px; }

.panel-body input[type="radio"], .panel-body input[type="checkbox"] {
  margin: 0 5px 0 0 !important;
  margin-top: 1px \9;
  line-height: 20px; }

.panel-body label {
  cursor: pointer;
  font-weight: 400;
  line-height: 25px;
  height: 25px;
  margin-bottom: 0px;
  font-size: 12px; }

.panel-title {
  font-size: 13px; }

/* hotfix */
/* media */
@media (max-width: 768px) {
  .table-section-holder .table-responsive {
    border: 0px solid #ddd !important; } }

@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 0px solid #ddd; } }

@media (min-width: 480px) and (max-width: 768px) {
  .table-section-holder .table-responsive {
    border: 0px solid #ddd !important; }
  .rules {
    position: relative;
    top: -11px; }
  .filter-section .nav-tabs > li {
    float: left; }
    .filter-section .nav-tabs > li > a {
      margin-right: 20px;
      margin-top: 0px;
      margin-left: 0px !important; }
  .xs-mb {
    margin-bottom: 5px; } }

@media (min-width: 320px) and (max-width: 480px) {
  .table-section-holder .table-responsive {
    border: 0px solid #ddd !important; }
  .rules {
    position: relative;
    top: -11px; }
  .filter-section .nav-tabs > li {
    float: left; }
    .filter-section .nav-tabs > li > a {
      margin-right: 20px;
      margin-top: 0px;
      margin-left: 0px !important; }
  .xs-mb {
    margin-bottom: 5px; } }

/*# sourceMappingURL=style_main.css.map */
