.f-main, .f-main > .f-type{
    padding: 0;
    margin: 0;
    height: 48px;
    width: 48px;
    display: inline-block;
    background-size: contain;
    text-align: center;
    position: relative;
}

.f-main{

    background: url(background.png) no-repeat center center;
    background-size: contain;
}

.f-main > .f-type .f-ext{
    color: #fff;
    font-size: 10px;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    right: 6px;

    background: rgba(0,0,0,0.4);

    padding: 2px 5px;
}
.f-main > .f-type.f-type-text{
    background: transparent url(text.png) no-repeat center center;
    background-size: contain;
}