.userInfo {
  padding: 10px 20px;
  background: #fff;
  margin: 10px 0;
  .imgHolder {
    position: relative;
    float: left;
    .img {
      background-repeat: no-repeat;
      background-size: cover;
      width: 65px;
      height: 65px;
      border-radius: 50%;
    }
    .status {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      position: absolute;
      border: 3px solid #fff;
      top: 0;
      left: 0;
      &.online {
        background: #15a333;
      }
      &.offline {

      }
    }
    .messagesQnt {
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      background: #df4f37!important;
      position: absolute;
      top: -3px;
      right: 0;
      border-radius: 50%;
      color: #fff;
      font-size: 10px;
      font-weight: bold;
      vertical-align: middle;
      display: block;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .caption {
    width: calc(100% - 65px);
    float: left;
    padding: 0 20px;
    .userName {
      font-size: 21px;
      color: #27324b;
      margin-bottom: 5px;
    }
    .userOptions {
      font-size: 14px;
      a, .fa {
        color: #006eb6;
      }
      span + span {
        margin-left: 25px;
      }
    }
  }
  .buttonHolder {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      line-height: 65px;
      li {
        display: inline-block;
      }
    }
    li + li {
      margin-left: 10px;
    }
  }
}

.btn-blue {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  background: #006eb6;
  border-radius: 0;
  padding: 10px 15px;
  &:hover, &:active, &:focus {
    background: darken(#006eb6, 2%);
    color: #fff;
  }
}

.cabinetTabs {
  margin-bottom: 10px;
  .btn-blue.active {
    background: #df4f37;
    box-shadow: none;
    position: relative;
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border: 1px solid;
      border-width: 10px 10px 7px 10px;
      border-color: #df4f37 transparent transparent transparent;
    }
  }
  .heading {
    margin-bottom: 20px;

    .backLink {
      font-size: 13px;
      color: #27324b;
      font-weight: bold;
      margin-left: 10px;
    }
  }
  h2 {
    font-size: 17px;
    color: #27324b;
    line-height: 39px;
  }
  .selectGroup {
    margin-left: 10px;
  }
  .btn + .btn {
    margin-left: 10px;
  }
  .navTabs {
    display: table;
    width: 100%;
    ul {
      list-style: none;
      display: table-row;
      li {
        display: table-cell;
        text-align: center;
        background: #27324b;
        position: relative;
        .messagesQnt {
          width: 20px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          background: #df4f37!important;
          position: absolute;
          top: 10px;
          right: 20px;
          border-radius: 50%;
          color: #fff;
          font-size: 10px;
          font-weight: bold;
          vertical-align: middle;
          display: block;
          padding: 0;
          &:hover {
            text-decoration: none;
          }
          &:after {
            display: none;
          }
        }
        a {
          color: #fff;
          display: block;
          padding: 20px 5px;
          text-transform: uppercase;
          font-size: 12px;
          &:hover {
            text-decoration: none;
            background: #006eb6;
          }
        }
        &.active {
          a {
            background: #006eb6;
            &:after {
              font: normal normal normal 16px/1 FontAwesome;
              content: "\f107";
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }
      }
    }
  }
  .innerTabsNav {
    ul {
      li {
        .messagesQnt {
          background: #df4f37!important;
          top: 0;
          right: 5px;
          color: #fff!important;
        }
        a {
          background: #006eb6;
          padding: 10px 5px;
        }
        &.active {
          a {
            color: #fac400;
            &:after {
              content: "";
            }
          }
        }
      }
    }
  }
  .innerTabsContent {
    .tab-pane {
      padding: 20px 30px;
      background: #fff;

    }
    .tableHolder {
      margin-bottom: 10px;
      table {
        width: 100%;
        tr:nth-child(odd) td {
          background: #fff;
        }
        tr:nth-child(even) td {
          background: #f9f9f9;
        }
        th,td {
          padding: 10px;
          text-align: center;
          border: 1px solid #dfdfdf;
          font-size: 12px;
          a {
            color: #006eb6;
          }
          &:first-child {
            border-left: none;
          }
          &:last-child {
            border-right: none;
          }
        }
        thead {
          th {
            background: #f9f9f9;
          }
        }
        .icoList {
          text-align: right;
          .fa {
            font-size: 15px;
            vertical-align: middle;
          }
          a {
            display: inline-block;
          }
          a + a {
            margin-left: 3px;
          }
          .stop {
            font-size: 11px;
            text-transform: uppercase;
            color: #df4f37;
            font-weight: bold;
            margin-left: 3px;
          }
          .delete {
            i.fa.fa-times {
              color: #df4f37!important;
            }
          }
          .check {
            color: #15a333;
          }
        }
        .status {
          text-align: left;
          .additionalInfo {
            color: #df4f37;
          }
          .stop {
            color: #000;
            text-transform: uppercase;
          }
        }
        .red {
          color: #df4f37;
        }
        .blue {
          color: #006eb6;
        }
        .green {
          color: #15a333;
        }
        .yellow {
          color: #fac400;
        }
      }
    }
  }
  .myStatistics {
    padding: 35px;
    background-color: #fff;
    .datePickerHolder {
      position: relative;
      .fa {
        position: absolute;
        top: 10px;
        right: 10px;
      }
      .form-control {
        padding-right: 44px;
      }
    }
    .formRow {
      margin-bottom: 20px;
      .btn-blue {
        padding: 10px 40px;
      }
    }
    .statFigure {
      border: 1px solid #dcdcdc;
      .figHeading {
        font-size: 13px;
        font-weight: bolder;
        background-color: #f5f5f5;
        padding: 10px;
        border-bottom: 1px solid #dcdcdc;
      }
      .statImg {
        padding: 10px;
        text-align: center;
      }
    }
  }
}

.selectGroup {
  display: inline-block;
  position: relative;
  .form-control {
    display: inline-block;
    width: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  select {
    min-width: 150px;
  }
  .fa {
    position: absolute;
    top: 50%;
    right: 5px;
    -webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);
  }
  label {
    font-size: 13px;
    color: #27324b;
    font-weight: normal;
  }
}

.orderInfoTable {
  width: 100%;
  tr:nth-child(even) td {
    background: #fff;
  }
  tr:nth-child(odd) td {
    background: #f9f9f9;
  }
  td {
    padding: 10px;
    border: 1px solid #dfdfdf;
    font-size: 12px;
    a {
      color: #006eb6;
    }
    &:first-child {
      border-left: none;
    }
    &:last-child {
      border-right: none;
    }
    .check {
      color: #15a333;
      font-size: 14px;
    }
  }
  tr {
    td:first-child {
      text-align: left;
    }
    td:nth-child(2) {
      text-align: right;
    }
  }
}

.myCabinetHolder {
  .oneOrderHolder {
    padding: 10px 20px;
    background: #fff;
    margin: 10px 0;
    .heading {
      margin-bottom: 20px;
      .btn + .btn {
        margin-left: 10px;
      }
      .backLink {
        font-size: 13px;
        color: #27324b;
        font-weight: bold;
        margin-left: 10px;
      }
    }
    h2 {
      font-size: 17px;
      color: #27324b;
      line-height: 39px;
    }
  }
  .tableHolder {
    margin-bottom: 20px;
    table {
      width: 100%;
      tr:nth-child(odd) td {
        background: #fff;
      }
      tr:nth-child(even) td {
        background: #f9f9f9;
      }
      th,td {
        padding: 10px;
        text-align: center;
        border: 1px solid #dfdfdf;
        font-size: 12px;
        a {
          color: #006eb6;
        }
        &:first-child {
          border-left: none;
        }
        &:last-child {
          border-right: none;
        }
      }
      thead {
        th {
          background: #f9f9f9;
        }
      }
      .icoList {
        text-align: right;
        .fa {
          font-size: 15px;
          vertical-align: middle;
        }
        a {
          display: inline-block;
        }
        a + a {
          margin-left: 3px;
        }
        .stop {
          font-size: 11px;
          text-transform: uppercase;
          color: #df4f37;
          font-weight: bold;
          margin-left: 3px;
        }
        .delete {
          i.fa.fa-times {
            color: #df4f37!important;
          }
        }
        .check {
          color: #15a333;
        }
      }
      .status {
        text-align: left;
        .additionalInfo {
          color: #df4f37;
        }
        .stop {
          color: #000;
          text-transform: uppercase;
        }
      }
      .red {
        color: #df4f37;
      }
      .blue {
        color: #006eb6;
      }
      .green {
        color: #15a333;
      }
      .yellow {
        color: #fac400;
      }
    }
  }
}

.orderSteps {
  margin-bottom: 20px;
  td {
    padding: 10px;
    border: 1px solid #beced9;
    font-size: 12px;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      a {
        font-weight: bold;
        text-decoration: underline;
        color: #006eb6;
      }
    }
  }
  tr.stepEnded:nth-child(odd) {
    background: #d9e9f4;
  }
  tr.stepEnded:nth-child(even) {
    background: #d4e4ef;
  }
  td:first-child {
    border-left: none;
  }
  td:last-child {
    border-right: none;
  }
  .stepInProcess {
    background: #fde799;
  }
  .newStep {
    background: #f2f2f3;
  }
  .stepSuccess {
    a {
      color: #15a333;
    }
  }
  .stepNotStarted {
    a {
      color: #aaaaaa;
    }
  }
  .fa-exclamation-triangle {
    color: #df4f37;
    margin-left: 5px;
  }
}

.orderInfoTablesHolder {
  .stopIco {
    float: right;
    margin-left: 5px;
    margin-bottom: 5px;
  }
  .stopCaption {
    p {
      color: #27324b;
      font-size: 13px;
    }
    margin-bottom: 20px;
  }
  .stepsDescription {
    .step {
      width: 45px;
      height: 25px;
      margin-bottom: 10px;
      &.stepEnded {
        background: #d4e4ef;
      }
      &.stepInProcess {
        background: #fde799;
      }
      &.newStep {
        background: #f2f2f3;
      }
    }
    p {
      color: #2c3956;
      font-size: 12px;
    }
  }
  .docFigure {
    padding-left: 15px;
    .icoHolder {
      width: 25px;
      float: left;
    }
    .captionHolder {
      width: calc(100% - 25px);
      float: left;
      padding-left: 5px;
      p a {
        color: #006eb6;
        font-size: 10px;
      }
    }
  }
}

.stopIco {
  width: 50px;
  height: 42px;
  background: url("../img/stopButton.png") no-repeat;
  background-size: contain;
  display: block;
}

.docIco {
  width: 19px;
  height: 34px;
  background: url("../img/docIco.png") no-repeat;
  background-size: contain;
  background-position: center;
}



.cabinetTabs {
  .delete i.fa.fa-times {
    color: #df4f37 !important;
  }
  .myContactsHolder,
  .companyInformationHolder {
    label {
      color: #2c3956;
      display: block;
      font-weight: 400;
      line-height: 40px;
    }
    .company-phone-code {
      float: left;
      margin-right: 12px;
      width: 100px;
    }
    .company-phone-number {
      float: left;
      width: calc(100% - 113px);
    }
    .buttonHolder {
      text-align: right;
      padding: 15px 0 0;
    }
  }
  .changePasswordHolder {
    label {
      color: #2c3956;
      display: block;
      font-weight: 400;
      line-height: 40px;
    }
    .buttonHolder {
      text-align: right;
      padding: 15px 0 0;
    }
  }
  .companyInformationHolder {

  }
  .userInfoSmall {
    display: table-cell;
    vertical-align: middle;
    width: 250px;
    .imgHolder {
      position: relative;
      float: left;
    }
    .img {
      background-repeat: no-repeat;
      background-size: cover;
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }
    .status {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      position: absolute;
      border: 3px solid #fff;
      top: 0;
      left: 0;
      &.online {
        background: #15a333;
      }
      &.offline {
        background: #c5c5c5;
      }
    }
    .messagesQnt {
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      background: #df4f37 !important;
      position: absolute;
      top: -3px;
      right: -10px;
      border-radius: 50%;
      color: #fff;
      font-size: 10px;
      font-weight: bold;
      vertical-align: middle;
      display: block;
    }
    .caption {
      width: calc(100% - 45px);
      float: left;
      padding: 0 20px;
      .userName {
        font-size: 14px;
        margin-top: 5px;
      }
      .date {
        font-size: 12px;
        color: #acacac;
      }
    }
  }
  .myDocumentsHolder {
    .doc-block-title {
      font-size: 19px;
      margin-bottom: 15px;
    }
    .fixed-btn {
      color: #006eb6;
      font-size: 16px;
      .fa {
        font-size: 18px;
      }
    }
    .doc-block {
      background: url(../img/doc.png) no-repeat;
      background-position: 0 center;
      background-size: contain;
      padding-left: 42px;
      margin-bottom: 30px;
    }
    .doc-title {
      color: #006eb6;
      font-size: 14px;
      font-weight: 400;
    }
    .btn-download {
      color: #006eb6;
      font-size: 13px;
      font-weight: 400;
      .fa {
        font-size: 15px;
      }
    }
  }
  .walletHolder {
    .wallet-balance {
      color: #282828;
      font-size: 15px;
      font-weight: 400;
      margin-bottom: 10px;
      span {
        color: #006eb6;
        font-size: 18px;
      }
    }
    .form-control {
      max-width: 470px;
      display: inline-block;
      margin: 0 10px 10px 0
    }
    .btn-blue {
      padding: 8px 15px;
      margin-left: 10px;
    }
    .min-contribution {
      font-size: 13px;
      span {
        color: #006eb6;
      }
    }
  }
  .favCompaniesHolder {
    padding: 35px;
    background-color: #fff;
  }
  .innerTabsContent {
    table {
      width: 100%;
      th,
      td {
        padding: 10px;
        text-align: center;
        border: 1px solid #dfdfdf;
        font-size: 12px;
        vertical-align: middle;
      }
      thead th {
        background: #f9f9f9;
      }
      th:first-child, td:first-child {
        border-left: none;
      }
      th:last-child, td:last-child {
        border-right: none;
      }
      tr:nth-child(even) td {
        background: #f9f9f9;
      }
      .delete i.fa.fa-times {
        color: #df4f37 !important;
      }
      .icoList .fa {
        font-size: 15px;
        vertical-align: middle;
      }
    }
    .orderWatchInfo {
      margin-top: 10px;
      table {
        width: auto;
        td {
          border: 0;
          background: #fff!important;
          padding: 5px 10px;
        }
        td:first-child {
          text-align: left;
        }
        td:last-child {
          text-align: right;
          padding-left: 30px;
          font-weight: bold;
        }
        .watch {
          a {
            color: #df4f37;
          }
        }
        .proposition {
          a {
            color: #31ae4c;
          }
        }
      }
    }
    .myAutoTableHolder {
      margin-bottom: 10px;
      .photo {
        max-width: 100px;
      }
    }
    .myCompanyNewsHolder {
      .newsItem {
        border-bottom: 1px solid #dedede;
        margin-bottom: 20px;
        padding-bottom: 20px;
        .imgHolder {
          float: left;
          height: 140px;
          margin-right: 20px;
          width: 150px;
          .img {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 140px;
            width: 150px;
          }
        }
        .captionHolder {
          float: left;
          width: calc(100% - 170px);
          h3 {
            color: #27324b;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 5px;
          }
          .date {
            color: #b2b2b2;
            font-size: 12px;
            margin-bottom: 5px;
          }
          .text {
            font-size: 13px;
            color: #282828;
            font-weight: 300;
            margin-bottom: 10px;
          }
          .buttonHolder {
            text-align: right;
          }
        }
      }
    }
  }
  .receivedPropositionsHolder {
    .userInfoSmall {
      width: auto;
      min-width: 150px;
      .caption {
        text-align: left;
        .date {
          white-space: nowrap;
        }
        .userName {
          margin-top: 3px;
        }
      }
    }
    table {
      tr:nth-child(odd) td {
        background: #f9f9f9;
      }
      tr:nth-child(even) td {
        background: #fff;
      }
      td {
        border: 0;
        a {
          color: #006eb6;
        }
      }
      .propositionText {
        text-align: left;
      }
      .answer,
      .ico {
        font-size: 15px;
        text-transform: uppercase;
      }
      .yes a {
        color: #31ae4c;
      }
      .no a {
        color: #df4f37;
      }
    }
  }
}

.myMessagesHolder {
  padding: 35px;
  background-color: #fff;
  .heading {
    margin-bottom: 30px;
  }
  h2 {
    font-size: 17px;
    color: #27324b;
    line-height: 39px;
  }
  .messageHolder {
    display: table;
    padding: 15px 20px;
    cursor: pointer;
    &:nth-child(even) {
      background: #f8f8f8;
    }
    &:hover {
      background: #fef6d9;
      .messagePreview .deleteButton {
        display: block;
      }
    }
    .messageFigure {
      display: table-row;
    }
    .messagePreview {
      display: table-cell;
      padding: 0 60px 0 20px;
      position: relative;
      .theme {
        font-size: 12px;
        color: #212121;
        margin-bottom: 5px;
      }
      .text {
        font-size: 12px;
        color: #464646;
      }
      .deleteButton {
        font-size: 20px;
        color: #e87f65;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        display: none;
        &:hover {
          color: #df4f37;
          .fa {
            color: #df4f37;
          }
        }
        .fa {
          color: #e87f65;
          margin: 0;
        }
      }
    }

  }
}

.dialogueHolder {
  padding: 35px;
  background-color: #fff;
  .heading {
    margin-bottom: 30px;
  }
  h2 {
    font-size: 17px;
    color: #27324b;
    line-height: 39px;
  }
  .backLink {
    font-size: 13px;
    color: #27324b;
    font-weight: bold;
    margin-left: 10px;
    display: inline-block;
    line-height: 39px;
  }
  .textInputHolder {
    padding: 20px;
    background: #f3f3f3;
    border: 1px solid #e6e6e6;
    margin-bottom: 35px;
  }
  .userInfo .imgHolder {
    float: none;
  }
  .userInfo {
    float: left;
    background: none;
    margin: 0;
    margin-right: 20px;
  }
  .textareaHolder {
    width: calc(100% - 125px);
    float: left;
    .form-control {
      height: auto!important;
      border-color: #e6e6e6;
    }
  }
  .buttonHolder {
    padding: 20px 0 0;
    text-align: right;
    .btn-primary {
      width: auto;
      text-align: center;
      padding: 6px 25px;
    }
  }
  .dialogueHistoryHolder {
    .dialogueHistoryItem + .dialogueHistoryItem {
      margin-top: 25px;
    }
    .dialogueHistoryItem {
      position: relative;
      &.myMessage {
        .userInfo {
          float: right;
          margin: 0;
          padding-right: 0;
        }
        .message {
          float: right;
          &:after {
            top: 35px;
            right: -20px;
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            border: 1px solid;
            border-width: 7px 10px 7px 10px;
            border-color: transparent transparent transparent #e6e6e6;
          }
        }
      }
      &.guestMessage {
        .userInfo {
          float: left;
          margin: 0;
          padding-left: 0;
        }
        .message {
          float: left;
          &:after {
            top: 35px;
            left: -20px;
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            border: 1px solid;
            border-width: 7px 10px 7px 10px;
            border-color: transparent #e6e6e6 transparent transparent;
          }
        }
      }
      .message {
        background: #fbfbfb;
        width: calc(100% - 85px);
        padding: 10px 20px;
        border: 1px solid #e6e6e6;
        border-radius: 7px;
        position: relative;

        .name {
          a {
            color: #006eb6;
            font-size: 16px;
          }
        }
        .date {
          font-size: 14px;
          color: #acacac;
          margin-bottom: 5px;
        }
        .text {
          font-size: 15px;
          color: #464646;
        }
      }
    }
  }
}











