.greyFluidContainer {
    background-color: #f4f4f4;
}

.whiteFluidContainer {
    background-color: #fff;
}

.addTransportContent .whiteFluidContainer h2,
.addTransportContent .greyFluidContainer h2 {
    color: #27324b;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 20px;
}
.addTransportContent .whiteFluidContainer .radio label,
.addTransportContent .greyFluidContainer .radio label {
    color: #676767;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 10px;
    position: static;
}

.addTransportContent .whiteFluidContainer label,
.addTransportContent .greyFluidContainer label {
    color: #27324b;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 0px;
    position: static;
}

.greyFluidContainer input,
.greyFluidContainer input
.greyFluidContainer .dropdown .dropdown-toggle.filter{
    border: 1px solid #bbb!important;
    border-radius: 0!important;
    /*height: 40px;*/
}

#commentArea {
    border-radius: 0!important;
    border: 1px solid #bbb;
}

.addTransportContent select,
.companies select{
    /*height: 40px!important;*/
    font-size: 14px;
}

.companies .btn-primary {
    height: 35px;
}

.addTransportContent .whiteFluidContainer input,
.addTransportContent .whiteFluidContainer select,
.addTransportContent .whiteFluidContainer textarea,
.companies .whiteFluidContainer input,
.companies .whiteFluidContainer select,
.companies .whiteFluidContainer textarea {
    border: 1px solid #bbb;
    border-radius: 0;
}

.formHolder, .companyThumbnailsHolder {
    margin-top: 10px;
    margin-bottom: 10px;
}

.uploadDate {
    margin-bottom: 15px;
}

.uploadDate label {
    display: block;
}

.uploadDate input {
    display: inline-block;
    max-width: 226px;
    margin-bottom: 0px;
    margin-right: 10px;
}

.uploadPlace p {
    margin-top: 15px;
}

.uploadPlace a {
    text-decoration: underline;
    font-size: 14px;
}

.carIconSm {
    background: url(../img/truckSm.png) no-repeat center;
    position: absolute;
    width: 60px;
    height: 30px;
    left: 240px;
    top: -5px;
    background-size: contain;
}

.carIconMd {
    background: url(../img/truck.png) no-repeat center;
    position: absolute;
    width: 80px;
    height: 40px;
    left: 240px;
    top: -10px;
    background-size: contain;
}

.carIconLg {
    background: url(../img/truckBg.png) no-repeat center;
    position: absolute;
    width: 100px;
    height: 40px;
    left: 240px;
    top: -10px;
    background-size: contain;
}

.truckType p {
    font-size: 14px;
}

.truckType a {
    text-decoration: underline;
}

.truckMeasures .input-group-addon,
.cargoMeasures .input-group-addon,
.truckType .input-group-addon,
.cargoType .input-group-addon {
    width: 50px;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    border-color: #bbb;
    border-left: none;
}

.truckMeasures label,
.cargoMeasures label,
.contactInfoHolder label {
    display: block;
}

.truckMeasures .measuresInput,
.cargoMeasures .measuresInput {
    display: inline-block;
    width: 32%;
    margin-right: 2%;
}

.truckMeasures .measuresInput:last-child,
.cargoMeasures .measuresInput:last-child {
    margin-right: 0;
}

.addTransportContent .form-control {
    /*height: 40px;*/
}

.truckMeasures,
.truckContent,
.truckWeight {
    margin-bottom: 2px;
}

.truckMeasures label,
.truckContent label,
.truckWeight label {
    line-height: 35px;
}

.phoneCodeNumber {
    display: inline-block;
    width: 25%;
}

.phoneCodeNumber+input {
    display: inline-block;
    width: 73%;
}

.backgroundContainer {
    background-color: #f4f4f4;
}

.newsMainHolder {
    margin: 0 0;
    padding: 25px 25px;
    background-color: #fff;
}

.newsItemDate p.dateNumber {
    font-size: 30px;
    color: #363636;
    text-align: center;
    background-color: #fbfbfb;
    padding: 25px 0 15px;
    font-weight: bold;
}

.newsItemDate p.dateMonth {
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background-color: #3170b6;
    padding: 5px 0;
}

.newsItemDate {
    max-width: 100px;
    border: 1px solid #fafafa;
    padding: 2px;
    border-radius: 2px;
    margin-bottom: 10px;
    -webkit-box-shadow: -1px 0px 12px -1px rgba(220,220,220,0.91);
    -moz-box-shadow: -1px 0px 12px -1px rgba(220,220,220,0.91);
    box-shadow: -1px 0px 12px -1px rgba(220,220,220,0.91);
}

.newsItem {
    margin-bottom: 25px;
}

.newsItem h3 {
    font-size: 16px;
    color: #27324b;
    margin-bottom: 5px;
}

.newsItem p.timeYear, p.popularNewsDate {
    font-size: 11px;
    color: #b2b2b2;
    margin-bottom: 15px;
}

.newsItem p.anons {
    font-size: 11px;
    margin-bottom: 15px;
}

.newsItem .bottomBorderHolder {
    border-bottom: 1px solid #dbdcdd;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    width: 96%;
}

.newsCategoriesMenu ul {
    list-style-type: none;
}

.newsCategoriesMenu span {
    margin-right: 15px;
}

.newsCategoriesMenu li a {
    font-size: 12px;
    text-transform: uppercase;
    color: #27324b;
    text-decoration: none;
}

.newsCategoriesMenu li {
    margin-bottom: 10px;
}

.newsCategoriesMenu li:hover a {
    color: #006eb6;
    text-decoration: underline;
}



.newsItem button.btn-primary {
    width: 120px;
    font-size: 12px!important;
}

.newsCategoriesMenu h2,
.popularNewsHolder h2,
.aboutUs h2 {
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 25px;
}


.aboutUs p {
    font-size: 13px;
    text-align: justify;
    margin-bottom: 15px;
    color: #282828;
}

.aboutUs ul {
    font-size: 13px;
    margin-bottom: 15px;
    list-style-type: none;
}

.newsCategoriesMenu {
    margin-bottom: 30px;
}

.newsMinImgHolder {
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.popularNewsHolder h3 {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.popularNewsItem {
    margin-bottom: 15px;
}

.popularNewsItem a h3 {
    color: #000;
}

.rulesAccept label{
    /*color: #000!important;*/
    font-weight: 300!important;
    font-size: 14px;
}

p.mainHeading {
    text-transform: uppercase!important;
}

.companyInput {
    padding-right: 5px;
    padding-left: 5px;
}

.companyInputHolder {
    padding-left: 10px;
    padding-right: 10px;
}

.companyFigure {
    background-color: #f3f3f3;
    padding: 15px;
    margin-bottom: 20px;
    height: 450px;
    position: relative;
}

.figureImgHolder {
    text-align: center;
    background-color: #fff;
    height: 120px;
    margin-bottom: 10px;
    line-height: 120px;
}

.figureImgHolder img {
    height: 80px;
    max-width: 100%;
    vertical-align: middle;
}

.companyFigure .figureCaption a h3{
    color: #006eb6;
    font-size: 14px;
    margin-bottom: 10px;
    height: 30px;
    overflow: hidden;
}

.companyFigure .figureCaption {
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 10px;
    height: 250px;
    display: block;
    bottom: 0;
}

p.companyTypeName {
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: bold;
}

.companyDescription p{
    font-size: 12px;
}

.companyDescription {
    height: 50px;
    overflow: hidden;
    margin-bottom: 10px;
}

.companyContacts {
    margin-bottom: 10px;
    font-size: 12px;
}

.companyContacts p {
    margin-bottom: 4px;
}

.companyContacts i {
    color: #006eb6;
    margin-right: 10px;
}

.companyContacts span.phoneNumber {
    line-height: 21px;
    vertical-align: text-bottom;
}

.companyContacts span.adress {
    line-height: 16px;
    vertical-align: text-bottom;
}

.contactType {
    font-size: 12px;
    color: #a0a0a0;
}

span.flag {
    background: url(../img/flagua.png) no-repeat;
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-right: 10px;
}

.figureRating i{
    margin-right: 5px;
    color: #a0a0a0;
}



.figureRating a {
    margin-right: 10px;
    color: #000;
}

.figureRating a:hover {
    color: #006eb6!important;
    text-decoration: none;
}
.figureRating a:hover i{
    color: #006eb6!important;
}

.figureRating {
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    bottom: 15px;
}

.figureRating p,
.figureRating .br-wrapper.br-theme-fontawesome-stars {
    display: inline-block;
}

.qtipHolder {
    padding: 10px;
    display: none;
}

.qtipHolder .qtipCaption{
    margin-left: 10px;
    color: #000;
}

.qtipHolder .fa-file{
    color: #006eb6;
}

.qtipHolder .fa-close{
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
}

.qtipHolder a {
    color: #006eb6;
    text-decoration: underline;
}

.companyThumbnailsHolder figure{
    padding-left: 10px;
    padding-right: 10px;
}

.oneCompanyFigure {
    border-radius: 0;
    border: 1px solid #f0f0f0;
    margin-bottom: 25px;
}

.oneCompanyFigure .figureImgHolder {
    line-height: 150px;
    vertical-align: middle;
}

.thumbnailImgHolder {
    text-align: center;
    background-color: #fff;
    height: 165px;
    margin-bottom: 10px;
    line-height: 165px;
}

.thumbnailImgHolder img {
    height: 80px;
    max-width: 100%;
    vertical-align: middle;
}

.companyRatingHolder {
    font-size: 12px;
    font-weight: bold;
}

.br-wrapper.br-theme-fontawesome-stars {
    display: inline-block;
    margin-left: 15px;
}

.thumbnailCaption {
    background-color: #f3f3f3;
    padding: 10px;
    min-height: 130px;
}

.oneCompanyFigure .companyDescription {
    height: auto;
}

.oneCompanyFigure .companyType,
.oneCompanyFigure .address {
    font-size: 12px;
    margin-bottom: 10px;
}

.oneCompanyFigure .companyType .companyTypeHeader,
.oneCompanyFigure .address .addressHeader {
    font-weight: bold;
}

.oneCompanyMainFigure {
    border: 1px solid #f0f0f0;
    padding: 0;
    font-size: 12px;
    margin-bottom: 20px;
}

.oneCompanyMainFigure h3 {
    background-color: #f3f3f3;
    font-size: 15px;
    padding: 10px;
}

.oneCompanyMainFigure .oneCompanyMainFigureContent {
    padding: 10px;
    background-color: #fff;
}

.oneCompanyMainFigure h4 {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}

.oneCompanyMainFigure div.figurePart {
    margin-bottom: 10px;
}

.oneCompanyMainFigure .btn-primary i{
    margin-right: 10px;

}

.oneCompanyMainFigure .btn-primary, .oneCompanyMainFigure .well.linker-partner {
    max-width: 220px;
}

.partner {
    border: 1px solid #f0f0f0;
    background: #fff;
    height: 60px;
    max-width: 100%;
    margin-bottom: 15px;
    text-align: center;
    line-height: 60px;
}

.partner img {
    height: 50px;
    max-width: 100%;
    vertical-align: middle;
}

.oneCompanyMainFigureContent .popularNewsItem a h4 {
    color: #000;
    text-transform: uppercase;
}

.oneCompanyMainFigureContent .popularNewsItem {
    margin-bottom: 15px;
}

a.allItems {
    text-decoration: underline;
}

.oneCompanyMainInfo {
    margin-bottom: 25px;
}

.oneCompanyMainInfo .nav > li > a {
    font-size: 12px;
    color: #000;
}

.oneCompanyMainInfo .nav > li.active > a {
    color: #006eb6;
    background: rgba(230, 230, 230, 1);
    background: -moz-linear-gradient(top, rgba(230, 230, 230, 1) 0%, rgba(230, 230, 230, 1) 17%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(230, 230, 230, 1)), color-stop(17%, rgba(230, 230, 230, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(230, 230, 230, 1) 0%, rgba(230, 230, 230, 1) 17%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(230, 230, 230, 1) 0%, rgba(230, 230, 230, 1) 17%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(230, 230, 230, 1) 0%, rgba(230, 230, 230, 1) 17%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(230, 230, 230, 1) 0%, rgba(230, 230, 230, 1) 17%, rgba(255, 255, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#ffffff', GradientType=0);
}

.oneCompanyMainInfo .nav.nav-tabs li a {
    padding: 5px 15px;
    font-weight: bold;
}

.oneCompanyMainInfo .tab-content {
    border: 1px solid #f0f0f0;
    border-top: none;
}

.oneCompanyTabContent > .tab-pane,
.oneCompanyMainInfo .panel-default > .panel-heading + .panel-collapse > .panel-body {
    padding: 15px;
    font-size: 12px;
}

.oneCompanyTabContent > .tab-pane p,
.oneCompanyMainInfo .panel-default > .panel-heading + .panel-collapse > .panel-body p{
    margin-bottom: 10px;
}

.oneCompanyMainInfo .panel-title {
    font-size: 12px;
}

.oneCompanyMainInfo .panel-default > .panel-heading {
    background: rgba(230, 230, 230, 1);
    background: -moz-linear-gradient(top, rgba(230, 230, 230, 1) 0%, rgba(230, 230, 230, 1) 17%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(230, 230, 230, 1)), color-stop(17%, rgba(230, 230, 230, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(230, 230, 230, 1) 0%, rgba(230, 230, 230, 1) 17%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(230, 230, 230, 1) 0%, rgba(230, 230, 230, 1) 17%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(230, 230, 230, 1) 0%, rgba(230, 230, 230, 1) 17%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(230, 230, 230, 1) 0%, rgba(230, 230, 230, 1) 17%, rgba(255, 255, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#ffffff', GradientType=0);
}

.partHeading {
    font-weight: bold;
}

.partHeading span.date {
    color: #006eb6;
    margin-left: 10px;
}

span.blue {
    color: #006eb6;
}

.companyDocs .docName a{
    color: #000;
    text-decoration: none;
}

.companyDocs .docName a:hover{
    text-decoration: underline;
}

.companyDocs .docName a i{
    margin-right: 5px;
}

.companyDocs .docName p{
    margin-bottom: 3px;
    font-size: 11px;
}

.companyDocs .imgDoc{
    height: 45px;

    /*[ LINKeRxUA >> HOTFIX ]*/
    /*background: url(../img/doc.png) no-repeat center center;*/
    /* бекграунд потушив LINKeRxUA - так як ми з Кирилом зробили штуку поуніверсальніше */
    /* [HOTFIX END] */
    background-size: contain;
}

.companyDocs .place-in-center{
    /*[ LINKeRxUA >> HOTFIX ]*/
    /*background: url(../img/doc.png) no-repeat center center;*/
    /* бекграунд потушив LINKeRxUA - так як ми з Кирилом зробили штуку поуніверсальніше */
    text-align: center;
    /* [HOTFIX END] */
}

.companyDocsHolder {
    margin-bottom: 15px;
}

.commentHolder {
    background-color: #f3f3f3;
    padding: 20px;
}

.companyComments .oneCompanyMainFigureContent {
    padding: 15px;
}

.commentAvatar {
    position: relative;
}

.commentAvatar .online {
    position: absolute;
    top: 0;
}

.commentHolder textarea {
    border: 1px solid #d6d6d6;
    border-radius: 0;
}

.commentHolder .companyRatingHolder p{
    font-weight: normal;
    line-height: 40px;
}

.dialogueMessageHolder {
    padding: 15px;
}

.dialogueMessage {
    border-bottom: 1px solid #f0f0f0;
}



.dialogueMessage .companyRatingHolder p a{
    color: #006eb6;
    font-weight: bold;
    font-size: 14px;
}

.dialogueMessage .companyRatingHolder p.date{
    color: #a0a0a0;
    font-weight: normal;
    margin-top: -10px;
    font-size: 11px;
}

.dialogueMessage .oneMessage {
    margin-top: 15px;
    font-size: 11px;
    color: #333;
    margin-bottom: 15px;
}

.commentingCompanyName {
    padding-left: 0;
}

.newsItemMainImg {
    position: relative;
    margin-bottom: 25px;
}

.newsItemMainImg .newsItemDate {
    position: absolute;
    width: 80px;
    height: auto;
    top: 60%;
    left: 20px;
    background: #fff;
    border: none;
}

.newsItemMainImg .newsItemDate p.dateNumber{
    font-size: 20px;
}

.newsItemMainImg .newsItemDate p.dateMonth{
    font-size: 9px;
}

.newsItemText h1 {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

.newsItemText p.date {
    color: #b2b2b2;
    font-size: 11px;
    font-weight: normal;
    margin-bottom: 20px;
}

.newsItemText .text p {
    font-size: 12px;
    color: #282828;
    margin-bottom: 20px;
}

.modal-header {
    background-color: #1f425d;
}

.changePriceModal input[type="radio"] {
    display: inline-block;
}

.changePriceModal .price input,
.changePriceModal .price select {
    display: inline-block;
}

.changePriceModal .price input {
    width: 70%;
    margin-right: 1%;
}

.changePriceModal .price select {
    width: 29%;
}

.changePriceModal .price {
    max-width: 430px;
}

.changePriceModal .prePaid {
    max-width: 130px;
    margin-top: 5px;
}

.changePriceModal .modal-content {
    font-size: 17px;
    color: #555;
}

.changePriceModal input[type=radio]:checked+span,
.changePriceModal input[type=checkbox]:checked+span{
    color: #27324b;
}

.changePriceModal label span {
    font-weight: 400;
    font-size: 14px;
}

.changePriceModal label {
    line-height: 20px;
}

.changePriceModal .checkbox label {
    line-height: 19px;
}

.changePriceModal .form-control {
    font-size: 13px!important;
    border-color: #bbb!important;
}

.payFormDivItem {
    margin-bottom: -10px;
}

.payFormDiv {
    margin-bottom: 10px;
}

.prePaid .input-group-addon {
    padding: 0 10px;
    border: 1px solid #bbb;
    border-left: none;
}

.inviteModal label,
.inviteModal select,
.inviteModal input,
.mailingModal label,
.mailingModal textarea,
.mailingModal input{
    margin-bottom: 8px;
}

.inviteModal .form-control,
.mailingModal .form-control,
.feedbackModal .form-control {
    font-size: 13px!important;
    padding: 6px 12px;
}

.feedbackModal .companyRatingHolder p {
    font-size: 14px;
    font-weight: normal;
}

.feedbackModal .commentHolder {
    padding: 30px;
}

.inviteModal label,
.mailingModal label {
    font-weight: normal;
    font-size: 14px;
}

.mailingModal .btn-primary,
.inviteModal .btn-primary,
.feedbackModal .btn-primary{
    width: 150px;
    font-weight: 400;
}

.orderThumb {
    border-bottom: 10px solid #fcfcfc;
    padding: 5px;
}

.orderThumb .orderInfo {
    margin-bottom: 5px;
}

.orderThumb .orderInfo p {
    display: inline-block;
    width: 30%;
    background: #f7f7f7;
    margin-right: 0.5%;
    text-align: center;
    font-size: 20px;
    color: #b6b6b6;
    padding: 15px 0;
}

.orderThumb .orderInfo p:last-child {
    width: 39%;
    margin-right: 0;
    color: #767676;
}

.orderThumb .orderDestination {
    border-right: 5px solid #fcfcfc;
}

.orderThumb .orderDestination .flagru {
    background: url("../img/flagru.png") no-repeat center;
    background-size: cover;
    width: 20px;
    height: 13px;
    display: block;
    margin-top: 3px;
}

.orderThumb .orderDestination .flagHolder {
    vertical-align: top;
}

.orderThumb .orderDestination .flagHolder,
.orderThumb .orderDestination .destinationHolder{
    display: inline-block;
}

.orderDestinationStart,
.orderDestinationSep,
.orderDestinationEnd {
    display: inline-block;
}

.orderDestinationStart,
.orderDestinationEnd {
    width: 45%;
}
.orderDestinationSep {
    width: 10%;
}

.modal-header .close {
    right: -15px;
}

.destinationHolder .city {
    color: #737373;
    font-size: 16px;
}

.destinationHolder .region {
    color: #b6b6b6;
    font-size: 12px;
}

.orderDestination .orderDestinationSep span {
    display: block;
}

.whiteFluidContainer .dropdown .dropdown-toggle.filter,
.changePriceModal .dropdown .dropdown-toggle.filter,
.inviteModal .dropdown .dropdown-toggle.filter {
    border: 1px solid #bbb!important;
    /*height: 40px!important;*/
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.inviteModal .modal-body .form-control {
    /*height: 40px!important;*/
}

.changePriceModal .price input,
.changePriceModal .price .dropdown {
    display: inline-block;
    height: 35px!important;
}

.changePriceModal .price .dropdown {
    min-width: 110px;
}

.companies .dropdown .dropdown-toggle.filter {
    height: 35px!important;
    border: 1px solid #bbb!important;
}

.transportOrderModal .thumb,
.orderInProcessModalWindow .thumb {
    border: 0;
}

.transportOrderModal .modal-body h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.transportOrderModal .modal-body h4 {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 20px;
}

.transportOrderModal .dialogueMessageHolder {
    padding: 0;
}

.transportOrderModal .dialogueMessage {
    border: none;
}

.transportOrderModal .owl-controls {
    display: block!important;
}

.transportOrderModal .owl-buttons {
    position: absolute;
    top: -55px;
    left: 50px;
}

.transportOrderModal .owl-theme .owl-controls .owl-buttons div {
    color: #7a8894;
    display: inline-block;
    zoom: 1;
    margin: 5px;
    padding: 0;
    font-weight: lighter;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0;
    background: #fff;
    filter: Alpha(Opacity=50);
    opacity: 1;
    font-size: 30px;
}

.orderModalAutoInfo p {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}

.orderModalAutoInfo p span{
    font-weight: normal;
}

.orderModalAutoInfo .row {
    margin-bottom: 10px;
}

.transportOrderModal .btn-primary {
    width: 200px;
}

.orderModalMapHolder {
    margin-bottom: 20px;
}

.orderInProcessModalWindow .br-theme-fontawesome-stars .br-widget a {
    font-size: 14px;
}

.orderInProcessModalWindow .figureRating a {
    margin-right: 5px;
}

.orderInProcessModalWindow .br-wrapper.br-theme-fontawesome-stars {
    margin-left: 0;
}

.orderInProcessModalWindow .br-theme-fontawesome-stars .br-widget {
    height: 15px;
}

.btnCancel,
.btnCancel:hover {
    background-color: #8f9090!important;
}

.orderInProcessTwoButtonsHolder,
.orderInProcessButtonHolder {
    margin-bottom: 10px;
}

.orderInProcessTwoButtonsHolder button,
.orderInProcessButtonHolder button {
    width: 49.5%;
    margin-right: 1%;
    font-size: 10px!important;
    text-transform: uppercase;
}

.orderInProcessTwoButtonsHolder button:last-child {
    margin-right: 0;
}
.orderInProcessModalWindow .companyFigure {
    margin-bottom: 0;
}

.orderInProcessButtonHolder button{
    width: 100%;
}

.btnWorkOver,
.btnWorkOver:hover {
    background-color: #dead0d!important;
}

.serviceFigureHeader {
    background-color: #006eb6;
    padding: 15px;
    position: relative;
    height: 80px;
}

.serviceFigureHeader label {
    line-height: 20px;
}

.vipBlock .serviceFigureHeader label {
    line-height: 37px;
}

.serviceFigureHeader .radio {
    max-width: 150px;
}

.serviceFigureHeader .radio input[type="radio"],
.serviceFigureHeader .radio-inline input[type="radio"],
.serviceFigureHeader .checkbox input[type="checkbox"],
.serviceFigureHeader .checkbox-inline input[type="checkbox"] {
    top: 7px;
}

.serviceIcon1 {
    background: url("/assets/img/serviceIcon1.png") no-repeat;
    display: block;
    width: 80px;
    height: 55px;
    background-size: contain;
    position: absolute;
    top: 18px;
    right: 15px;
}

.serviceIcon2 {
    background: url("/assets/img/serviceIcon2.png") no-repeat;
    display: block;
    width: 43px;
    height: 55px;
    background-size: contain;
    position: absolute;
    top: 18px;
    right: 15px;
}

.serviceIcon3 {
    background: url("/assets/img/serviceIcon3.png") no-repeat;
    display: block;
    width: 47px;
    height: 55px;
    background-size: contain;
    position: absolute;
    top: 18px;
    right: 15px;
}

.serviceFigureHeader label span{
    font-size: 16px;
    color: #fff;
}

.serviceFigureHeader label input {
    font-size: 14px!important;
}


.serviceFigureBody {
    border: 1px solid #f1f1f1;
    position: relative;
    padding: 15px;
    background: #fff;
}

.serviceFigureBody p {
    font-size: 14px;
}

.serviceFigureBody .fa-question {
    display: block;
    position: absolute;
    height: 20px;
    width: 20px;
    border: 1px solid #949494;
    border-radius: 50%;
    color: #949494;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    top: 15px;
    right: 15px;
}

.serviceFigureBody .daysRadios label {
    font-size: 12px;
}

.serviceFigureBody .daysRadios .radio {
    margin-right: 10px;
}

.daysRadios input {
    margin-right: 3px;
}

.serviceFigureBody p,
.serviceFigureBody form {
    margin-bottom: 10px;
}

.payForService {
    margin-bottom: 20px;
}

.payForService p .moneyQnt{
    font-size: 21px;
    color: #1f425d;
}

.payForService p {
    line-height: 35px;
}

.payForService p .moneyCurrency{
    font-size: 15px;
}

.paidServicesModalWindow .btn-primary {
    max-width: 130px;
}

.serviceDefinition {
    height: inherit;
}

.serviceDefinition p{
    margin-bottom: inherit;
}

.subDefText p{
    font-size: 11px;
    color: #b2b2b2;
    font-weight: normal;
}

.serviceFiguresHolder {
    margin-bottom: 30px;
}

.servicePaymentHolder h2 {
    font-size: 16px;
    margin-bottom: 20px;
}

.servicePayment {
    border: 1px solid #f1f1f1;
    padding: 15px;
}

.servicePayment p {
    font-size: 14px;
    margin-bottom: 5px;
}

.servicePaymentInfo {
    line-height: 35px;
}

.paymentIconsHolder {
    position: relative;
    margin-bottom: 20px;
}

.paymentIcons {
    position: absolute;
    bottom: -40px;
    right: 10px;
}


.paymentIcons a{
    display: inline-block;
    margin-left: 5px;
}

.masterCard {
    background: url("/assets/img/iconMasterCard.png") no-repeat;
    background-size: contain;
    display: block;
    width: 20px;
    height: 14px;
}

.visa {
    background: url("/assets/img/iconVisa.png") no-repeat;
    background-size: contain;
    display: block;
    width: 20px;
    height: 14px;
}

.privat {
    background: url("/assets/img/iconPrivat.png") no-repeat;
    background-size: contain;
    display: block;
    width: 20px;
    height: 14px;
}

.privat24 {
    background: url("/assets/img/icoPrivat24.png") no-repeat;
    background-size: contain;
    display: block;
    width: 20px;
    height: 14px;
}

.servicePaymentSubText p {
    font-size: 11px;
    color: #b2b2b2;
    font-weight: normal;
}

.startPointCargo,
.endPointCargo {
    margin-bottom: 10px;
}

.uploadPlaceInputHolder {
    position: relative;
    margin-top: 5px;
}

.uploadPlaceInputHolder a {
    position: absolute;
    top: 10px;
    right: -20px;
    display: block;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;

}

.uploadPlaceInputHolder a i.fa-times{
    color: #555;
    font-size: 12px;
}

.addExistingTransport p{
    font-size: 14px;
    line-height: 30px;
}

.addExistingTransport .btn-primary {
    width: 120px;
}

.addExistingTransport .existTransCont {
    margin-bottom: 20px;
}

.addExistingTransport .form-group {
    margin-bottom: 0;
}

.changePriceModal .dropdown .dropdown-toggle.filter {
    line-height: 32px!important;
}

@media (max-width: 768px) {
    .truckMeasures .measuresInput {
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
    }
    .newsItemMainImg .newsItemDate {
        position: absolute;
        width: 50px;
        height: auto;
        top: 50%;
        left: 20px;
        background: #fff;
        border: none;
    }
    .newsItemMainImg .newsItemDate p.dateNumber{
        font-size: 15px;
        padding: 5px 0;
    }

    .newsItemMainImg .newsItemDate p.dateMonth{
        font-size: 7px;
    }

}

.radioTruck input[type=radio]:checked+span {
    color: #27324b;
}

.radioTruck input[type=radio]:checked+span+span.carIconSm {
    background: url(../img/truckSmColored.png) no-repeat center;
    background-size: contain;

}

.radioTruck input[type=radio]:checked+span+span.carIconMd {
    background: url(../img/truckColored.png) no-repeat center;
    background-size: contain;

}

.radioTruck input[type=radio]:checked+span+span.carIconLg {
    background: url(../img/truckBgColored.png) no-repeat center;
    background-size: contain;

}

.addTransportContent textarea{
    border-color: #bbb!important;
}

.additionalInfoModal .radio + .radio,
.additionalInfoModal .checkbox + .checkbox {
    margin-top: 0px;
}

.additionalInfoModal .radio,
.additionalInfoModal .checkbox {
    font-size: 14px;
    margin-top: 0;
}

.additionalTextInfo {
    position: absolute;
    top: -3px;
    left: 90px;
    width: 50px!important;
    padding: 5px!important;
    height: 25px!important;
    border-color: #bbb!important;
}

.additionalTextInfo+.temperatureSeparatorDivider+.additionalTextInfo {
    left: 175px;
}

.temperatureSeparatorDivider {
    position: absolute;
    left: 156px;
    top: 0;
    display: none;
}

.additionalInfoModal textarea {
    margin-bottom: 20px;
    border-color: #bbb!important;
}

.additionalInfoModal .btn-primary {
    width: 200px;
}

.additionalInfoItem {
    margin-bottom: 20px;
}

.additionalInfoModal h2 {
    margin-bottom: 20px;
}

.additionalInfoModal h3 {
    margin-bottom: 10px;
}

.additionalInfoHeading span.additionalInfoResult {
    color: #060606;
    font-weight: normal;
    font-size: 14px;
}

.additionalInfoHeading {
    font-size: 16px;
    color: #27324b;
}

.additionalInfoHeading a {
    text-decoration: underline;
    font-size: 14px;
}

.transportOrderModal .center-inner-block p,
.orderInProcessModalWindow .center-inner-block p {
    font-size: 14px;
}

a.download {
    font-size: 12px;
}

.checkboxWithInput label input.additionalTextInfo {
    display: none;
}

.checkboxWithInput label input[type=checkbox]:checked+input.additionalTextInfo {
    display: block;
}

.checkboxWithInput label input[type=checkbox]:checked+input.additionalTextInfo+.temperatureSeparatorDivider+input.additionalTextInfo {
    display: block;
}

.checkboxWithInput label input[type=checkbox]:checked+input.additionalTextInfo+.temperatureSeparatorDivider {
    display: block;
}
/* other */

.orderInProcessTwoButtonsHolder button {
    width: 48.5%!important;
    margin-right: 0%;
    font-size: 10px!important;
    text-transform: uppercase;
}
span.flag {
    background: url(/assets/img/ukr.png) no-repeat center;
    background-size: contain;
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-right: 10px;
}
.figureCaption .price{
    margin-bottom: 5px;
}
.tender-box{
    display: block;
    margin-top: 20px;
    margin-bottom: 30px;
}
.thumb-block.tender .center-inner-block p {
    font-size: 15px;
    line-height: 50px;
    height: 50px;
}
.thumb-block.tender .center-inner-block{
    height: 50px;
}
.thumb-block.tender .center-inner-block.bottom {
    margin-right: 25px;
    display: block;
    height: 51px;
    border-bottom: 1px solid #fff;
}
.thumb-block.tender .abs {
    position: absolute;
    top: 35px;
    right: 3px;
    color: #006eb6;
}

a.tender-link {
    display: block;
    opacity: 1;
    text-decoration: none!important;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    color: black;
}
a.tender-link:hover {
    display: block;
    opacity: 0.8;
    text-decoration: none!important;
}
.thumb-block.tender .gray-top {
    display: block;
    font-size: 14px;
    font-weight: 200;
    margin-top: 5px;
    margin-bottom: 5px;
}
.thumb-block.tender .gray-middle {
    display: block;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 5px;
}
.thumb-block.tender .gray-bottom {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 3px;
}
.line-profile .tender{
    margin-bottom: 20px;
}
.line-profile .tender.thumb-block.tender .center-inner-block p {
    font-size: 12px;
}
.line-profile .tender.thumb-block.tender .descr-tr .top-inner {
    font-weight: 400;
    font-size: 12px;
    color: #006eb6;
}
.line-profile .tender.thumb-block.tender .descr-tr .bottom-inner {
    font-weight: 400;
    font-size: 12px;
    color: #828282;
}
.line-profile .tender.thumb-block.tender .descr-tr .middle-inner {
    margin-top: 5px;
    font-weight: 100;
    font-size: 12px;
    color: #828282;
}
.line-profile .tender.thumb-block.tender .p-title.last {
    line-height: 15px;
    font-size: 11px;
    color: #575757;
    margin-bottom: 15px;
}
.line-profile .tender.thumb-block.tender .p-top.last {
    line-height: 15px;
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 5px;
}
.line-profile .tender.thumb-block.tender .p-middle.last {
    line-height: 15px;
    font-size: 11px;
    margin-bottom: 10px;
    font-weight: 500;
}
.line-profile .tender.thumb-block.tender .radio-online.active {
    position: absolute;
    top: 7px;
    right: 40px;
    width: 1rem;
    height: 1rem;
    background: #0BA92D;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgba(68, 66, 66, 0.1);
    opacity: 0.9;
}
.line-profile .tender.thumb-block.tender .fa.fa-envelope.fa-2x {
    position: relative;
    margin-right: 7px;
    color: #fac400;
    height: 15px;
}
.tender-head{
    background: #27324B;
    padding: 20px 30px;
    line-height: 20px;
}
.tender-head h4{
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
}
.tender-head a{
    color: #fff;
    line-height: 20px;
    font-size: 14px;
    text-decoration: none;
}
.tender-head a i{
    margin-right: 5px;
}


.thumb-block.tender .thumb-inner-box .right-inner .descr-tr {
    padding-right: 0px!important;
    margin-top: 5px;
    margin-right: -25px;
    overflow: hidden;
    display: block;
}

.modal-body.tender  h3{
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 0px;
    border-bottom: 2px solid #d7d7d7;
    line-height: 30px;
}
.modal-body.tender .tender-list{
    font-size: 14px;
    list-style: none;
    margin-bottom: 30px;
}
.modal-body.tender .tender-list li{
    margin-bottom: 10px;
}
.modal-body.tender .tender-list li i{
    margin-right: 10px;
    color: #006eb6;
    font-size: 16px;
}
.modal-body.tender .descr{
    font-size: 14px;
    margin-bottom: 20px;
}
.right-inner-last .price{
    font-size: 14px;
}
.p-title.last {
    margin-bottom: 5px!important;
}
.p-middle.last {
    margin-bottom: 0px!important;
}
.form-group.check-block {
    margin-top: 27px;
}
.mb-tenders{
    margin-bottom: 30px;
}
.mt-bet{
    margin-top: 20px;
}
.thumb-block.tender .gray-top.lh-tender{
    display: block;
    font-size: 14px;
    font-weight: 200;
    line-height: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.thumb-block.tender .inner-box {
    color: #fff!important;
}
.thumb-block.tender .count{
    color: #888;
    line-height: 15px;
}
.thumb-block.tender .descr-tr .middle-inner {
    margin-top: 0px;
    font-weight: 100;
    font-size: 14px;
    color: #828282;
}
a.p-title{
    display: block;
}
.thumb-block.tender  .thumb-inner-box .right-inner .descr-tr {
    margin-top: 5px;
    display: block;
}
.thumb-block.tender  .thumb-inner-box .right-inner .descr-tr .price{
    color: #555;
}
.tab-content{

}
.tab-content .thumb-block.tender .count{
    font-size: 10px;
    line-height: 10px;
}

.transport-app .inner-box{
    background-color: #006eb6;
}

.transport-app .inner-box .gray-top {
    display: block;
    font-size: 12px;
    color: #fff;
    font-weight: 200;
    margin-top: 5px;
    margin-bottom: 10px;
}
.transport-app .price {
    font-size: 14px;
    color: #666
}
.transport-app .inner-box .gray-middle {
    display: block;
    font-size: 20px;
    color: #fff;
    font-weight: 800;
    margin-bottom: 10px;
}
.transport-app .inner-box .gray-bottom {
    display: block;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 1px;
}
.transport-app .p-title.last {
    line-height: 16px;
    font-size: 14px;
    color: #575757;
    margin-bottom: 15px;
}

.cargo-app .price{
    color: #777;
}

.cargo-app .right-inner .descr-tr {
    padding-right: 45px;
    margin-top: 0px;
    display: block;
}
.cargo-app .p-title.last {
    line-height: 16px;
    font-size: 14px;
    color: #575757;
    margin-bottom: 15px;
}

.cargo-app .gray-bottom {
    display: block;
    font-size: 18px;
    color: #7e7e7e;
    font-weight: 500;
    margin-bottom: 1px;
}
.cargo-app .gray-top {
    font-size: 12px;
}
.modal .cargoMeasures{

}
.modal .cargoMeasures .truckMeasures .measuresInput, .modal .cargoMeasures.cargoMeasures .measuresInput {
    display: inline-block;
    width: 32%;
    margin-right: 0.5%;
}
.modal .cargoMeasures .input-group-addon, .truckType .input-group-addon, .cargoType .input-group-addon {
    width: 50px;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    border-color: #bbb;
    border-left: none;
}
.modal .radio + .radio, .modal .checkbox + .checkbox {
    margin-top: 10px;
}
.modal .additionalInfoItem{
    margin-bottom: 0px;
    margin-top: 0px;
}
.modal .additionalInfoItem h3{
    margin-bottom: 5px;
    line-height: 35px;
    border-bottom: 2px solid #d7d7d7;
}
.additionalInfoButton{
    margin-top: 25px;
}
.container-helper{
    padding-top: 10px;
    padding-bottom: 10px
}
.bg-grey{
    background-color: #f8f8f8;
}
.table-title-company{
    margin-bottom: 20px;

}
.tender.add{

}
.tender.add .cargoMeasures .measuresInput {
    display: inline-block;
    width: 32%;
    margin-right: 2px;
}
.tender.add  input[type="checkbox"] {
    margin: 4px 0 0;
    margin-left: 0px;
}
.additionalInfoModal .radio, .additionalInfoModal .checkbox {
    font-size: 14px;
    margin-top: 8px;
}
.ui-datepicker{
    z-index: 10!important;
}
.startPointCargo, .endPointCargo {
    margin-bottom: 5px;
}

.uploadDate input {
    display: inline-block;
    max-width: 226px;
    margin-bottom: 0px;
    margin-right: 10px;
}
.addTransportContent .whiteFluidContainer label, .addTransportContent .greyFluidContainer label {
    color: #27324b;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 0px;
    position: static;
}
.uploadPlace p {
    margin-top: 5px;
}

.in-line{

}
.thumb-block.in-line  p{
    margin-bottom: 0px;
}
.thumb-block.in-line .center-inner-block p {
    font-size: 12px;
    line-height: 50px;
    height: 50px;
}
.thumb-block.in-line .thumb-inner-box .right-inner .descr-tr {
    padding-right: 0px!important;
    margin-top: 5px;
    margin-right: 0px;
    overflow: hidden;
    display: block;
}
.thumb-block.in-line .thumb-inner-box .descr-tr .top-inner {
    font-weight: 400;
    font-size: 14px;
    color: #006eb6;
    line-height: 20px;
}
.thumb-block.in-line .descr-tr .middle-inner {
    margin-top: 0px;
    font-weight: 100;
    font-size: 12px;
    line-height: 15px;
    color: #828282;
}
.thumb-block.in-line  .descr-tr .bottom-inner {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #828282;
}
.thumb-block.in-line .thumb-inner-box .descr-tr .price{
    font-size: 12px;
}
.thumb-block.in-line .gray-bottom {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 9px;
}
.mb-fix{
    margin-bottom: 15px;
}
.mt-fix{
    margin-top: 20px;
}
.transport-app.in-line .center-inner-block {
    margin-right: 25px;
    display: block;
    height: 45px;
}
.transport-app.in-line .center-inner-block.bottom {
    margin-right: 25px;
    display: block;
    height: 44px;
    border-bottom: 1px solid #fff;
}
.transport-app.in-line .center-inner-block p {
    font-size: 12px;
    line-height: 43px;
    height: 44px;
}
.transport-app.in-line .abs {
    position: absolute;
    top: 32px;
    right: 3px;
    color: #006eb6;
}
.cargo-app.in-line .center-inner-block {
    margin-right: 25px;
    display: block;
    height: 45px;
}
.cargo-app.in-line .center-inner-block.bottom {
    margin-right: 25px;
    display: block;
    height: 44px;
    border-bottom: 1px solid #fff;
}
.cargo-app.in-line .center-inner-block p {
    font-size: 12px;
    line-height: 43px;
    height: 44px;
}
.cargo-app.in-line .abs {
    position: absolute;
    top: 32px;
    right: 3px;
    color: #006eb6;
}
.in-line .thumb-inner-box .right-inner .back-img.appl {
    position: relative;
    right: 5px;
    display: inline-block;
}
.in-line .back-img {
    background: url(../img/truck.png) no-repeat right;
    position: absolute;
    width: 50px;
    height: 15px;
    right: 0px;
    top: 0px;
    background-size: contain;
    right: 5px;
}
.thumb-block.tender .in-p {
    font-size: 17px;
    position: relative;
    left: 4px;
    top: 2px;
}
.thumb-block.tender .box-border {
    background-color: #fff;
    border-right: 5px solid #D7D7D7;
    margin-right: -20px;
    margin-left: -30px;
}
.thumb-block.tender .center-inner-block {
    padding-left: 10px;
    padding-right: 0px;
    display: block;
    border-bottom: 1px solid #d7d7d7;
    margin-right: 25px;
}
.thumb-block.tender .center-inner-block.bottom {
    margin-right: 25px;
    display: block;
    height: 51px;
    border-bottom: 1px solid #fff;
}
.thumb-block.tender .p-top.last {
    line-height: 20px;
    font-weight: 300;
    font-size: 13px;
    margin-bottom: 0px;
    line-height: 15px;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 10px;
}
.thumb-block.tender .p-middle.last {
    line-height: 15px;
    font-size: 14px;
    margin-bottom: 0px;
    font-weight: 500;
    height: 41px;
}
/* other */
@media (max-width: 480px) {
    .transportOrderModal .btn-primary,
    .oneCompanyMainFigure .btn-primary,
    .mailingModal .btn-primary,
    .inviteModal .btn-primary,
    .paidServicesModalWindow .btn-primary {
        max-width: 100%;
        width: 100%;
        float: none;
    }
    .mailingModal .pull-right .btn-primary {
        float: none;
    }
}

#additionalInfoModal input[type="checkbox"]
{
    margin-left: -20px !important;
}

.req_field
{
    color: red;
}

.req_field_options
{
    color: blue;
}
.conditions_refused
{
    color: red !important;
    margin-right: 14px !important;
}
input[name="custom_rate"]
{
    width: 40% !important;
    display: inline-block !important;
}
.recom_price
{
    font-size: 12px;
}
.num_place_first
{
    background-color: rgba(0, 191, 0, 0.18);
    padding: 10px;
    border-radius: 4px;
    position: relative;
    top: 10px;
}

.num_place_other
{
    background-color: rgba(255, 0, 0, 0.18);
    padding: 10px;
    border-radius: 4px;
    position: relative;
    top: 10px;
}
.delete_link_tender
{
    cursor: pointer;
}
.attention_block
{
    color: red;
}
#stop_reason
{
    width: 100%;
}

.my_bet_row
{
    background-color: rgba(0, 135, 255, 0.08);
}

.best_bet_row_my
{
    background-color: rgba(0, 191, 0, 0.18);
}

.best_bet_row_other
{
    background-color: rgba(255, 0, 0, 0.18);
}
#set_auto_bet
{
    font-size: 11px;
    color: #006eb6;
    cursor: pointer;
}



















/* </inker profile manage partners>*/


.partner .manage-linker{
    position: relative;
    /*overflow: hidden;*/
}
.partner .company-name-linker{
    margin-top: -20px;

    transition: margin-top .25s ease-in-out;
    -moz-transition: margin-top .25s ease-in-out;
    -webkit-transition: margin-top .25s ease-in-out;

}

.partner .manage-linker .manage-panel-linker{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 20px;
    /*background: rgba(0,0,0,0.2);*/
    /*opacity: 0.1;*/
    overflow: hidden;


    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;

    transition: height .25s ease-in-out;
    -moz-transition: height .25s ease-in-out;
    -webkit-transition: height .25s ease-in-out;

}

.partner .manage-linker.confirmed .manage-panel-linker{  background: rgba(21,163,51,1);  }
.partner .manage-linker.not-confirmed .manage-panel-linker{ background: rgba(250,196,0,1);  }
.partner .manage-linker.wait .manage-panel-linker{ background: rgba(0, 110, 182, 1);  }



.partner .manage-linker a.profile-link{
    opacity: 0.7;
    font-size: 60%;
    left: 5px;
    overflow: hidden;
    position: absolute;
    display: block;
    line-height: 14px;
    top: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;

    transition: font-size .5s ease-in-out;
    -moz-transition: font-size .5s ease-in-out;
    -webkit-transition: font-size .5s ease-in-out;
}

.partner .manage-panel-linker a{  text-decoration: none;  color: #fff;  }
.partner .manage-panel-linker .toggle-button{
    position: absolute;
    top: 15px;
    font-size: 150%;

    transition: font-size .25s ease-in-out;
    -moz-transition: font-size .25s ease-in-out;
    -webkit-transition: font-size .25s ease-in-out;
}

.partner .manage-panel-linker .toggle-button.button-left{  left:10%;  }
.partner .manage-panel-linker .toggle-button.button-right{  right:10%;  }

.partner .manage-panel-linker .toggle-button i{ color: inherit; }
.partner .manage-panel-linker .toggle-button[data-confirmation]{

    top: 15px;
    transition: all .33s ease;
    -moz-transition: all .33s ease;
    -webkit-transition: all .33s ease;
}

.partner:hover .manage-panel-linker{                                            height: 60px;                    }
.partner:hover .manage-linker.confirmed .manage-panel-linker{                   background: rgba(21,163,51,0.7);    }
.partner:hover .manage-linker.not-confirmed .manage-panel-linker{               background: rgba(250,196,0,0.7);    }
.partner:hover .manage-linker.wait .manage-panel-linker{               background: rgba(0, 110, 182,0.7);    }
.partner:hover .company-name-linker{                                            margin-top: -15px;  }
.partner:hover .manage-linker a.profile-link{                                   opacity: 0.7; font-size: 80%; }
.partner:hover .manage-panel-linker .icon-linker{                               font-size: 150%;  }
.partner .manage-panel-linker .toggle-button:hover{                             font-size: 220%; top: 10px; }
.partner .manage-panel-linker .toggle-button[data-confirmation="on"]:hover{    color: #15A333; }
.partner .manage-panel-linker .toggle-button[data-confirmation="off"]:hover{    color: #df4f37; }

#feedback-request-based-partners button[name="partner-request"][value="0"]{
    display: none;
}

/* </linker profile manage partners>*/

.modalButtonHolder {
    padding: 20px 0 0;

}

.modalButtonHolder .btn-primary {
    width: 100px;
}

.tablePropsCount {
    float: right;
    margin-top: -3px;
}

.additional-info-list {
    font-size: 14px !important;
    padding: 6px 12px !important;
}

/* ТАБЛИЦІ */
.cargo-row > td:nth-child(1) {
    max-width: 90px;
}
.cargo-row > td:nth-child(2), .cargo-row > td:nth-child(3) {
    max-width: 150px;
}
.cargo-row > td:nth-child(4) {
    max-width: 165px;
}
.cargo-row > td:nth-child(5) {
    max-width: 45px;
}
.cargo-row > td:nth-child(6) {
    max-width: 70px;
}
.cargo-row > td:nth-child(7) {
    max-width: 90px;
}